<div class="m-b">Всего вопросов - {{$ctrl.protocol.questionsNum}}</div>
<div ng-repeat="fileProtocol in $ctrl.protocol.fileProtocol">
    <ex-file file-info="fileProtocol" show-size="true" show-date="true" check-sign="true"></ex-file>
</div>
<div class="row">
    <div class="table-responsive table-bordered">
        <table class="table">
            <thead>
            <tr>
                <th class="center" style="width:10%">№</th>
                <th class="center" style="width:45%">Вопрос</th>
                <th class="center" style="width:45%">Решения</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in $ctrl.protocol.question">
                <td class="center">
                    <span>{{question.itemNumber}}</span>
                </td>
                <td>
                    {{question.question}}
                </td>
                <td>
                    <div ng-if="!$ctrl.editing">
                        {{question.decisionText}}
                    </div>
                    <div ng-if="$ctrl.editing">
                        <input type="text" class="form-control" ng-model="question.decisionText"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>