<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="scanAndAttachSignedProtocol">
                <express-task-header protocol="$ctrl.protocol" agenda="$ctrl.agenda"></express-task-header>
                <hr/>

                <form method="get" class="form-horizontal" name="orderApproveForm">

                    <h3 class="m-b-md">Файл проекта протокола</h3>

                    <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">Отсканированная копия протокола</div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div ng-if="$ctrl.protocol.fileProtocol && $ctrl.protocol.fileProtocol.length">
                                <ex-file ng-repeat="file in $ctrl.protocol.fileProtocol" file-info="file"
                                         show-size="true"
                                         show-date="true"
                                         check-sign="true"
                                         deletable="true"
                                         on-remove="$ctrl.deleteFileProtocol(file.idFile)"
                                ></ex-file>
                            </div>
                            <div>
                                <a>
                                    <div class="dropzone" id="protocolDropzone"
                                         options="$ctrl.dzFileProtocolOptions"
                                         callbacks="$ctrl.dzFileProtocolCallbacks"
                                         methods="$ctrl.dzFileProtocolMethods" ng-dropzone>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button ng-click="$ctrl.finishTask()" class="btn btn-sm btn-primary">
                            Исполнено
                        </button>
                    </div>

                </form>

            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы задачи</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>