<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="center">№</th>
            <th class="center">ФИО и должность</th>
            <th class="center">Вид действия</th>
            <th class="center">Результат</th>
            <th class="center">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5">Согласование в управлениях</td>
        </tr>
        <tr ng-repeat="agreed in $ctrl.approvalCycleUtils.getDepartmentsApprovees($ctrl.approvalCycle)">
            <td class="center">{{agreed.approvalNum}}</td>
            <td>
                <div class="semibold">{{agreed.agreedBy.fioFull}}</div>
                <div>{{agreed.agreedBy.post}}</div>
            </td>
            <td class="center">
                <div>{{agreed.approvalType}}</div>
            </td>
            <td class="center">
                <div class="label label-{{agreed.approvalResultColor}}" ng-if="agreed.approvalResult">{{agreed.approvalResult}}</div>
                <div class="semibold">{{agreed.approvalFactDate | date: 'dd.MM.yyyy HH:mm'}}</div>
            </td>
            <td>
                <div>{{agreed.approvalNote}}</div>
                <div ng-repeat="approvalComment in agreed.approvalComment">
                    {{approvalComment.questionNumber}}. {{approvalComment.note}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">Утверждение</td>
        </tr>
        <tr ng-repeat="agreed in $ctrl.approvees">
            <td class="center">{{agreed.approvalNum}}</td>
            <td>
                <div class="semibold">{{agreed.agreedBy.fioFull}}</div>
                <div>{{agreed.agreedBy.post}}</div>
            </td>
            <td class="center">
                <div>{{agreed.approvalType}}</div>
            </td>
            <td class="center">
                <div class="label label-{{agreed.approvalResultColor}}" ng-if="agreed.approvalResult">{{agreed.approvalResult}}</div>
                <div class="semibold">{{agreed.approvalFactDate | date: 'dd.MM.yyyy HH:mm'}}</div>
            </td>
            <td>
                <div>{{agreed.approvalNote}}</div>
                <div ng-repeat="approvalComment in agreed.approvalComment">
                    {{approvalComment.questionNumber}}. {{approvalComment.note}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>