<div class="inmodal">
	<div class="my-modal-header">
		<h4>{{message}}</h4>
	</div>
	<div class="my-modal-footer modal-footer">
		<button type="button" class="btn" ng-class="ok.className" ng-click="submit()">{{ok.okButtonText || ok.label }}</button>
		<button type="button" class="btn btn-white" ng-click="cancel()">Отмена</button>
	</div>
</div>
