<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="printAndSignVisacopyByManager">
                <express-task-header protocol="$ctrl.protocol" agenda="$ctrl.agenda"></express-task-header>
                <hr/>

                <form method="get" class="form-horizontal" name="orderApproveForm">

                    <h3 class="m-b-md">Лист согласования</h3>

                    <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>

                    <express-protocol-approval-list
                            approval-cycle="$ctrl.protocol.approval.approvalCycle"></express-protocol-approval-list>

                    <express-protocol-approval-history
                            history="$ctrl.protocol.approvalHistory.approvalCycle"></express-protocol-approval-history>

                    <div class="form-group m-t-lg">
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div class="m-b-md">
                                <button type="button" class="btn btn-sm btn-primary"
                                        ng-click="$ctrl.createProtocolApprovalListFile()">
                                    <i class="fa m-r-xs"></i>Сформировать лист согласования
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label" style="text-align: left;">Дата подписания<span class="our-mandatory">*</span></label>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <date-selector ng-model="$ctrl.document.protocol.protocolApprovedDate"></date-selector>
                        </div>
                    </div>	
                    <div>
                        <button ng-click="$ctrl.documentSigned()" class="btn btn-sm btn-primary">
                            Документ подписан
                        </button>
                    </div>

                </form>

            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы задачи</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>