<div class="pull-right" style="margin-top:-10px;" >
    <a ng-click="$ctrl.editCard()" class="btn btn-white" >
        <i class="fa fa-pencil m-r-xs" ></i >
        Редактировать
    </a >
</div >
<h4 class="m-b-md" >Показатели</h4 >
<div class="table-responsive" >
    <table class="table table-bordered" >
        <thead >
        <tr >
            <th width="25%" >Показатель</th >
            <th width="25%" >Действующие</th >
            <th width="25%" >Предлагаемые</th >
            <th width="25%" >Рекомендуемые</th >
        </tr >
        </thead >
        <tbody >
        <tr >
            <td >Основные виды разрешенного использования</td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="current in $ctrl.question.questionConsider.parameters.mainVRI.current" >
                        <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                    </li >
                </ul >
            </td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="new in $ctrl.question.questionConsider.parameters.mainVRI.new" >
                        <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                    </li >
                </ul >
            </td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.mainVRI.recommended" >
                        <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                    </li >
                </ul >
            </td >
        </tr >
        <tr >
            <td >Условно разрешенные виды использования</td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="current in $ctrl.question.questionConsider.parameters.relativelyVRI.current" >
                        <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                    </li >
                </ul >
            </td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="new in $ctrl.question.questionConsider.parameters.relativelyVRI.new" >
                        <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                    </li >
                </ul >
            </td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.relativelyVRI.recommended" >
                        <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                    </li >
                </ul >
            </td >
        </tr >
        <tr >
            <td >Вспомогательные виды</td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="current in $ctrl.question.questionConsider.parameters.subVRI.current" >
                        <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                    </li >
                </ul >
                {{$ctrl.question.questionConsider.parameters.subVRI.currentComment}}
            </td >
            <td >
                <ul style="padding-left: 16px;" >
                    <li ng-repeat="new in $ctrl.question.questionConsider.parameters.subVRI.new" >
                        <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                    </li >
                </ul >
                {{$ctrl.question.questionConsider.parameters.subVRI.newComment}}
            </td >
            <td >
                <ul style="padding-left: 16px;" ng-if="$ctrl.question.questionConsider.parameters.subVRI.recommended.length > 0">
                    <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.subVRI.recommended" >
                        <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                    </li >
                </ul >
                <span >
                    {{$ctrl.question.questionConsider.parameters.subVRI.recommendedComment}}
                </span >
            </td >
        </tr >
        <tr ng-repeat="tep in $ctrl.question.questionConsider.parameters.tep" >
            <td >{{tep.tepName.name}}</td >
            <td class="white-space__pre" >{{tep.currentValue}}</td >
            <td class="white-space__pre" >{{tep.newValue}}</td >
            <td class="white-space__pre" >{{tep.recommendedValue}}</td >
        </tr >
        </tbody >
    </table >
</div >