<loading-block loading-status="$ctrl.loadingQuestionStatus" >
    <loading >
        <spinner type="'circle'" />
    </loading >
    <success >
        <h4 class="m-b-md" >Показатели</h4 >
        <div class="table-responsive" >
            <table class="table table-bordered" >
                <thead >
                <tr >
                    <th width="25%" >Показатель</th >
                    <th width="25%" >Действующие</th >
                    <th width="25%" >Предлагаемые</th >
                    <th width="25%" >Рекомендуемые</th >
                </tr >
                </thead >
                <tbody >
                <tr >
                    <td >Основные виды разрешенного использования</td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="current in $ctrl.question.questionConsider.parameters.mainVRI.current" >
                                <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="new in $ctrl.question.questionConsider.parameters.mainVRI.new" >
                                <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.mainVRI.recommended" >
                                <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                            </li >
                        </ul >
                        <button
                            type="button"
                            ng-click="$ctrl.onSelectFromReferenceClick1()"
                            class="btn btn-primary"
                        >
                            <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                        </button >
                    </td >
                </tr >
                <tr >
                    <td >Условно разрешенные виды использования</td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="current in $ctrl.question.questionConsider.parameters.relativelyVRI.current" >
                                <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="new in $ctrl.question.questionConsider.parameters.relativelyVRI.new" >
                                <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.relativelyVRI.recommended" >
                                <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >

                            </li >
                        </ul >
                        <button
                            type="button"
                            ng-click="$ctrl.onSelectFromReferenceClick2()"
                            class="btn btn-primary"
                        >
                            <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                        </button >
                    </td >
                </tr >
                <tr >
                    <td >Вспомогательные виды</td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="current in $ctrl.question.questionConsider.parameters.subVRI.current" >
                                <span class="white-space__pre" >{{current.name}} [{{current.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <ul style="padding-left: 16px;" >
                            <li ng-repeat="new in $ctrl.question.questionConsider.parameters.subVRI.new" >
                                <span class="white-space__pre" >{{new.name}} [{{new.code}}]</span >
                            </li >
                        </ul >
                    </td >
                    <td >
                        <div class="form-group" >
                            <ul style="padding-left: 16px;" >
                                <li ng-repeat="recommended in $ctrl.question.questionConsider.parameters.subVRI.recommended" >
                                    <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                                </li >
                            </ul >
                            <button
                                type="button"
                                ng-click="$ctrl.onSelectFromReferenceClick3()"
                                class="btn btn-primary"
                            >
                                <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                            </button >
                        </div >
                        <textarea class="form-control our-control m-t-xs" ng-model="$ctrl.question.questionConsider.parameters.subVRI.recommendedComment" rows="10"
                                  style="width: 100%;" ></textarea >
                    </td >
                </tr >
                <tr ng-repeat="tep in $ctrl.question.questionConsider.parameters.tep" >
                    <td >{{tep.tepName.name}}</td >
                    <td class="white-space__pre" >{{tep.currentValue}}</td >
                    <td class="white-space__pre" >{{tep.newValue}}</td >
                    <td >
                        <input
                            ng-if="tep.tepName.type==='integer'"
                            type="text"
                            class="form-control"
                            ng-model="tep.recommendedValue"
                            ng-blur="tep.recommendedValue = $ctrl.normalize(tep.recommendedValue)"
                        >
                        <textarea
                            ng-if="tep.tepName.type==='textarea'"
                            class="form-control our-control m-t-xs white-space__pre"
                            ng-model="tep.recommendedValue"
                            rows="10"
                        ></textarea >
                    </td >
                </tr >
                </tbody >
            </table >
        </div >
        <br />
        <button ng-click="$ctrl.save()" class="btn btn-sm btn-primary" >
            <i class="fa fa-pencil m-r-xs" ></i >Сохранить
        </button >

        <a ng-click="$ctrl.cancel()" class="btn btn-sm btn-default" >
            Отменить
        </a >
    </success >
</loading-block >