<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="row">
	<div class="col-lg-7">
		<h4 class="m-b-md">Вопрос к рассмотрению</h4>
		<div class="description">
			<dl class="dl-horizontal" ng-if="$ctrl.question.planningMeeting">
				<dt>
					<span>Адрес вопроса</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.address}}</dd>
				<dt>
					<span>Округ</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.prefect.join(', ')}}</dd>
				<dt>
					<span>Район</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.district.join(', ')}}</dd>
				<dt>
					<span>Кадастровый номер</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.cadastralNumber}}</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Наименование объекта</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.question.questionConsider.nameObject}}
				</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Общая площадь</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.question.questionConsider.totalArea}}
				</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Значение объекта</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.question.questionConsider.objectImportanse.name}}
				</dd>
				<dt ng-if="$ctrl.question.Renovation">
					<span>Реновация</span>
				</dt>
				<dd ng-if="$ctrl.question.Renovation">Да</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>
					<span>Рассмотрение</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.consideration}}</dd>
				<dt>
					<span>Вопрос</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.question}}</dd>
				<dt>
					<span>Категория вопроса</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.questionCategory}}</dd>
				<dt>
					<span>Основание</span>
				</dt>
				<dd>
					<span>{{$ctrl.question.questionConsider.basis.basisType}}</span>
					<span ng-if="$ctrl.basisLink">
						<a ng-href="{{$ctrl.basisLink}}">{{$ctrl.question.questionConsider.basis.number}}</a>
					</span>
					<span ng-if="!$ctrl.basisLink">{{$ctrl.question.questionConsider.basis.number}}</span>
					<span>от {{$ctrl.question.questionConsider.basis.date | date:"dd.MM.yyyy"}}</span> 
					<span>{{$ctrl.question.questionConsider.basis.note}}</span>
					<span ng-if="$ctrl.question.questionConsider.basis.numberCase">
						(дело № {{$ctrl.question.questionConsider.basis.numberCase}})
					</span>
				</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Плановая дата оказания ГУ</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>{{$ctrl.question.questionConsider.basis.planDate | date:"dd.MM.yyyy"}}</span>
				</dd>
				<dt ng-if="$ctrl.isGpzu()">
					<span>ГПЗУ</span>
				</dt>
				<dd ng-if="$ctrl.isGpzu()">
					<a ng-href="{{$ctrl.getGpzuLink()}}">{{$ctrl.question.questionConsider.gpzu}}</a>
				</dd>
				<dt ng-if="!$ctrl.isGpzu() && $ctrl.question.questionConsider.gpzu">
					<span>ГПЗУ</span>
				</dt>
				<dd ng-if="!$ctrl.isGpzu() && $ctrl.question.questionConsider.gpzu">
					<span>{{$ctrl.question.questionConsider.gpzu}}</span>
				</dd>
				<dt>
					<span>Дата направления</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.passDate | date:"dd.MM.yyyy"}}</dd>
				<dt>
					<span>Ответственное управление</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.responsiblePrepare.departmentPrepareFull}}</dd>
				<dt>
					<span>Ответственный за подготовку вопроса</span>
				</dt>
				<dd>{{$ctrl.question.questionConsider.responsiblePrepare.contractorPrepareFIO}}</dd>
				<dt ng-if="$ctrl.question.planningMeeting">
					<span>Заявитель</span>
				</dt>
				<dd ng-if="$ctrl.question.planningMeeting">{{$ctrl.question.questionConsider.customer}}</dd>
				<dt ng-if="$ctrl.question.planningMeeting">
					<span>Правообладатель</span>
				</dt>
				<dd ng-if="$ctrl.question.planningMeeting">{{$ctrl.question.questionConsider.rightHolder}}</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Проектировщик</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.question.questionConsider.designer}}
				</dd>
				<dt ng-if="$ctrl.question.questionConsider.projectAuthor">
					<span>Авторы проекта</span>
				</dt>
				<dd ng-if="$ctrl.question.questionConsider.projectAuthor">
					{{$ctrl.question.questionConsider.projectAuthor ? $ctrl.question.questionConsider.projectAuthor.join(', ') : ''}}
				</dd>
				<dt ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					<span>Эксперт</span>
				</dt>
				<dd ng-if="$ctrl.question.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.question.questionConsider.expertFio}}
				</dd>
			</dl>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="pull-right">
			<button class="btn btn-sm btn-primary" ng-click="$ctrl.editCard()" my-auth="OASI_MEETING_EDITBUTTON_QUESTION" ng-if="!$ctrl.question.questionConsider.meetingDate">
				<i class="fa fa-pencil m-r-xs"></i>Редактировать
			</button>
		</div>
		<h4>Материалы</h4>
		<loading-block loading-status="$ctrl.loadingMaterialsStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
		<div ng-repeat="material in $ctrl.question.questionConsider.materials">
			<div class="semibold m-t-sm m-b-sm" ng-init="editable = $ctrl.isEditableMaterialGroup(material.materialType)">
				<span class="m-r">{{material.materialType}}</span>
			</div>
			<div ng-repeat="document in material.document">
				<ex-file file-info="document"
						 show-size="true"
						 show-date="true"
						 deletable="editable && $ctrl.canDeleteMaterials"
						 on-remove="$ctrl.deleteDocument(fileInfo)"
				></ex-file>
			</div>
		</div>
		<div class="text-success m-t-sm m-b-sm semibold" ng-if="$ctrl.question.questionConsider.materialsChecked">
			<i class="fa fa-check"></i> Материалы проверены
		</div>
		<div class="text-default m-t-sm m-b-sm semibold" ng-if="!$ctrl.question.questionConsider.materialsChecked">Материалы не проверены</div>
		<div class="m-b">
			<small>Ответственный за подготовку презентации: {{$ctrl.question.questionConsider.presentationPrepare.fioFull}}</small>
		</div>
		<div class="m-b">
			<button ng-click="$ctrl.showAddMaterialsDialog()" ng-if="$ctrl.question.questionID" type="button" class="btn btn-w-m btn-primary" my-auth="OASI_MEETING_EDITBUTTON_MATERIALS">Добавить
				материалы</button>
		</div>
		</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке списка материалов</span> </spam> </error> </loading-block>
	</div>
</div>
<h4 class="m-b-md" ng-if="$ctrl.isUnauthBuild()">Самострой</h4>
<div class="description" ng-if="$ctrl.isUnauthBuild()">
	<dl class="dl-horizontal">
		<dt>
			<span>Наличие заявки о сохранении объекта</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.question.questionConsider.requestSaveObject">Есть</span>
			<span ng-if="!$ctrl.question.questionConsider.requestSaveObject">Нет</span>
		<dt>
			<span>Градостроительные ограничения</span>
		</dt>
		<dd>{{$ctrl.getUrbanLimitsString()}}</dd>
		<dt>
			<span>Наличие инженерных сетей</span>
		</dt>
		<dd>{{$ctrl.getNetworkEngineeringsString()}}</dd>
		<dt>
			<span>Примечание</span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.noteSquatter}}</dd>
		<dt>
			<span>Повтор</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.question.questionConsider.repeatSquatter">Да</span>
			<span ng-if="!$ctrl.question.questionConsider.repeatSquatter">Нет</span>
		</dd>
	</dl>
</div>
<div class="description" ng-if="$ctrl.question.questionConsider.requestNumber">
	<dl class="dl-horizontal">
		<dt>
			<span>Номер регистрации</span><br/>
			<span><small>в Комплексе градостроительной политики и строительства г. Москвы</small></span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.requestNumber}}</dd>
	</dl>
</div>
<h4 class="m-b-md" ng-if="$ctrl.isShowExternalProtocol()">Протокол основание</h4>
<div class="description" ng-if="$ctrl.isShowExternalProtocol()">
	<dl class="dl-horizontal">
		<dt ng-if="$ctrl.question.questionConsider.externalProtocol.commission">
			<span>Вид совещания</span>
		</dt>
		<dd ng-if="$ctrl.question.questionConsider.externalProtocol.commission">
			{{$ctrl.question.questionConsider.externalProtocol.commission.shortName}}
		</dd>
		<dt ng-if="$ctrl.question.questionConsider.externalProtocol.protocolNumber || $ctrl.question.questionConsider.externalProtocol.protocolDate">
			<span>Протокол</span>
		</dt>
		<dd ng-if="$ctrl.question.questionConsider.externalProtocol.protocolNumber || $ctrl.question.questionConsider.externalProtocol.protocolDate">
			<span>{{$ctrl.question.questionConsider.externalProtocol.protocolNumber}}</span>
			<span ng-if="$ctrl.question.questionConsider.externalProtocol.protocolDate"> от {{$ctrl.question.questionConsider.externalProtocol.protocolDate | date: 'dd.MM.yyyy'}}</span>
		</dd>
		<dt ng-if="$ctrl.question.questionConsider.externalProtocol.pointNumber">
			<span>Номер пункта</span>
		</dt>
		<dd ng-if="$ctrl.question.questionConsider.externalProtocol.pointNumber">{{$ctrl.question.questionConsider.externalProtocol.pointNumber}}</dd>
		<dt ng-if="$ctrl.question.questionConsider.externalProtocol.decision">
			<span>Решение</span>
		</dt>
		<dd ng-if="$ctrl.question.questionConsider.externalProtocol.decision">{{$ctrl.question.questionConsider.externalProtocol.decision}}</dd>
	</dl>
</div>
<h4 class="m-b-md">Решение</h4>
<div class="description">
	<dl class="dl-horizontal">
		<dt>
			<span>Решение</span>
		</dt>
		<dd>
			<question-decision decision="$ctrl.question.questionConsider.decisionType" decision-code="$ctrl.question.questionConsider.decisionTypeCode" class="semibold" small="true" />
		</dd>

		<dt ng-if="$ctrl.question.questionConsider.questionStatus">
			<span>Текст решения</span>
		</dt>
		<dd ng-if="$ctrl.question.questionConsider.questionStatus">
			<span style="white-space: pre-wrap" ng-bind-html="$ctrl.question.questionConsider.decisionText"></span>
		</dd>

		<dt ng-if="!$ctrl.question.questionConsider.questionStatus">
			<span>Проект решения</span>
		</dt>
		<dd ng-if="!$ctrl.question.questionConsider.questionStatus">
			<span style="white-space: pre-wrap" ng-bind-html="$ctrl.question.questionConsider.decisionDraft"></span>
		</dd>
	</dl>
</div>
<h4 class="m-b-md">Заседание</h4>
<div class="description">
	<dl class="dl-horizontal">
		<dt>
			<span>Планируемая дата рассмотрения</span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.planDate | date: "dd.MM.yyyy"}}</dd>
		<dt>
			<span>Дата заседания</span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.meetingDate | date: "dd.MM.yyyy"}}</dd>
		<dt>
			<span>Номер протокола</span>
		</dt>
		<dd>
			<my-auth-link my-auth="OASI_MEETING_CARD_PROTOCOL" ng-if="$ctrl.protocol" ui-sref="app.ssmka.protocol({id: $ctrl.protocol.protocolID})">{{$ctrl.question.questionConsider.meetingNumber}}</a>
			<span ng-if="!$ctrl.protocol">{{$ctrl.question.questionConsider.meetingNumber}}</span>
		</dd>
		<dt>
			<span>Номер пункта</span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.itemNumber}}</dd>
		<dt>
			<span>Докладчик</span>
		</dt>
		<dd>{{$ctrl.question.questionConsider.speaker.organizationShort}}</dd>
		<dt>
			<span>Содокладчики</span>
		</dt>
		<dd>
			<div ng-repeat="cospeaker in $ctrl.question.questionConsider.cospeaker">{{cospeaker.organizationShort}}</div>
		</dd>
		<dt>
			<span>Статус</span>
		</dt>
		<dd>
			<span ng-if="$ctrl.question.questionConsider.questionStatus">Вопрос рассмотрен</span> <span ng-if="!$ctrl.question.questionConsider.questionStatus">Вопрос планируется к рассмотрению</span>
		</dd>
	</dl>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
