<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <div class="table-overflow-container" ng-if="$ctrl.documents.length" style="overflow-x: auto;">
            <table class="table search-result-table table-striped table-hover table-instructions" style="font-size:14px;color: #676a6c;">
                <!--ng-init="$ctrl.change('planDateInst', 'desc', 'Срок исполнения')"-->
                <thead>
                <tr style="border-top: 1px solid #f0f0f0;font-weight:600;">
                    <th style="font-weight: 600;" data-info="condition">Статус</th>
                    <th style="font-weight: 600;" data-info="docDateInst">Дата поручения</th>
                    <th style="font-weight: 600;" data-info="docNumberInst">Номер поручения</th>
                    <th style="font-weight: 600;" data-info="creatorInst">Автор поручения</th>
                    <th style="font-weight: 600;" data-info="contentInst">Содержание</th>
                    <th style="font-weight: 600;" data-info="planDateInst">Срок исполнения</th>
                    <th style="font-weight: 600;" data-info="executorInst">Ответственный исполнитель</th>
                    <th style="font-weight: 600;" data-info="coExecutorsInst">Исполнитель</th>
                    <th style="font-weight: 600;" data-info="priorityInst">Приоритет</th>
                    <th style="font-weight: 600;" data-info="reportDateInst">Дата исполнения</th>
                    <th style="font-weight: 600;" data-info="acceptDateInst">Дата принятия</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in $ctrl.documents track by d.documentId"><!-- ng-click="$ctrl.onRowLink(d.link)"-->
                    <td style="white-space: nowrap;"><a href="{{d.link}}"><span
                            ng-repeat="status in $ctrl.lists.conditions | filter: {name: d.condition}"
                            class="label label-{{status.color}}">{{d.condition}}</span></a></td>
                    <td><a href="{{d.link}}">{{d.docDateInst | date: 'dd.MM.yyyy'}}</a></td>
                    <td><a href="{{d.link}}">{{d.docNumberInst}}</a></td>
                    <td><a href="{{d.link}}">{{d.creatorInst}}</a></td>
                    <td><a href="{{d.link}}">
                        <div ng-if="d.contentInst" class="m-b-xs">{{d.contentInst}}</div>
                        <div ng-if="d.themeInst" class="m-b-xs">{{d.themeInst}}</div>
                        <div ng-if="d.difficultyInst">{{d.difficultyInst}}</div>
                    </a></td>
                    <td><a href="{{d.link}}">{{d.planDateInst | date: 'dd.MM.yyyy'}}</a></td>
                    <td><a href="{{d.link}}">{{d.executorInst}}</a></td>
                    <td><a href="{{d.link}}">{{d.coExecutorsInst ? d.coExecutorsInst.join(', ') : ''}}</a></td>
                    <td><a href="{{d.link}}"><span
                            ng-repeat="priority in $ctrl.lists.priority | filter: {name: d.priorityInst}"
                            class="text-{{priority.color}}">{{d.priorityInst}}</span></a></td>
                    <td><a href="{{d.link}}">{{d.reportDateInst | date: 'dd.MM.yyyy'}}</a></td>
                    <td><a href="{{d.link}}">{{d.acceptDateInst | date: 'dd.MM.yyyy'}}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!$ctrl.documents.length">
            <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения</h1>
            </div>
        </div>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при получении списка поручений</span></spam>
    </error>
</loading-block>