
<div class="pull-right">
	<button class="btn btn-sm btn-primary" ng-click="$ctrl.editRG()">
		<i class="fa fa-pencil m-r-xs"></i>Редактировать
	</button>
</div>
<h4 class="m-b-md">Подготовка материалов на РГ ГЗК</h4>
<div class="text-navy m-t-xs m-b-md semibold" ng-if="$ctrl.questionRG.materialsSent">
	<i class="fa fa-check"></i> Материалы отправлены на РГ ГЗК {{$ctrl.questionRG.materialsSent | date: "dd.MM.yyyy"}}
</div>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Тип</th>
				<th>Файл</th>
				<th>Ответственный</th>
				<th>Учет замечаний</th>
				<th>Состояние</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="material in $ctrl.questionRG.materials">
				<td>{{material.materialType}}</td>
				<td>
					<ex-file file-info="material.document"
							 show-size="true"
					></ex-file>
				</td>
				<td>{{material.materialType.contractorNote.fioFull}}</td>
				<td>
					<div ng-repeat="remark in material.remark">
						<span ng-if="remark.remarkFixed"> <i class="fa fa-check text-success"></i>
						</span> <span> {{remark.remarkContent}} </span> <span> {{remark.remarkAuthor.fioShort}} </span> <span> {{remark.remarkDate}} </span> <span ng-if="remark.remarkFixedDate"> (учтено
							{{remark.remarkFixedDate}}) </span>
					</div>
				</td>
				<td>
					<div>
						<span class="label label-success" ng-if="material.approved">Одобрено</span> <span class="label label-default" ng-if="!material.approved">Не одобрено</span>
					</div>
					<div class="m-t-xs">
						<small ng-if="material.approvedCancelDate">{{material.approvedCancelDate | date: "dd.MM.yyyy"}}</small> <small ng-if="!material.approvedCancelDate">{{material.approvedDate | date:
							"dd.MM.yyyy"}}</small>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>