<form role="form" class="m-t form-horizontal" name="commentForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Комментарий по вопросу</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Содержание</label>
				<textarea rows="5" cols="10" class="form-control" ng-model="$ctrl.comment" required=""></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-disabled="!commentForm.$valid" ng-click="$ctrl.save()">Сохранить</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
		</div>
	</div>
</form>

