<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 50px"></th>
                    <th style="width: 600px">Организация</th>
                    <th style="width: 400px">Представитель</th>
                    <th>Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="externalAgree in $ctrl.question.questionConsider.externalAgree">
                    <td class="h2 center"><span ng-class="$ctrl.pzzExternalAgree[externalAgree.organizationCode].icon"></span></td>
                    <td>{{externalAgree.organization}}</td>
                    <td>{{$ctrl.getRepresentativeFioFull(externalAgree)}}</td>
                    <td ng-init="comment = $ctrl.getComment(externalAgree)">
                        <div>{{comment.comment}}</div>
                        <div class="text-muted">{{comment.date | date: "dd.MM.yyyy"}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при получении списка внешних согласующих</span></spam>
    </error>
</loading-block>