<form role="form" class="m-t form-horizontal" name="addMaterialsForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Добавление материалов</h4>
		</div>
		<div class="modal-body">
			<div class="form-group" ng-repeat="materialType in $ctrl.materialTypes">
				<label class="col-lg-3 col-md-3 col-sm-3 control-label">{{materialType.materialType}}</label>
				<div class="col-lg-7 col-md-8 col-sm-9">
					<a>
						<div class="dropzone" id="edit-materials-{{$index}}-dropzone" name="edit-materials-{{$index}}-dropzone">
							<div class="dz-message m-t-lg m-b-lg">Загрузить файл</div>
						</div>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
			<div ng-if="$ctrl.questionHistory.length > 0">
				<h4>Использовать материалы предыдущего рассмотрения</h4>
				<div ng-repeat="question in $ctrl.questionHistory">
					<div>
						<h5>
							<span>{{question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</span>
							<span>№<my-auth-link my-auth="OASI_MEETING_CARD_QUESTION" ui-sref="app.ssmka.question({id: question.questionID})">{{question.questionConsider.meetingNumber}}</a></span> <span>п.{{question.questionConsider.itemNumber}}</span> <span ng-if="question.questionConsider.questionStatus">(вопрос
								рассмотрен)</span> <span ng-if="!question.questionConsider.questionStatus">(вопрос планируется к рассмотрению)</span>
						</h5>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Тип документа</th>
									<th>Файл</th>
									<th>Использовать</th>
								</tr>
							</thead>
							<tbody ng-repeat="material in question.questionConsider.materials">
								<tr ng-repeat="document in material.document">
									<td>{{material.materialType}}</td>
									<td>
										<ex-file file-info="document"
												 show-size="true"
										></ex-file>
									</td>
									<td>
										<input type="checkbox" icheck ng-model="$ctrl.copies[document.idFile]">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
		</div>
	</div>
</form>

