<loading-block loading-status="$ctrl.loadingAppStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="pull-right m-t-md">
	<button class="btn btn-sm btn-violet"
			ng-click="$ctrl.createInstruction()"
			title="Создать поручение"
			ng-if="$ctrl.question.questionID && !$ctrl.editingCard && $ctrl.availableToAddInstruction">
		<i class="fa fa-file"></i> Дать поручение
	</button>
    <button ng-if="$ctrl.question.questionConsider.questionStatus && $ctrl.availableToCopy" class="btn btn-sm btn-muted" title="Создать копию" ng-click="$ctrl.copy()">
        <i class="fa fa-copy"></i> Скопировать
    </button>
	<button class="btn btn-sm btn-default" ng-if="!$ctrl.editingCard && $ctrl.question.meetingType === $ctrl.MeetingType.SSMKA" ng-click="$ctrl.previewExcerpt()" my-auth="OASI_MEETING_PRINTBUTTON_QUESTION">Сформировать выписку</button>
</div>
<div class="m-b-xs">

	<h2 class="m-t-md">
		<small>{{$ctrl.question.meetingFullName}}</small>
	</h2>
	<h2 class="m-t-sm semibold" ng-if="$ctrl.question.planningMeeting">
		<question-address address="$ctrl.question.questionConsider.address"
						  prefect ="$ctrl.question.questionConsider.prefect"
						  district="$ctrl.question.questionConsider.district">
		</question-address>
		<span ng-if="$ctrl.question.questionConsider.cadastralNumber">
			Кад. № {{$ctrl.question.questionConsider.cadastralNumber}}
		</span>
	</h2>

	<h4 ng-if="$ctrl.question.planningMeeting">
		{{$ctrl.question.questionConsider.question}}
	</h4>

	<h2 class="semibold" ng-if="!$ctrl.question.planningMeeting">
		{{$ctrl.question.questionConsider.question}}
	</h2>

	<span ng-if="!$ctrl.question.questionConsider.meetingDate"> Планируемая дата рассмотрения {{$ctrl.question.questionConsider.planDate | date:"dd.MM.yyyy"}} </span>
	<span ng-if="$ctrl.question.questionConsider.meetingDate">
		<span>{{$ctrl.question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</span>
		<span ng-if="$ctrl.protocol">№ <my-auth-link my-auth="OASI_MEETING_CARD_PROTOCOL" ui-sref="app.ssmka.protocol({id: $ctrl.protocol.protocolID})">{{$ctrl.question.questionConsider.meetingNumber}}</a></span>
		<span ng-if="!$ctrl.protocol">№ {{$ctrl.question.questionConsider.meetingNumber}}</span>
		<span>п. {{$ctrl.question.questionConsider.itemNumber}}</span>
	</span>
	<div class="m-t m-b">
		<span class="label label-success m-r-sm" ng-if="$ctrl.question.questionConsider.questionStatus">Вопрос рассмотрен</span> <span class="label label-default m-r-sm"
			ng-if="!$ctrl.question.questionConsider.questionStatus">Вопрос планируется к рассмотрению</span>
		<question-decision decision="$ctrl.question.questionConsider.decisionType" decision-code="$ctrl.question.questionConsider.decisionTypeCode" class="semibold" small="true" />
	</div>
</div>
<div class="row">
	<uib-tabset active="$ctrl.activeTab" template-url="app/components/ssmka/question/question-tabs.html">
		<uib-tab heading="Карточка" index="0"> <!--Карточка-->
			<div  ng-if="!$ctrl.editingCard">
				<question-view question-promise="$ctrl.questionPromise" edit="$ctrl.editCard(val)" />
			</div>
			<div ng-if="$ctrl.editingCard">
				<question-edit question-promise="$ctrl.questionPromise" save-question="$ctrl.saveQuestion(question)" cancel="$ctrl.cancelEditCard()" />
			</div>
		</uib-tab>
		<uib-tab heading="История рассмотрений" index="1">
			<h4 class="m-b-md">История рассмотрений</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="90">Дата</th>
							<th width="150">Заседание</th>
							<th>Решение</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="question in $ctrl.questionHistory | orderBy: question.questionConsider.meetingDate">
							<td>{{question.questionConsider.meetingDate | date:"dd.MM.yyyy"}}</td>
							<td>
								<span ng-if="!question.questionConsider.meetingNumber"><a ui-sref="app.ssmka.question({id: question.questionID})">{{question.meetingShortName}}</a></span>
								<span ng-if="question.questionConsider.meetingNumber">{{question.meetingShortName}}</span>
								<span ng-if="question.questionConsider.meetingNumber">№<a ui-sref="app.ssmka.question({id: question.questionID})">{{question.questionConsider.meetingNumber}}</a></span>
								<span ng-if="question.questionConsider.itemNumber">п.{{question.questionConsider.itemNumber}}</span></td>
							<td>
								<div class="semibold m-b-xs">{{question.questionConsider.decisionType}}</div>
								<div ng-bind-html="question.questionConsider.decisionText"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>
		<uib-tab heading="Комментарии" index="2">
			<div class="pull-right">
				<a class="btn btn-sm btn-primary" ng-disabled="!$ctrl.question.questionID" ng-click="$ctrl.showAddCommentDialog()" my-auth="OASI_MEETING_ADDBUTTON_COMMENT"
					ng-if="!$ctrl.question.questionConsider.meetingDate"> <i class="fa fa-plus m-r-xs"></i>Добавить комментарий
				</a>
			</div>

			<h4 class="m-b-md">Комментарии</h4>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Дата</th>
							<th>Организация</th>
							<th>Автор</th>
							<th width="50%">Комментарий</th>
							<th ng-if="$ctrl.hasEditCommentPermission"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="comment in $ctrl.question.comments">
							<td>
								{{comment.date | date: "dd.MM.yyyy"}}
							</td>
							<td>
								{{$ctrl.getCommentOrganization(comment)}}
							</td>
							<td>{{comment.author.fioFull}}</td>
							<td>
								<div style="white-space: pre">{{comment.comment}}</div>
							</td>
							<td ng-if="$ctrl.hasEditCommentPermission">
								<button class="btn btn-sm btn-default" ng-click="$ctrl.showEditCommentDialog($index)" ng-if="!$ctrl.question.questionConsider.meetingDate && comment.author.accountName === $ctrl.accountName"><i class="fa fa-pencil"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>
		<uib-tab heading="Показатели" ng-if="$ctrl.showIndicatorsTab" index="3">
			<div  ng-if="!$ctrl.editingIndicators">
				<indicators-view question-promise="$ctrl.questionPromise" edit="$ctrl.editIndicators(val)" />
			</div>
			<div ng-if="$ctrl.editingIndicators">
				<indicators-edit question-promise="$ctrl.questionPromise" save-question="$ctrl.saveQuestion(question)" cancel="$ctrl.cancelEditIndicators()" />
			</div>
		</uib-tab>
		<uib-tab ng-if="$ctrl.question.questionConsider.decisionTypeCode === 'TO-RGGZK' || $ctrl.question.questionConsider.decisionTypeCode === 'TO-RGGZK2'" heading="РГ ГЗК" index="4">
			<div ng-if="!$ctrl.editingRG">
				<question-rg-view questionRG="$ctrl.question.questionRG" edit="$ctrl.editRG(val)" />
			</div>
			<div ng-if="$ctrl.editingRG">
				<question-rg-edit questionRG="$ctrl.question.questionRG" />
			</div>
		</uib-tab>
		<uib-tab heading="Поручения" index="4">
			<question-instructions question-promise="$ctrl.questionPromise"></question-instructions>
		</uib-tab>
		<uib-tab heading="Внешние согласующие" index="5">
			<question-external-agree question-promise="$ctrl.questionPromise"></question-external-agree>
		</uib-tab>
		<uib-tab ng-if="$ctrl.question.meetingType === 'AS'" heading="ТЭПы" index="6">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>Показатель</th>
						<th>Значение</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="tep in $ctrl.question.questionConsider.parameters.tep">
						<td>
							{{tep.tepName.name}}
						</td>
						<td>
							{{tep.currentValue}}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
