<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="prepareDecisionProtocol">
                <express-task-header protocol="$ctrl.protocol" agenda="$ctrl.agenda"></express-task-header>
                <hr/>

                <form method="get" class="form-horizontal" name="orderApproveForm">

                    <div class="form-group" ng-if="$ctrl.protocol.protocolInfo.durationMeeting">
                        <label class="col-lg-3 col-md-3 col-sm-3">Продолжительность совещания</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <span>{{ $ctrl.formatTime($ctrl.protocol.protocolInfo.durationMeeting) }}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-if="$ctrl.protocol.protocolInfo.considerationTopic">
                        <label class="col-lg-3 col-md-3 col-sm-3">Рассмотрение вопроса по темам</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <span>{{ $ctrl.formatTime($ctrl.protocol.protocolInfo.considerationTopic) }}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-if="$ctrl.protocol.protocolInfo.other">
                        <label class="col-lg-3 col-md-3 col-sm-3">Прочее</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <span>{{ $ctrl.formatTime($ctrl.protocol.protocolInfo.other) }}</span>
                        </div>
                    </div>

                    <h3 class="m-b-md">Лист согласования</h3>

                    <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>

                    <express-protocol-approval-list
                            approval-cycle="$ctrl.protocol.approval.approvalCycle"></express-protocol-approval-list>

                    <express-protocol-approval-history
                            history="$ctrl.protocol.approvalHistory.approvalCycle"></express-protocol-approval-history>

                    <h4 class="m-t-lg">Ваше решение</h4>


                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Комментарий
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                    <textarea class="form-control our-control"
                              name="approvalNote"
                              rows="2"
                              ng-model="$ctrl.agreed.approvalNote">
                    </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Файл
                        </label>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <ex-file-manager files="$ctrl.agreed.fileApproval" downloadable="true"
                                             folder-guid="$ctrl.parentFolderGuid" ext-pattern="'doc,docx,pdf'"
                                             file-type="'MkaDocOther'"
                                             show-size="true" show-date="true"
                            >

                            </ex-file-manager>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3"></div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <button type="button"
                                    class="btn btn-sm btn-success"
                                    ng-click="$ctrl.approve();"
                            >
                                <i class="fa m-r-xs fa fa-laptop"></i>Согласовано
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-danger"
                                    ng-click="$ctrl.sendBackToWork()"
                            >
                                <i class="fa m-r-xs"></i>На доработку
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-info"
                                    ng-click="$ctrl.addApproval()"
                            >
                                <i class="fa m-r-xs"></i>Добавить согласующего
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы задачи</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>