<span ng-class="$ctrl.decisionClass">
	<small ng-if="$ctrl.small"><i class="fa" ng-class="$ctrl.decisionIcon"></i>&nbsp;{{$ctrl.decision}}</small>
	<span ng-if="!$ctrl.small"><i class="fa" ng-class="$ctrl.decisionIcon"></i>&nbsp;{{$ctrl.decision}}</span>
</span>