<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="approveProtocAndConcl">
                <h2 class="m-t-sm semibold">
                    {{$ctrl.meetingType}} {{$ctrl.protocol.meetingDate | date:'dd.MM.yyyy'}}
                </h2>

                <div style="margin-bottom:20px;">
                    <h3>Протокол</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            Протокол
                        </dt>
                        <dd>
                            <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                                     show-size="true"
                                     show-date="true"
                                     check-sign="true"
                            ></ex-file>
                        </dd>
                    </dl>
                </div>
                <div ng-if="$ctrl.showConclusion">
                    <h3>Заключение ГК</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            Заключение ГК
                        </dt>
                        <dd>
                            <ex-file file-info="$ctrl.protocol.fileConclusionDraft"
                                     show-size="true"
                                     show-date="true"
                                     check-sign="true"
                            ></ex-file>
                        </dd>
                    </dl>
                </div>

                <h4 class="m-t-md semibold">Комментарии от согласующих по вопросам</h4>
                <div class="m-b-md">Всего вопросов - {{$ctrl.questions.length}}</div>

                <questions-comments questions="$ctrl.questions" decisions="$ctrl.decisions"></questions-comments>

                <h4 class="semibold m-b-xs">Комментарии к вопросам</h4>
                <div class="m-b-md">* Выберите вопрос, к которому хотите добавить комментарий и введите его в поле
                    напротив
                </div>

                <questions-comments-add questions="$ctrl.questions" questions-comments="$ctrl.questionsComments"></questions-comments-add>

                <expanded-section
                        show="true"
                        ng-init="approvalListExpanded = true"
                        expand="approvalListExpanded">
                    <header style="display:inline;" class="semibold">Лист согласования</header>
                    <content>
                        <div class="m-b-md"></div>
                        <protocol-approval-list
                                approval-cycle="$ctrl.protocol.approval.approvalCycle"></protocol-approval-list>
                    </content>
                </expanded-section>

                <div ng-if="$ctrl.protocol.approvalHistory && $ctrl.protocol.approvalHistory.approvalCycle && $ctrl.protocol.approvalHistory.approvalCycle.length">
                    <protocol-approval-history approval-cycle="$ctrl.protocol.approvalHistory.approvalCycle"></protocol-approval-history>
                </div>

                <form class="form-horizontal m-t-md" name="commentForm">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Комментарий
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <textarea rows="3" class="form-control" ng-model="$ctrl.comment"></textarea>
                        </div>
                    </div>
                </form>

                <div style="margin-top: 30px;">
                    <button
                            ng-click="$ctrl.approve()"
                            ng-disabled="$ctrl.comment || $ctrl.hasQuestionsComments()"
                            style="margin-right: 5px;"
                            class="btn btn-sm btn-primary"
                    >
                        Согласовать
                    </button>
                    <button
                            ng-click="$ctrl.reject()"
                            ng-disabled="!$ctrl.comment && !$ctrl.hasQuestionsComments()"
                            style="margin-right: 5px;"
                            class="btn btn-sm btn-danger"
                    >
                        На доработку
                    </button>
                    <button ng-if="!$ctrl.isStroyUser && $ctrl.canAddApprovals"
                            ng-click="$ctrl.addApprovee()"
                            style="margin-right: 5px;"
                            class="btn btn-sm btn-default"
                    >
                        Добавить доп. согласующих
                    </button>
                </div>

            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>