<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="m-t-md pull-right">
</div>
<h2 class="m-t-md semibold">Проекты повесток заседаний</h2>
<p class="m-b-md">
	<span class="m-r">Всего найдено — {{$ctrl.searchResult.total}}</span>
</p>
<loading-block loading-status="$ctrl.loadingDataStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="center"><a ng-click="$ctrl.toggleSorting()">Дата<i class="fa fa-caret-down m-l-xs" ng-class='{"fa-caret-down": !$ctrl.sortingAsc, "fa-caret-up": $ctrl.sortingAsc}'></i></a></th>
				<th class="center">Заседание</th>
				<th class="center">Время начала</th>
				<th class="center">Место проведения</th>
				<th class="center">Вопросов</th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="agenda in $ctrl.searchResult.data">
				<td class="center">{{agenda.meetingDate | date:"dd.MM.yyyy"}}</td>
				<td class="center">
					<div class="semibold">
						<a ui-sref="app.ssmka.agenda({id: agenda.agendaID})" ng-if="$ctrl.hasViewPermission"> 
							<span>Заседание</span> <span>{{$ctrl.meetingTypes[agenda.meetingType]}}</span>
						</a>
						<div ng-if="!$ctrl.hasViewPermission"> 
							<span>Заседание</span> <span>{{$ctrl.meetingTypes[agenda.meetingType]}}</span>
						</div>
					</div>
				</td>
				<td class="center"><time-renderer ng-model="agenda.meetingTime" format="HH:mm"></time-renderer></td>
				<td class="center">{{agenda.meetingPlace}}</td>				
				<td class="center">{{$ctrl.questionsCounts[agenda.agendaID]}}</td>
			</tr>
		</tbody>
	</table>
</div>

<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
    <span class="fa fa-times-circle"></span>
	<span> Записи не найдены</span>
</span>

<div class="m-b">
    <div class="clearfix">
        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
            <pagination data="$ctrl.pagination" on-change="$ctrl.reload()"></pagination>
        </div>
    </div>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке данных</span> </spam> </error> </loading-block>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>