<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="m-t-md pull-right">
	<button type="button" class="btn btn-white" ng-class="{'active': $ctrl.viewExtSearch}" ng-click="$ctrl.toggleViewExtSearch()">
		<i class="fa m-r-xs" ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}"></i>Расширенный поиск
	</button>
</div>
<h2 class="m-t-md semibold">Повестки заседаний</h2>
<div ng-if="$ctrl.viewExtSearch">
	<hr />
	<published-ext-search apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()" />
</div>
<p class="m-b-md">
	<span class="m-r">Всего найдено — {{$ctrl.searchResult.total}}</span>
</p>
<loading-block loading-status="$ctrl.loadingDataStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th ng-click="$ctrl.toggleSorting('meetingHeld')">
					Статус
					<i ng-if="$ctrl.isSorted('meetingHeld')" class="fa m-l-xs"
					   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
					<i ng-if="!$ctrl.isSorted('meetingHeld')"
					   class="fa fa-angle-down m-l-xs text-muted"></i>
				</th>
				<th ng-click="$ctrl.toggleSorting('meetingDate')">
					Дата
					<i ng-if="$ctrl.isSorted('meetingDate')" class="fa m-l-xs"
					   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
					<i ng-if="!$ctrl.isSorted('meetingDate')"
					   class="fa fa-angle-down m-l-xs text-muted"></i>
				</th>
				<th ng-click="$ctrl.toggleSorting('meetingTypeOrder')">
					Заседание
					<i ng-if="$ctrl.isSorted('meetingTypeOrder')" class="fa m-l-xs"
					   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
					<i ng-if="!$ctrl.isSorted('meetingTypeOrder')"
					   class="fa fa-angle-down m-l-xs text-muted"></i>
				</th>
				<th class="center">Время начала</th>
				<th ng-click="$ctrl.toggleSorting('questionsNum')">
					Вопросов
					<i ng-if="$ctrl.isSorted('questionsNum')" class="fa m-l-xs"
					   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
					<i ng-if="!$ctrl.isSorted('questionsNum')"
					   class="fa fa-angle-down m-l-xs text-muted"></i>
				</th>
				<th class="center">Изменения повестки</th>
				<th class="center">Дата изменения</th>
			</tr>

		</thead>
		<tbody>
			<tr ng-repeat="agenda in $ctrl.searchResult.data">
				<td class="center">
					<span class="label label-primary" ng-if="!agenda.meetingHeld">Планируется</span>
					<span class="label label-success" ng-if="agenda.meetingHeld">Проведено</span>
				</td>
				<td class="center">{{agenda.meetingDate | date:"dd.MM.yyyy"}}</td>
				<td>
					<div class="semibold">
						<a ui-sref="app.ssmka.agenda({id: agenda.agendaID})" ng-if="$ctrl.hasViewPermission"> 
							<span>Заседание</span> <span>{{$ctrl.meetingTypes[agenda.meetingType]}}</span> <span ng-if="agenda.meetingNumber">№ {{agenda.meetingNumber}}</span>
						</a>
						<div ng-if="!$ctrl.hasViewPermission"> 
							<span>Заседание</span> <span>{{$ctrl.meetingTypes[agenda.meetingType]}}</span> <span ng-if="agenda.meetingNumber">№ {{agenda.meetingNumber}}</span>
						</div>
					</div>
				</td>
				<td class="center"><time-renderer ng-model="agenda.meetingTime" format="HH:mm"></time-renderer></td>
				<td class="center">{{$ctrl.questionsCounts[agenda.agendaID]}}</td>
				<td>
					<span ng-if="$ctrl.agendasChanges[agenda.agendaID].added.length > 0">
						Добавлены вопросы: {{$ctrl.agendasChanges[agenda.agendaID].added.join(', ')}}
					</span> 
					<span ng-if="$ctrl.agendasChanges[agenda.agendaID].excluded.length > 0">
						Исключены вопросы: {{$ctrl.agendasChanges[agenda.agendaID].excluded.join(', ')}}
					</span>
				</td>
				<td class="center">{{$ctrl.agendasChangeDates[agenda.agendaID] | date:"dd.MM.yyyy HH:mm"}}</td>
			</tr>
		</tbody>
	</table>
</div>

<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
    <span class="fa fa-times-circle"></span>
	<span> Записи не найдены</span>
</span>

<div class="m-b">
    <div class="clearfix">
        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
            <pagination data="$ctrl.pagination" on-change="$ctrl.reload()"></pagination>
        </div>
    </div>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке данных</span> </spam> </error> </loading-block>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>