<loading-block loading-status="$ctrl.loadingAppStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
    <form class="form-horizontal" name="extSearchForm" ng-submit="$ctrl.apply()">
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Статус</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <select class="form-control our-select" ng-model="$ctrl.searchFilter.protocolApproved" ng-options="item as item for item in $ctrl.protocolApprovedOptions">
                    <option />
                </select>
                <div class="pull-right">
                    <span class="caret our-caret"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Дата протокола</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <date-range-selector model-from="$ctrl.searchFilter.meetingDate.startDate" model-to="$ctrl.searchFilter.meetingDate.endDate" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Вид заседания</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <ui-select
                        multiple
                        ng-model="$ctrl.searchFilter.meetingTypes"
                >
                    <ui-select-match>{{$item.meetingFullName}}</ui-select-match>
                    <ui-select-choices repeat="option.meetingType as option in $ctrl.meetingTypes">{{option.meetingFullName}}</ui-select-choices>
                </ui-select>
                <div class="pull-right">
                    <span class="caret our-caret"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Номер заседания</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.meetingNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 control-label">Протокол утвердил</label>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <ui-select
                        multiple
                        ng-model="$ctrl.searchFilter.approvedBy"
                >
                    <ui-select-match>{{$item.displayName}}</ui-select-match>
                    <ui-select-choices repeat="option.accountName as option in $ctrl.approvers | filter: $select.search | orderBy: 'displayName'">
                        <div ng-bind-html="option.displayName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <div class="pull-right">
                    <span class="caret our-caret"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-9 col-sm-10">
                <button type="submit" class="btn btn-w-m btn-primary">Найти</button>
                <button ng-click="$ctrl.cancel()" type="button" class="btn btn-w-m btn-default">Отменить все</button>
            </div>
        </div>
    </form>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации формы</span> </spam> </error> </loading-block>