<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="m-t-md pull-right">
	<button type="button" class="btn btn-white" ng-class="{'active': $ctrl.viewExtSearch}" ng-click="$ctrl.toggleViewExtSearch()">
		<i class="fa m-r-xs" ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}"></i>Расширенный поиск
	</button>
</div>
<h2 class="m-t-md semibold">Протоколы заседаний</h2>
<div ng-if="$ctrl.viewExtSearch">
	<hr />
	<protocols-ext-search apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()" />
</div>
<p class="m-b-md">
	<span class="m-r">Всего найдено — {{$ctrl.searchResult.total}}</span>
</p>
<loading-block loading-status="$ctrl.loadingDataStatus"> <loading> <spinner type="'circle'" /> </loading>
	<success>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="center" ng-click="$ctrl.toggleSorting('protocolApproved')">
							Статус
							<i ng-if="$ctrl.isSorted('protocolApproved')" class="fa m-l-xs"
							   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
							<i ng-if="!$ctrl.isSorted('protocolApproved')"
							   class="fa fa-angle-down m-l-xs text-muted"></i>
						</th>
						<th class="center" ng-click="$ctrl.toggleSorting('meetingDate')">
							Дата
							<i ng-if="$ctrl.isSorted('meetingDate')" class="fa m-l-xs"
							   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
							<i ng-if="!$ctrl.isSorted('meetingDate')"
							   class="fa fa-angle-down m-l-xs text-muted"></i>
						</th>
						<th width="80%" ng-click="$ctrl.toggleSorting('meetingTypeOrder')">
							Заседание
							<i ng-if="$ctrl.isSorted('meetingTypeOrder')" class="fa m-l-xs"
							   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
							<i ng-if="!$ctrl.isSorted('meetingTypeOrder')"
							   class="fa fa-angle-down m-l-xs text-muted"></i>
						</th>
						<th class="center" ng-click="$ctrl.toggleSorting('questionsNum')">
							Вопросов
							<i ng-if="$ctrl.isSorted('questionsNum')" class="fa m-l-xs"
							   ng-class="{'fa-caret-down': !$ctrl.sortingAsc, 'fa-caret-up': $ctrl.sortingAsc}"></i>
							<i ng-if="!$ctrl.isSorted('questionsNum')"
							   class="fa fa-angle-down m-l-xs text-muted"></i>
						</th>
					</tr>
		
				</thead>
				<tbody>
					<tr ng-repeat="protocol in $ctrl.searchResult.data">
						<td class="center">
							<span ng-if="!protocol.protocolApproved" class="label label-primary">
								Не утвержден
							</span>
							<span ng-if="protocol.protocolApproved" class="label label-success">
								Утвержден
							</span>
						</td>
						<td class="center">{{protocol.meetingDate | date:"dd.MM.yyyy"}}</td>
						<td>
							<div class="semibold">
								<a ui-sref="app.ssmka.protocol({id: protocol.protocolID})" ng-if="$ctrl.hasViewPermission">
									<span>Заседание</span> <span>{{$ctrl.meetingTypes[protocol.meetingType]}}</span> <span>№ {{protocol.meetingNumber}}</span>
								</a>
								<div ng-if="!$ctrl.hasViewPermission">
									<span>Заседание</span> <span>{{$ctrl.meetingTypes[protocol.meetingType]}}</span> <span>№ {{protocol.meetingNumber}}</span>
								</div>
							</div>
						</td>
						<td class="center">{{protocol.questionsNum}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
		    <span class="fa fa-times-circle"></span>
			<span> Записи не найдены</span>
		</span>
		
		<div class="m-b">
		    <div class="clearfix">
		        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
		            <pagination data="$ctrl.pagination" on-change="$ctrl.reload()"></pagination>
		        </div>
		    </div>
		</div>		
	</success> 
	<error>
		<spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке данных</span> </spam> 
	</error>
</loading-block>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
