<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <div class="m-b">Всего листов голосования - {{$ctrl.questionsCount}}</div>
        <div class="table-responsive">
            <table class="table our-table-xs table-bordered voting-table">
                <thead>
                <tr>
                    <th class="center col-xs-1">ФИО участников</th>
                    <th class="center col-xs-4">Роль</th>
                    <th class="center col-xs-4">Лист голосования</th>
                </tr>
                </thead>
                <tbody>
                <tr
                    ng-repeat="row in $ctrl.tableData track by $index"
                    class="voting-table-row"
                >
                    <td
                        ng-bind="row.iofShort"
                    >
                    </td>
                    <td
                        ng-bind="row.role"
                    >
                    </td>
                    <td
                    >
                        <ex-file ng-if="row.file !== null" file-info="row.file"
                                 show-size="true"
                                 show-date="true"
                                 check-sign="true"
                        ></ex-file>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка при формировании истории процесса!</span>
        </div>
    </error>
    <loading>
        <spinner type="'circle'" />
    </loading>
</loading-block>
