<h2 class="semibold m-t-md">Мои задачи</h2>
<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.tasksLoadStatus">
        <success>
            <div class="m-b-md" ng-show="$ctrl.numberOfTasks == 0">
                <div class="form-horizontal">
                    <div class="clearfix">
                        <div class="m-t-sm"><span class="fa fa-exclamation-triangle text-warning"></span> <span>Список задач пуст!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.numberOfTasks > 0" class="m-t-md">
				<span class="m-r-sm">Показывать: </span>
				
				<span class="m-r-sm" ng-repeat="t in $ctrl.viewType.types">
				    <a ng-click="$ctrl.viewType.current = t.code">
				        {{t.name}}
				    </a>&nbsp;
				    <i ng-show="$ctrl.viewType.current === t.code" ng-class="t.cssClass"></i>
				</span>          
            </div>
            <div class="table-inline" ng-show="$ctrl.viewType.current === 'LIST'">
                <div class="table-responsive">
                    <table ng-show="$ctrl.numberOfTasks > 0" class="table table-snippet">
                        <thead ng-init="creationIsOn=false; dueIsOn=true">
                            <tr>
                                <th width="90" class="nowrap" ng-click="ascDue = !ascDue; ascCreation = false; creationIsOn=false; dueIsOn=true;
                                    $ctrl.sortBy('dueDate',ascDue)">
                                    Срок
                                    <i ng-class="dueIsOn ? (ascDue ? 'fa fa-caret-up' : 'fa fa-caret-down') : 'fa fa-angle-down'"></i>
                                </th>
                                <th width="80%" class="nowrap">Задача</th>
                                <th class="nowrap" ng-click="ascCreation = !ascCreation; ascDue = false; creationIsOn=true; dueIsOn=false;
                                    $ctrl.sortBy('createTime',ascCreation)">
                                    Назначена
                                    <i ng-class="creationIsOn ? (ascCreation ? 'fa fa-caret-up' : 'fa fa-caret-down') : 'fa fa-angle-down'"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in $ctrl.tasks">
                                <td>
                                    <div style="margin-top: 4px;">
                                        <span ng-show="task.dueDate != null && task.dueDate != ''">{{task.dueDate | date : 'dd.MM.yyyy'}}</span>
                                        <span ng-show="task.dueDate == null || task.dueDate == ''" class="text-muted">не указана</span>
                                    </div>
                                </td>
                                <td>
									<task-card task="task" select-handler="$ctrl.goToTask(value)"></task-card>
                                </td>
                                <td>
                                    <span ng-show="task.createTime != null && task.createTime != ''">{{task.createTime | date : 'dd.MM.yyyy'}}</span>
                                    <span ng-show="task.createTime == null || task.createTime == ''" class="text-muted">не указана</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="table-inline m-t-md" ng-show="$ctrl.viewType.current === 'GROUP'">
                <div class="table-responsive">
                    <table class="table m-b-none" ng-show="$ctrl.numberOfTasks > 0">
                        <thead>
                            <tr>
                                <th width="30" class="nowrap"></th>
                                <th width="80%" class="nowrap">Задача</th>
                                <th width="90" class="nowrap">
                                    Срок
                                </th>
                                <th class="nowrap">
                                    Назначена
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="(name,tasks) in $ctrl.tasks | groupBy: 'name' track by $index " ng-click="openSubList = !openSubList">
                                <td>
                                    <span style="font-weight: normal">
                                    {{tasks.length}}
                                </span>
                                </td>
                                <td>
                                    <h4>{{name}}</h4>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-repeat="task in tasks track by $index" ng-show="openSubList">
                                <td></td>
                                <td>
                                    <div class="m-l-md">
                                        <task-card task="task" select-handler="$ctrl.goToTask(value)"></task-card>
                                    </div>
                                </td>
                                <td>
                                    <span ng-show="task.dueDate != null && task.dueDate != ''">{{task.dueDate | date : 'dd.MM.yyyy'}}</span>
                                    <span ng-show="task.dueDate == null || task.dueDate == ''" class="text-muted">не указана</span>
                                </td>
                                <td>
                                    <span ng-show="task.createTime != null && task.createTime != ''">{{task.createTime | date : 'dd.MM.yyyy'}}</span>
                                    <span ng-show="task.createTime == null || task.createTime == ''" class="text-muted">не указана</span>
                                </td>
                            </tr>
                            <tr ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
			<spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>