<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title text-warning">Файл '{{$ctrl.oldName}}' уже существует</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-6 col-md-6 col-sm-6 control-label">Новое имя файла (без расширения)</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input
                     class="form-control"
                     ng-model="$ctrl.newName"></input>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-disabled="($ctrl.newName.trim() === '')" type="button" class="btn btn-primary" ng-click="$ctrl.rename()">Переименовать</button>
        <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</div>

