<div class="m-t-md pull-right">
	<button type="button" class="btn btn-white" ng-class="{'active': $ctrl.viewExtSearch}" ng-click="$ctrl.toggleViewExtSearch()">
		<i class="fa m-r-xs" ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}"></i>Расширенный поиск
	</button>
</div>
<h2 class="m-t-md semibold">Подготовка презентаций</h2>
<div ng-if="$ctrl.viewExtSearch">
	<hr />
	<planned-questions-ext-search apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()" />
</div>
<div class="m-b-md">
	<div class="m-t-md">Найдено — {{$ctrl.searchResult.total}}</div>
</div>
<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="table-inline" ng-show="$ctrl.searchResult.total > 0">
	<div class="table-responsive">
		<table class="table table-bordered m-b-none">
			<thead>
				<tr>
					<th>Проверено</th>
					<th width="50px;"></th>
					<th>Вопрос</th>
					<th>Заявитель и правообладатель</th>
					<th>Докладчик и содокладчики</th>
					<th>Презентация</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="pGroup in $ctrl.searchResult.data">
					<td colspan="6" ng-init="pgId = 'pg' + pGroup.groupName">
						<h4 class="m-b-xs">
							<div style="display:inline-block; width:30px; text-align:right;" class="m-r-sm">{{pGroup.totalElements}}</div>
							<a ng-click="$ctrl.toggle(pgId)" class="text-default"><i class="fa m-r-sm" ng-class="{'fa-caret-down': $ctrl.expanded[pgId], 'fa-caret-right': !$ctrl.expanded[pgId]}"></i><span class="m-l-sm">{{pGroup.groupName}}</span></a>
						</h4>
					</td>
				</tr>
				<tr ng-if="$ctrl.expanded['pg' + pGroup.groupName]" ng-repeat-start="mGroup in pGroup.content">
					<td colspan="6" ng-init="pgId = 'pg' + pGroup.groupName; mgId = 'mg' + mGroup.groupName">
						<h4 class="m-b-xs m-l-md">
							<div style="display:inline-block; width:30px; text-align:right;" class="m-r-sm">{{mGroup.totalElements}}</div>
							<a ng-click="$ctrl.toggle(pgId + mgId)" class="text-default"><i class="fa m-r-sm" ng-class="{'fa-caret-down': $ctrl.expanded[pgId + mgId], 'fa-caret-right': !$ctrl.expanded[pgId + mgId]}"></i><span class="m-l-sm">{{mGroup.groupName}}</span></a>
						</h4>
					</td>				
				</tr>	
				
				<tr ng-if="$ctrl.expanded['pg' + pGroup.groupName] && $ctrl.expanded['pg' + pGroup.groupName + 'mg' + mGroup.groupName]" ng-repeat="questionID in mGroup.content">
					<td ng-init="question = $ctrl.questions[questionID]">
						<span ng-if="question.questionConsider.materialsChecked" class="text-success"><i class="fa fa-check m-r-sm"></i></span>
					</td>	
					<td>
						{{question.questionConsider.itemNumber}}
					</td>			
					<td>
						<h3 class="m-t-none">
							<a ui-sref="app.ssmka.question({id: questionID})" ng-if="$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
									district="question.questionConsider.district"></question-address>
							</a>
							<div ng-if="!$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
									district="question.questionConsider.district"></question-address>
							</div>
						</h3>
						<h4 ng-if="question.questionConsider.cadastralNumber">{{question.questionConsider.cadastralNumber}}</h4>
						<div class="semibold m-b-xs" ng-if="question.questionConsider.question">{{question.questionConsider.question}}</div>
						<div ng-if="question.questionConsider.responsiblePrepare.contractorPrepareFIO">Ответственный исполнитель — {{question.questionConsider.responsiblePrepare.contractorPrepareFIO}}</div>
						<div ng-if="question.questionConsider.presentationPrepare.fioShort">Ответственный за подготовку презентации — {{question.questionConsider.presentationPrepare.fioShort}}</div>
					</td>
					<td>
						<div ng-if="question.questionConsider.customer" class="semibold m-b-xs">{{question.questionConsider.customer}}</div>
						<div ng-if="question.questionConsider.rightHolder">{{question.questionConsider.rightHolder}}</div>
					</td>
					<td>
						<div ng-if="question.questionConsider.speaker.organizationShort" class="semibold m-b-xs">{{question.questionConsider.speaker.organizationShort}}</div>
						<div ng-repeat="cospeaker in question.questionConsider.cospeaker">{{cospeaker.organizationShort}}</div>
					</td>
					<td>
						<span ng-repeat="document in $ctrl.getMaterialGroup(question, $ctrl.MaterialType.PRESENTATION).document">
							<a ng-href="{{$ctrl.getFileLink(document.idFile)}}"><file-icon file-name="document.nameFile" /></a>
						</span>
					</td>
				</tr>			
							
				<tr ng-if="$ctrl.expanded['pg' + pGroup.groupName]" ng-repeat-end></tr>
				
				<tr ng-repeat-end></tr>
			</tbody>
		</table>
	</div>
</div>
<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
      	<span class="fa fa-times-circle"></span>
	<span> Записи не найдены</span>
</span>
<div class="m-b">
    <div class="clearfix">
        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
            <pagination data="$ctrl.pagination" on-change="$ctrl.reload()"></pagination>
        </div>
    </div>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
