<form role="form" class="m-t" name="questionVoteForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.save()">&times;</button>
			<h4 class="modal-title">Редактировать список участников ГК</h4>
		</div>
		<div class="modal-body">
			<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
			<div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width:40px;" class="center">№</th>
                        <th style="width: 150px;" class="center">ФИО участника</th>
                        <th class="center">Роль</th>
                        <th style="width:40px;" class="center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            ng-repeat="(key, tableElement) in $ctrl.tableData track by $index"
                            ng-class="{'semibold': tableElement.selectedParticipant.accountName, 'text-muted': !tableElement.selectedParticipant.accountName,
                                'gk-participant-row_non-active': !participant.checked
                            }"
                    >
                        <td>{{ $index + 1 }}</td>
                        <td class="center">
                            <select
                                    ng-model="tableElement.selectedParticipant"
                                    class="form-control our-select"
                                    ng-options="participant as participant.shortFullName for participant in tableElement.participantsList"
                                    ng-change="$ctrl.addParticipantHandler(tableElement.selectedParticipant)"
                                    ng-disabled="tableElement.selectedParticipant.accountName"
                            >
                            </select>
                        </td>
                        <td class="left">{{tableElement.roleName}}</td>
                        <td class="left">
                            <button ng-if="tableElement.selectedParticipant.accountName" class="btn btn-default" ng-click="$ctrl.deleteParticipantHandler(tableElement.roleKey)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			</success> <error> <span class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке списка участников</span> </span> </error>
			</loading-block>
		</div>
		<div class="modal-footer">
			<!--<button type="button" class="btn btn-primary" ng-disabled="!questionVoteForm.$valid" ng-click="$ctrl.save()">Добавить участников</button> -->
			<button type="button" class="btn btn-white" ng-click="$ctrl.save()">Закрыть</button>
		</div>
	</div>
</form>

