<form role="form" class="m-t" name="questionVoteForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Удаление участника ГК</h4>
		</div>
		<div class="modal-body">
            Вы уверены, что необходимо удалить {{$ctrl.attendee}} из списка участников ГК?
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Да</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
		</div>
	</div>
</form>

