<script type="text/ng-template" id="myPopoverTemplate.html">
	<div>{{dynamicPopover.content}}</div>
	<div class="form-group">
		<label>Popup Title:</label>
		<input type="text" ng-model="dynamicPopover.title" class="form-control">
	</div>
</script>
<script type="text/ng-template" id="notVotedList.html">
	<spinner type="'circle'"/>
</script>
<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
			<div class="pull-right">
            	<button class="btn btn-default" ng-click="$ctrl.addAttended()" ladda="$ctrl.addingAttended" data-spinner-size="18"
						data-spinner-color="#AAAAAA" data-style="expand-right" title="Редактировать список участников">
					<img src="images/icons/user-edit.png" width="20px" >
				</button>
            </div>
			<h2 class="semibold m-t-md">{{$ctrl.meetingType}} <span ng-bind="$ctrl.taskInfo.meetingDate | date: 'dd.MM.yyyy'"></span></h2>
            <div ng-if="$ctrl.taskInfo.description !== ''" uib-collapse="$ctrl.isCollapsed">
                <h4 style="margin-top: 0;">Описание задачи</h4>
                <div ng-bind-html="$ctrl.taskInfo.description"></div>
                <p>
                    <a ng-click="$ctrl.isCollapsed = true">
                        Скрыть описание
                    </a>
                </p>
                <hr>
            </div>           
            <div class="m-b">Всего вопросов - {{$ctrl.protocol.question.length}}</div>
            <div class="table-responsive">
			<table class="table our-table-xs table-bordered voting-table">
				<thead>
					<tr>
						<th class="center">№</th>	
						<th class="center">Содержание вопроса</th>
						<th class="center our-voting-results-col">Результаты голосования</th>
						<th class="center">Кнопки перехода</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="question in $ctrl.protocol.question" class="voting-table-row-header" ng-if="$ctrl.isActiveQuestion($index)">
						<td colspan="7" class="current-question">Сейчас рассматривается вопрос</td>
					</tr>
					<tr ng-repeat-end class="voting-table-row" ng-class="{'active': $ctrl.isActiveQuestion($index), 'passed': $ctrl.isPassedQuestion($index), 'future': $ctrl.isFutureQuestion($index)}">
						<td class="first" ng-class="{'text-muted': question.excluded}">{{question.itemNumber}}</td>
						<td>
							<div class="semibold" ng-if="question.excluded">Cнят с рассмотрения</div>
							<div ng-class="{'text-muted': question.excluded}">{{question.basis.number}} от {{question.basis.date | date: 'dd.MM.yyyy'}}</div>
							<a ui-sref="app.ssmka.question({id: question.questionID})" ng-class="{'text-muted': question.excluded}">
								<span>{{question.address}}</span>
								<span ng-if="question.prefect && question.prefect.length > 0">
									({{question.prefect.join(',')}})
								</span> 
							</a>
							<div ng-class="{'text-muted': question.excluded}">{{question.cadastralNumber}}</div>
							<div ng-class="{'text-muted': question.excluded}">{{question.rightHolder}}</div>
							<div ng-class="{'text-muted': question.excluded}">{{question.question}}</div>
						</td>
						<td ng-class="{'text-muted': question.excluded}">
							<div ng-class="{'text-positive semibold': (question.resultsVote.yes/question.resultsVote.total) >= (2/3)}">
								Рекомендовать - {{question.resultsVote.yes}}
							</div>
							<div ng-class="{'text-danger semibold': (question.resultsVote.no/question.resultsVote.total) >= (2/3)}">
								Не рекомендовать - {{question.resultsVote.no}}
							</div>
							<div ng-if="!question.excluded">
								<a uib-popover-html="$ctrl.notVoted[question.questionID]" popover-title="Не проголосовали"
                                   popover-trigger="'mouseenter'" popover-placement="top-left">Не проголосовало - {{question.resultsVote.abstain}}</a>
							</div>
							<div ng-if="question.excluded">Не проголосовало - {{question.resultsVote.abstain}}</div>
						</td>
						<td class="last">
							<div ng-if="$ctrl.isPassedQuestion($index)"> 
								<button class="btn" ng-click="$ctrl.reopenQuestion($index)" title="Повторное рассмотрение" ng-if="!question.excluded">
									<i class="fa fa-reply"></i>
								</button>
							</div>
							<div ng-if="$ctrl.isActiveQuestion($index)"> 
								<div>
									<button class="btn btn-success m-b-xs" ng-click="$ctrl.completeQuestion($index)" ladda="$ctrl.completingQuestion" data-spinner-size="18"
										data-spinner-color="#FFFFFF" data-style="expand-right">Завершить</button>
								</div>
								<div>
									<button class="btn btn-danger" ng-click="$ctrl.excludeQuestion($index)" ladda="$ctrl.excludingQuestion" data-spinner-size="18"
										data-spinner-color="#FFFFFF" data-style="expand-right">Снять вопрос</button>
								</div>
							</div>
							<div ng-if="$ctrl.isFutureQuestion($index)"> 
								<button class="btn" ng-click="$ctrl.setActiveQuestion($index)" title="Перейти к рассмотрению">
									<i class="fa fa-play"></i>
								</button>
							</div>							
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			
			<form method="get" class="form-horizontal finishing-vote" name="votingForm">
			
				<div class="form-group">
					<div class="col-lg-7 col-md-8 col-sm-9">
						<button type="button" class="btn btn-success m-t-xs" ng-click="$ctrl.finishVoting()" ladda="$ctrl.finishingVoting" data-spinner-size="18"
								data-spinner-color="#FFFFFF" data-style="expand-right">
							<i class="fa m-r-xs"></i>Завершить голосование
						</button>
					</div>
				</div>				
				
			</form>

			<button ng-if="$ctrl.showToActiveButton" class="btn btn-success btn-floating" ng-click="$ctrl.scrollToActive()">
				На рассматриваемый <br> вопрос
			</button>

			<button ng-if="!$ctrl.showToActiveButton" class="btn btn-success btn-floating" ng-click="$ctrl.scrollToActive()">
				Перейти к завершению <br> голосования
			</button>
			
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы голосования</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>