<div class="m-t-md pull-right">
	<a type="button" class="btn btn-primary" ui-sref="app.ssmka.question({editingCard: true})" my-auth="OASI_MEETING_ADDBUTTON_QUESTION">Новый вопрос
	</a>
	<a type="button" class="btn btn-primary" ui-sref="app.ssmka.agenda({editing: true})" my-auth="OASI_MEETING_ADDBUTTON_AGENDA">Проект повестки
	</a>
	<button type="button" class="btn btn-white" ng-class="{'active': $ctrl.viewExtSearch}" ng-click="$ctrl.toggleViewExtSearch()">
		<i class="fa m-r-xs" ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}"></i>Расширенный поиск
	</button>
</div>
<h2 class="m-t-md semibold">Планируемые вопросы</h2>
<div ng-if="$ctrl.viewExtSearch">
	<hr />
	<planned-questions-ext-search apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()" />
</div>
<div class="m-b-md">
	<div class="m-t-md">Найдено — {{$ctrl.searchResult.total}}</div>
</div>
<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="table-inline" ng-show="$ctrl.searchResult.total > 0">
	<div class="table-responsive">
		<table class="table table-bordered m-b-none">
			<thead>
				<tr>
					<th width="140">Дата и номер пункта</th>
					<th>Вопрос</th>
					<th>Заявитель и правообладатель</th>
					<th>Докладчик и содокладчики</th>
					<th>Комментарии</th>
					<th>Материалы проверены</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="meetingGroup in $ctrl.searchResult.data">
					<td colspan="6">
						<h4 class="m-b-xs">
							<div style="display:inline-block; width:30px; text-align:right;" class="m-r-sm">{{meetingGroup.totalElements}}</div>
							<a ng-click="$ctrl.toggle('mg' + $index)" class="text-default"><i class="fa m-r-sm" ng-class="{'fa-caret-down': $ctrl.expanded['mg' + $index], 'fa-caret-right': !$ctrl.expanded['mg' + $index]}"></i><span class="m-l-sm">{{meetingGroup.groupName}}</span></a>
						</h4>
					</td>
				</tr>
				<tr ng-if="$ctrl.expanded['mg' + $parent.$index]" ng-repeat="questionID in meetingGroup.content">
					<td ng-init="question = $ctrl.questions[questionID]">					
						<div class="m-l-lg">{{question.questionConsider.planDate | date: 'dd.MM.yyyy'}}</div>
						<div class="m-l-lg m-t-xs" ng-if="question.questionConsider.itemNumber">пункт {{question.questionConsider.itemNumber}}</span></div>
					</td>
					<td>
						<h3 class="m-t-none">
							<a ui-sref="app.ssmka.question({id: questionID})" ng-if="$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
									district="question.questionConsider.district"></question-address>
							</a>
							<div ng-if="!$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
									district="question.questionConsider.district"></question-address>
							</div>
						</h3>
						<h4 ng-if="question.questionConsider.cadastralNumber">{{question.questionConsider.cadastralNumber}}</h4>
						<div class="semibold m-b-xs" ng-if="question.questionConsider.question">{{question.questionConsider.question}}</div>
						<div ng-if="question.questionConsider.responsiblePrepare.contractorPrepareFIO">Ответственный исполнитель — {{question.questionConsider.responsiblePrepare.contractorPrepareFIO}}</div>
						<div ng-if="question.questionConsider.presentationPrepare.fioShort">Ответственный за подготовку презентации — {{question.questionConsider.presentationPrepare.fioShort}}</div>
					</td>
					<td>
						<div ng-if="question.questionConsider.customer" class="semibold m-b-xs">{{question.questionConsider.customer}}</div>
						<div ng-if="question.questionConsider.rightHolder">{{question.questionConsider.rightHolder}}</div>
					</td>
					<td>
						<div ng-if="question.questionConsider.speaker.organizationShort" class="semibold m-b-xs">{{question.questionConsider.speaker.organizationShort}}</div>
						<div ng-repeat="cospeaker in question.questionConsider.cospeaker">{{cospeaker.organizationShort}}</div>
					</td>
					<td>
						<div ng-repeat="comment in question.comments">
							<div class="semibold m-b-xs"><span>{{comment.date | date: 'dd.MM.yyyy'}}</span>&nbsp;<span>{{comment.author.organization}}</span></div>
							<div class="m-b-xs" style="white-space: pre">{{comment.comment}}</div>
							<div class="m-b-xs"><small><span>{{comment.author.fioShort}}</span>&nbsp;<span>{{comment.author.post}}</span></small></div>
						</div>
					</td>
					<td>
						<span ng-if="question.questionConsider.materialsChecked" class="label label-success">Материалы проверены</span>
						<span ng-if="!question.questionConsider.materialsChecked" class="label label-default">Материалы не проверены</span>
					</td>
					
				</tr>
				<tr ng-repeat-end></tr>
			</tbody>
		</table>
	</div>
</div>
<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
      	<span class="fa fa-times-circle"></span>
	<span> Записи не найдены</span>
</span>
<div class="m-b">
    <div class="clearfix">
        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
            <pagination data="$ctrl.pagination" on-change="$ctrl.reload()"></pagination>
        </div>
    </div>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
