<loading-block loading-status="$ctrl.loadingStatus">
    <success>
		<info-about-processes 
			init="$ctrl.init" 
			req-num="$ctrl.$stateParams['id']" 
			editable="$ctrl.isAdmin()"
			on-finish-task="$ctrl.finishTask(taskId,vars,reqNum)"
			on-form-finish-task="$ctrl.formFinishTask(taskId)" 
			on-form-start-process="$ctrl.formStartProcess(processId)"
            on-open-diagram="$ctrl.openDiagram(id,type,name)" 
            on-start-process="$ctrl.startProcess(id,name,vars,reqNum)" 
            on-delete-process="$ctrl.deleteProcess(id,name,reqNum)"
        ></info-about-processes>
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка при формировании истории процесса!</span>
        </div>
    </error>
    <loading>
        <spinner type="'circle'" />
    </loading>
</loading-block>
