<div class="table-responsive m-b-md">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center">№</th>
            <th class="center">Содержание вопроса</th>
            <th class="center">Категория решения</th>
            <th class="center">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in $ctrl.questions | notExcludedQuestions">
            <td>{{question.questionNumber}}</td>
            <td>
                <question-table-content question="question" address-link="true"
                                        show-category="false" show-parameters="true" editable-parameters="false">

                </question-table-content>
            </td>
            <td ng-init="decision = $ctrl.questionsDecisions[question.questionNumber]">
                <div class="table-question-decision_icon-box">
                    <i class="fa" ng-class="$ctrl.imageClass(decision.decisionTypeCode)" aria-hidden="true"></i>
                    <div class="semibold">
                        {{decision.decisionType}}
                    </div>
                </div>
            </td>
            <td>
                <div ng-repeat="comment in question.comment" class="m-b-sm">
                    <div class="semibold">{{comment.personFio}} ({{comment.commentDate | date: 'dd.MM.yyyy'}}):</div>
                    <div>{{comment.note}}</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>