<div class="semibold">
    {{$ctrl.question.basis.number}} от {{$ctrl.question.basis.date | date: 'dd.MM.yyyy'}}
</div>
<a ng-if="$ctrl.addressLink" ui-sref="app.ssmka.question({id: $ctrl.question.questionID})" target="_blank">
    {{$ctrl.question.address}}
</a>
<div ng-if="!$ctrl.addressLink" class="question-content_address semibold">
    {{$ctrl.question.address}}
</div>
<div>
    <span>Кадастровый номер:</span>
    <span ng-if="$ctrl.question.cadastralNumber">{{$ctrl.question.cadastralNumber}}</span>
    <span ng-if="!$ctrl.question.cadastralNumber">не определен</span>
</div>
<div>Правообладатель: {{$ctrl.question.rightHolder}}</div>
<div ng-if="$ctrl.showCategory">
    <span>Категория вопроса: {{$ctrl.question.questionCategory}}</span>
</div>
<expanded-section show="true" ng-init="contentExpanded = false" expand="contentExpanded">
    <header style="display:inline;" class="semibold">Содержание</header>
    <content>
        {{$ctrl.question.question}}
    </content>
</expanded-section>
<div style="margin-top:20px;" ng-if="$ctrl.showParameters">
    <question-parameters
            parameters="$ctrl.question.parameters"
            question-id="$ctrl.question.questionID"
            editable="$ctrl.editableParameters"
    ></question-parameters>
</div>
