<div ng-if="$ctrl.haveParameters()">
    <div class="semibold">
        <i class="fa" ng-class="$ctrl.parametersChevronClass()" ng-click="$ctrl.chevronClickHandler()" aria-hidden="true"></i>
        Показатели
        <i ng-if="$ctrl.editable" title="Редактировать показатели" ng-click="$ctrl.editButtonHandler()" class="fa fa-pencil" aria-hidden="true"></i>
    </div>
    <div uib-collapse="$ctrl.parametersCollapse">
        <div ng-if="$ctrl.mainVriVisible()">
            <div class="semibold">
                Основные виды разрешенного использования
            </div>
            <div ng-repeat="recommended in $ctrl.questionParameters.mainVRI.recommended">
                <span ng-bind="recommended.name"></span>
            </div>
        </div>
        <div ng-if="$ctrl.relativelyVriVisible()">
            <div class="semibold">
                Условно разрешенные виды использования
            </div>
            <div ng-repeat="recommended in $ctrl.questionParameters.relativelyVRI.recommended">
                <span ng-bind="recommended.name"></span>
            </div>
        </div>
        <div ng-if="$ctrl.subVriVisible()">
            <div class="semibold">
                Вспомогательные виды
            </div>
            <div ng-repeat="recommended in $ctrl.questionParameters.subVRI.recommended">
                <span ng-bind="recommended.name"></span>
            </div>
            <div>
                <span ng-bind="$ctrl.questionParameters.subVRI.recommendedComment"></span>
            </div>
        </div>
        <div ng-if="$ctrl.tepVisible() && tepParameter.recommendedValue" ng-repeat="tepParameter in $ctrl.questionParameters.tep track by $index">
            <span class="semibold" ng-bind="tepParameter.tepName.name"></span> - <span ng-bind="tepParameter.recommendedValue"></span>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.haveParameters() && $ctrl.editable">
    <button
        class="btn btn-primary"
        ng-click="$ctrl.addParametersHandler()"
    >
        Добавить рекомендуемые показатели
    </button>
</div>