<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="center" style="width: 5%">№</th>
            <th class="center" style="width: 25%">ФИО и должность</th>
            <th class="center" style="width: 25%">Вид действия</th>
            <th class="center" style="width: 10%">Срок согласования</th>
            <th class="center" style="width: 15%">Результат</th>
            <th class="center" style="width: 20%">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="agreed in $ctrl.approvalCycle.agreed">
            <td class="center">{{agreed.approvalNum}}</td>
            <td>
                <div class="semibold">{{agreed.agreedBy.fioFull}}</div>
                <div>{{agreed.agreedBy.post}}</div>
            </td>
            <td class="center">
                <div>{{agreed.approvalType}}</div>
            </td>
            <td class="center">
                <div>{{agreed.approvalPlanDate | date: 'dd.MM.yyyy HH:mm'}}</div>
            </td>
            <td class="center">
                <div class="label label-{{agreed.approvalResultColor}}" ng-if="agreed.approvalResult">{{agreed.approvalResult}}</div>
                <div class="semibold">{{agreed.approvalFactDate | date: 'dd.MM.yyyy HH:mm'}}</div>
            </td>
            <td>
                <div>{{agreed.approvalNote}}</div>
                <div ng-repeat="added in agreed.added">
                    {{added.additionalAgreed.iofShort}}: {{added.addedNote}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>