<div ng-style="$ctrl.style" ng-class="{'datapicker-has-error': $ctrl.validatable && $ctrl.value == null && $ctrl.validate}" class="input-group date">
    <input type="text" 
        class="form-control" 
        uib-datepicker-popup="dd.MM.yyyy"
        datepicker-append-to-body="true"
        data-mask="99.99.9999"
        ng-model="$ctrl.value" 
        datepicker-options="$ctrl.options" 
        is-open="$ctrl.dateOpened" 
        ng-required="false"
        ng-change="$ctrl.ngChange()"
        ng-disabled="$ctrl.disabled"
        show-button-bar="false"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.dateOpen()" ng-disabled="$ctrl.disabled">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>