<div class="table-responsive">
    <table class="table table-bordered" style="margin-bottom: 5px !important;">
        <thead>
        <tr>
            <th class="center" style="width: 10%;" >№</th>
            <th class="center" style="width: 15%;" >Вид действия</th>
            <th class="center" style="width: 60%;" >ФИО и должность</th>
            <th class="center" style="width: 15%;" >Срок согласования</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="agreed in $ctrl.agreed">
            <td>
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="$ctrl.delApproval(agreed)">
                    <i class="fa fa-minus m-r-xs"></i>
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        ng-if="$ctrl.agreed.length > 1 && !$first"
                        ng-click="$ctrl.moveUp(agreed)">
                    <i class="fa fa-arrow-up m-r-xs"></i>
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        ng-if="$ctrl.agreed.length > 1 && !$last"
                        ng-click="$ctrl.moveDown(agreed)">
                    <i class="fa fa-arrow-down m-r-xs"></i>
                </button>
                <span>{{agreed.approvalNum}}</span>
            </td>
            <td>
                <select class="form-control our-select"
                    ng-model="agreed.approvalTypeCode"
                    ng-options="at.approvalTypeCode as at.approvalType for at in $ctrl.approvalTypes">
                    />
                </select>
            </td>
            <td>
                <div>
                    <ui-select ng-model="agreed.agreedBy.accountName" theme="bootstrap" append-to-body="true"
                               ng-change="$ctrl.onChangeApproval($index, $ctrl.approvers[agreed.approvalNum])">
                        <ui-select-match placeholder="Введите 3 символа для начала поиска">
                            {{$select.selected.fioFull}} {{$select.selected.post ? '(' + $select.selected.post + ')' :
                            ''}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchApprovers($select.search, agreed.approvalNum)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item.accountName as item in $ctrl.approvers[agreed.approvalNum]">
                            {{item.fioFull}} {{item.post ? '(' + item.post + ')' : ''}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
            <td>
                <select class="form-control our-select"
                        ng-model="agreed.approvalTime"
                        ng-options="at.value as at.name for at in $ctrl.approvalTimes">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="$ctrl.addApproval()">
                    <i class="fa fa-plus m-r-xs"></i>
                </button>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>