<form role="form" class="m-t" name="questionVoteForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Голосование по вопросу</h4>
		</div>
		<div class="modal-body">
			<div class="center">
				<button
						class="btn btn-md btn-success btn-voting-huge"
						ng-click="$ctrl.voteRadioPressHandler('yes')"
						name="questionVote"
				>
					{{$ctrl.voteYesTitle}}
				</button>
				<button
						class="btn btn-md btn-danger btn-voting-huge"
						ng-click="$ctrl.voteRadioPressHandler('no')"
						name="questionVote"
				>
					{{$ctrl.voteNoTitle}}
				</button>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btm-md btn-white" ng-click="$ctrl.cancel()">Закрыть</button>
		</div>
	</div>
</form>

