<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
			<h2 class="semibold m-t-md"> {{$ctrl.meetingType}} <span ng-bind="$ctrl.taskInfo.meetingDate | date: 'dd.MM.yyyy'"></span></h2>
            <div ng-if="$ctrl.taskInfo.description !== ''" uib-collapse="$ctrl.isCollapsed">
                <h4 style="margin-top: 0;">Описание задачи</h4>
                <div ng-bind-html="$ctrl.taskInfo.description"></div>
                <p>
                    <a ng-click="$ctrl.isCollapsed = true">
                        Скрыть описание
                    </a>
                </p>
                <hr>
            </div>
            <div class="m-b">Всего вопросов - {{$ctrl.protocol.question.length}}</div>
            <div class="table-responsive">
			<table class="table our-table-xs table-bordered voting-table">
				<thead>
					<tr>
						<th class="center col-xs-1">№</th>
						<th class="center col-xs-4">Содержание вопроса</th>
						<th class="center col-xs-2 our-voting-results-col" ng-if="::$ctrl.canViewVotingResults">Результаты голосования</th>
						<th class="center col-xs-4">Ваши решения</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="question in $ctrl.protocol.question" class="voting-table-row-header" ng-if="$ctrl.isActiveQuestion($index)">
						<td colspan="7" class="current-question">Сейчас рассматривается вопрос</td>
					</tr>
					<tr ng-repeat-end class="voting-table-row" ng-class="{'active': $ctrl.isActiveQuestion($index), 'passed': $ctrl.isPassedQuestion($index), 'future': $ctrl.isFutureQuestion($index)}">
						<td class="first" ng-class="{'text-muted': question.excluded}">{{question.itemNumber}}</td>
						<td ng-class="{'text-muted': question.excluded}">
							<div class="semibold" ng-if="question.excluded">Cнят с рассмотрения</div>
							<div>{{question.basis.number}} от {{question.basis.date | date: 'dd.MM.yyyy'}}</div>
							<a ui-sref="app.ssmka.question({id: question.questionID})" target="_blank" ng-class="{'text-muted': question.excluded}">
								<span>{{question.address}}</span>
								<span ng-if="question.prefect && question.prefect.length > 0">
									({{question.prefect.join(',')}})
								</span> 
							</a>
							<div>{{question.cadastralNumber}}</div>
							<div>{{question.rightHolder}}</div>
							<div>{{question.question}}</div>
						</td>
						<td ng-if="::$ctrl.canViewVotingResults" ng-class="{'text-muted': question.excluded}">
							<div ng-class="{'text-positive semibold': (question.resultsVote.yes/question.resultsVote.total) >= (2/3)}">
								{{$ctrl.voteYesTitle}} - {{question.resultsVote.yes}}
							</div>
							<div ng-class="{'text-danger semibold': (question.resultsVote.no/question.resultsVote.total) >= (2/3)}">
								{{$ctrl.voteNoTitle}} - {{question.resultsVote.no}}
							</div>
							<div ng-if="!question.excluded && $ctrl.canViewVotingResults">
								<a uib-popover-html="$ctrl.notVoted[question.questionID]" popover-title="Не проголосовали"
								   popover-trigger="'mouseenter'" popover-placement="top-left">Не проголосовало - {{question.resultsVote.abstain}}</a>
							</div>
							<div ng-if="question.excluded || !$ctrl.canViewVotingResults">Не проголосовало - {{question.resultsVote.abstain}}</div>
						</td>
						<td class="last">
							<div
								class="center m-t-xs m-b-sm"
								ng-if="(!$ctrl.isPassedQuestion($index) || !$ctrl.isHasResults($index) || $ctrl.ballotQuestions[question.questionID].resultsVote.resultsVoteCode) && !question.excluded"
							>
								<button
									value="yes"
									class="btn btn-md btn-primary btn-voting-huge"
									ng-class="{'btn-grey': $ctrl.ballotQuestions[question.questionID].resultsVote.resultsVoteCode === 'no'}"
									ng-click="$ctrl.voteRadioPressHandler(question, $ctrl.voteYesTitle, 'yes')"
									name="questionVote{{$index}}"
									ng-disabled="!$ctrl.isDecisionEnabled($index, question.questionID) || $ctrl.protocol.meetingTimeEnd"
								>
									{{$ctrl.voteYesTitle}}
								</button>
								<button
									value="no"
									ng-class="{'btn-grey': $ctrl.ballotQuestions[question.questionID].resultsVote.resultsVoteCode === 'yes'}"
									class="btn btn-md btn-danger btn-voting-huge"
									ng-click="$ctrl.voteRadioPressHandler(question, $ctrl.voteNoTitle, 'no')"
									name="questionVote{{$index}}"
									ng-disabled="!$ctrl.isDecisionEnabled($index, question.questionID) || $ctrl.protocol.meetingTimeEnd"
								>
									{{$ctrl.voteNoTitle}}
								</button>
							</div>
							<div ng-if="$ctrl.isPassedQuestion($index) && $ctrl.isHasResults($index) && !$ctrl.ballotQuestions[question.questionID].resultsVote.resultsVoteCode && !question.excluded">
								<button type="button" class="btn btn-md btn-default btn-vote m-b-xs" ng-click="$ctrl.voteOnQuestion(question.questionID)"  ng-disabled="$ctrl.protocol.meetingTimeEnd"
									ladda="$ctrl.questionVoting[question.questionID]" data-spinner-size="18" data-spinner-color="#AAAAAA" data-style="expand-right">
									<i class="fa m-r-xs"></i>Проголосовать
								</button>
							</div>							
							<div ng-if="!question.excluded">
								<textarea ng-blur="$ctrl.commentChanged(question.questionID)" ng-model="$ctrl.ballotQuestions[question.questionID].resultsVote.resultsVoteComment" class="form-control our-control" rows="10" placeholder="Комментарий по решению" ng-disabled="$ctrl.isPassedQuestion($index) || $ctrl.protocol.meetingTimeEnd"></textarea>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<h4 class="m-t-lg">Лист голосования</h4>
			
			<form method="get" class="form-horizontal m-t-sm finishing-vote" name="ballotPaperForm">
			
				<div class="form-group" ng-if="$ctrl.ballotPaper.file">
					<label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
					<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
						<ex-file file-info="$ctrl.ballotPaper.file"
								 show-size="true"
								 show-date="true"
								 check-sign="true"
								 open-sign-dialog="$ctrl.openSignDialog"
								 before-sign="$ctrl.beforeSignBound"
								 after-sign="$ctrl.afterSignBound"
								 download-blank="'false'"
						></ex-file>
					</div>
			
				</div>
			
				<div class="form-group">
					<div class="col-lg-3 col-md-3 col-sm-3"></div>
					<div class="col-lg-7 col-md-8 col-sm-9">
						<button type="button" class="btn btn-lg btn-primary m-b-xs" ng-click="$ctrl.createFileHandler(true)" ladda="$ctrl.creatingFileForSign" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
							<i class="fa m-r-xs"></i>Сформировать<br/> лист голосования с ЭП
						</button>

						<button type="button" class="btn btn-lg btn-primary m-b-xs" ng-click="$ctrl.createFileHandler(false)" ladda="$ctrl.creatingFile" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
							<i class="fa m-r-xs"></i>Сформировать<br/> лист голосования без ЭП
						</button>	
						<button ng-if="$ctrl.ballotPaper.dsL && !$ctrl.ballotPaper.file.signed" type="button" class="btn btn-lg btn-primary m-b-xs" ng-click="$ctrl.signFile()" ladda="$ctrl.signingFile" data-spinner-size="18" data-spinner-color="#FFFFFF" data-style="expand-right">
							<i class="fa m-r-xs"></i>Подписать<br/> ЭП
						</button>											
					</div>
				</div>
				
				<div class="form-group" ng-if="$ctrl.ballotPaper.file">
					<div class="col-lg-7 col-md-8 col-sm-9">
						<button type="button" class="btn btn-lg btn-success m-b-xs" ng-click="$ctrl.finishVoting()" ladda="$ctrl.finishingVoting" data-spinner-size="18"
								data-spinner-color="#FFFFFF" data-style="expand-right">
							<i class="fa m-r-xs"></i>Завершить голосование
						</button>
					</div>
				</div>				
				
			</form>

            <button ng-if="$ctrl.showToActiveButton" class="btn btn-success btn-floating" ng-click="$ctrl.scrollToActive()">
				На рассматриваемый <br> вопрос
			</button>

			<button ng-if="!$ctrl.showToActiveButton" class="btn btn-success btn-floating" ng-click="$ctrl.scrollToActive()">
				Перейти к завершению <br> голосования
			</button>
			
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы голосования</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>