<div class="table-responsive">
    <table class="table table-bordered" style="margin-bottom: 5px !important;">
        <thead>
        <tr>
            <th class="center">№</th>
            <th class="center">Вид действия</th>
            <th class="center">ФИО и должность</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="agreed in $ctrl.approvalCycle.agreed">
            <td>
                <button type="button" class="btn btn-xs btn-default"
                        ng-if="$ctrl.canDelete(agreed)"
                        ng-click="$ctrl.delDepartmentApproval(agreed)">
                    <i class="fa fa-minus m-r-xs"></i>
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        ng-if="$ctrl.canMoveUp(agreed)"
                        ng-click="$ctrl.moveUp(agreed)">
                    <i class="fa fa-arrow-up m-r-xs"></i>
                </button>
                <button type="button" class="btn btn-xs btn-default"
                        ng-if="$ctrl.canMoveDown(agreed)"
                        ng-click="$ctrl.moveDown(agreed)">
                    <i class="fa fa-arrow-down m-r-xs"></i>
                </button>
                <span>{{agreed.approvalNum}}</span>
            </td>
            <td>
                <select class="form-control our-select"
                        ng-disabled="true"
                        ng-model="agreed.approvalTypeCode"
                        ng-options="at.approvalTypeCode as at.approvalType for at in $ctrl.approvalTypes">
                    <option/>
                </select>
            </td>
            <td>
                <div ng-if="$ctrl.isDepartmentApproval(agreed)">
                    <div ng-if="agreed.approvalDepartment">
                        <ui-select ng-model="agreed.agreedBy.accountName" theme="bootstrap" ng-change="$ctrl.onChangeDepartmentApproval($index, $ctrl.departmentsApprovers[agreed.approvalDepartment])">
                            <ui-select-match>
                                {{$select.selected.fioFull}} {{$select.selected.post ? '(' + $select.selected.post + ')' : ''}}
                            </ui-select-match>
                            <ui-select-choices repeat="item.accountName as item in $ctrl.departmentsApprovers[agreed.approvalDepartment]">
                                {{item.fioFull}} {{item.post ? '(' + item.post + ')' : ''}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-if="!agreed.approvalDepartment" ladda="$ctrl.searchingApprovers[agreed.approvalNum]"
                         data-spinner-size="18"
                         data-spinner-color="#AAAAAA" data-style="expand-right">
                        <ui-select ng-model="agreed.agreedBy.accountName" theme="bootstrap" ng-change="$ctrl.onChangeDepartmentApproval($index, $ctrl.approvers[agreed.approvalNum])">
                            <ui-select-match placeholder="Введите 3 символа для начала поиска">
                                {{$select.selected.fioFull}} {{$select.selected.post ? '(' + $select.selected.post + ')' : ''}}
                            </ui-select-match>
                            <ui-select-choices refresh="$ctrl.searchApprovers($select.search, agreed.approvalNum)"
                                               minimum-input-length="3"
                                               refresh-delay="300"
                                               repeat="item.accountName as item in $ctrl.approvers[agreed.approvalNum]">
                                {{item.fioFull}} {{item.post ? '(' + item.post + ')' : ''}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div ng-if="$ctrl.isSupervisor(agreed)">
                    <select class="form-control our-select"
                            ng-model="agreed.agreedBy.accountName"
                            ng-change="$ctrl.onChangeSupervisor($index)"
                            ng-options="u.accountName as (u.fioFull + (u.post ? ' (' + u.post + ')' : '')) for u in $ctrl.supervisors">
                        <option/>
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
                <div ng-if="$ctrl.isStroyUser(agreed)">
                    <select class="form-control our-select"
                            ng-model="agreed.agreedBy.accountName"
                            ng-change="$ctrl.onChangeStroyUser($index)"
                            ng-options="u.accountName as (u.fioFull + (u.post ? ' (' + u.post + ')' : '')) for u in $ctrl.stroyApprovers">
                        <option/>
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
                <div ng-if="$ctrl.isSecretaryResponsible(agreed) || $ctrl.isChairman(agreed)">
                    <select class="form-control our-select"
                            ng-disabled="true"
                            ng-model="agreed.agreedBy.accountName"
                            ng-options="u.accountName as (u.fioFull + (u.post ? ' (' + u.post + ')' : '')) for u in [agreed.agreedBy]">
                        <option/>
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-if="$index === $ctrl.getLastDepartmentApprovalIndex()">
            <td>
                <button type="button" class="btn btn-xs btn-default"
                        ng-click="$ctrl.addDepartmentApproval()">
                    <i class="fa fa-plus m-r-xs"></i>
                </button>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>