<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="protocolAndConclusion">
                <h2 class="semibold m-t-md">{{$ctrl.meetingType}} {{$ctrl.protocol.meetingDate | date: 'dd.MM.yyyy'}}</h2>
                <div ng-if="$ctrl.commentBlockVisible()">
                    <h2 class="semibold m-t-md">Замечания</h2>
                    <dl class="dl-horizontal">
                        <dt>
                            ФИО
                        </dt>
                        <dd>
                            {{$ctrl.commentAuthor}}
                        </dd>
                        <dt>
                            Дата замечаний
                        </dt>
                        <dd>
                            {{$ctrl.commentDate | date:'dd.MM.yyyy HH:mm:ss'}}
                        </dd>
                        <dt>
                            Комментарий
                        </dt>
                        <dd>
                            {{$ctrl.comment}}
                        </dd>
                    </dl>
                </div>
                <div>Всего вопросов - <span ng-bind="$ctrl.protocol.questionsNum"></span></div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style='width:40px;' class="center">№</th>
                            <th style="min-width: 200px;" class="center">Содержание вопроса</th>
                            <th style='width:180px;' class="center">Результаты голосования</th>
                            <th style='width:240px;' class="center">Проект решения</th>
                            <th class="center">Решение ГК</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in $ctrl.protocol.question | notExcludedQuestions track by $index">
                            <td ng-bind="question.itemNumber"></td>
                            <td>
                                <question-table-content question="question" address-link="true"
                                                        show-category="true" show-parameters="true"
                                                        editable-parameters="$ctrl.editableParameters">

                                </question-table-content>
                            </td>
                            <td>
                                <div>
                                    <span>{{$ctrl.voteYesTitle}} - </span>
                                    <span ng-bind="question.resultsVote.yes"></span>
                                </div>
                                <div>
                                    <span>{{$ctrl.voteNoTitle}} - </span>
                                    <span ng-bind="question.resultsVote.no"></span>
                                </div>
                                <div>
                                    <span>Не проголосовало - </span>
                                    <span ng-bind="question.resultsVote.abstain"></span>
                                </div>
                            </td>
                            <td>
                                <div>{{$ctrl.decisions[question.questionID].recommendation}}</div>
                                <textarea style="width: 100%; height: 100px;"
                                          ng-model="question.decisionText"></textarea>
                            </td>
                            <td>
                                <table-question-decision
                                        decision="$ctrl.decisions[question.questionID]"
                                        refusal-question="$ctrl.refusalQuestions[question.questionNumber]"
                                >

                                </table-question-decision>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin: 20px 0;">
                    <button ng-click="$ctrl.onAssignHandler()" class="btn btn-sm btn-primary">
                        {{$ctrl.generateButtonTitle}}
                    </button>
                </div>
                <div>
                    <div ng-if="$ctrl.filesFormed()">
                        <div style="margin-bottom:20px;">
                            <h3>Протокол</h3>
                            <dl class="dl-horizontal">
                                <dt>
                                    Протокол
                                </dt>
                                <dd>
                                    <div>
                                        <a>
                                            <div class="dropzone" id="fileProtocolDraftDropzone"
                                                 options="$ctrl.dzOptions" callbacks="$ctrl.dzProtocolDraftCallbacks"
                                                 methods="$ctrl.dzProtocolDraftMethods" ng-dropzone>
                                            </div>
                                        </a>
                                    </div>
                                    <div ng-if="$ctrl.protocol.fileProtocolDraft">
                                        <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                                                 show-size="true"
                                                 show-date="true"
                                                 check-sign="true"
                                                 deletable="true"
                                                 on-remove="$ctrl.cleanFileProtocolDraft()"
                                        ></ex-file>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div ng-if="$ctrl.showConclusion">
                            <h3>Заключение ГК</h3>
                            <dl class="dl-horizontal">
                                <dt>
                                    Заключение ГК
                                </dt>
                                <dd>
                                    <div>
                                        <a>
                                            <div class="dropzone" id="fileConclusionDraftDropzone"
                                                 options="$ctrl.dzOptions" callbacks="$ctrl.dzConclusionDraftCallbacks"
                                                 methods="$ctrl.dzConclusionDraftMethods" ng-dropzone>
                                            </div>
                                        </a>
                                    </div>
                                    <div ng-if="$ctrl.protocol.fileConclusionDraft">
                                        <ex-file file-info="$ctrl.protocol.fileConclusionDraft"
                                                 show-size="true"
                                                 show-date="true"
                                                 check-sign="true"
                                                 deletable="true"
                                                 on-remove="$ctrl.cleanFileConclusionDraft()"
                                        ></ex-file>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <approval-list-editor
                        protocol="$ctrl.protocol"
                        departments-users="$ctrl.departmentsUsers"
                        supervising-users="$ctrl.supervisingUsers"
                        stroy-users="$ctrl.stroyUsers"
                        approval-types="$ctrl.approvalTypes"
                        approval-statuses="$ctrl.approvalStatuses"
                ></approval-list-editor>
                <div>
                    <div style="margin-top: 30px;">
                        <button ng-click="$ctrl.submitHandler()"
                                class="btn btn-sm btn-primary"
                                ng-disabled="!$ctrl.filesFormed() || !$ctrl.approvalCycleFilled()">
                            На согласование
                        </button>
                        <button
                                ng-click="$ctrl.saveHandler()"
                                style="margin-right: 5px;"
                                class="btn btn-sm btn-default"
                        >
                            Сохранить и закрыть задачу без завершения
                        </button>
                    </div>
                </div>
            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>