<div class="table-question-decision_icon-box" >
    <i class="fa" ng-class="$ctrl.imageClass()" aria-hidden="true"></i>
    <div class="semibold" ng-bind="$ctrl.decision.decisionType"></div>
</div>
<div ng-repeat="reason in $ctrl.reasons">
    {{reason.code}} {{reason.name}}
</div>