<form role="form" class="m-t" name="questionVoteForm">
    <div class="inmodal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancelHandler()">&times;</button>
            <h4 class="modal-title">Добавление показателей</h4>
        </div>
        <div class="modal-body">
            <loading-block loading-status="$ctrl.loadingStatus">
                <success>
                    <h4 class="semibold">Показатели</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="center">Показатели</th>
                                <th class="center">Рекомендуемые</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Основные виды разрешенного использования
                                </td>
                                <td>
                                    <ul style="padding-left: 16px;" >
                                        <li ng-repeat="recommended in $ctrl.questionParameters.mainVRI.recommended" >
                                            <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                                        </li >
                                    </ul >
                                    <button
                                            type="button"
                                            ng-click="$ctrl.onSelectFromReferenceClick1()"
                                            class="btn btn-primary"
                                    >
                                        <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                                    </button >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Условно разрешенные виды использования
                                </td>
                                <td>
                                    <ul style="padding-left: 16px;" >
                                        <li ng-repeat="recommended in $ctrl.questionParameters.relativelyVRI.recommended" >
                                            <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >

                                        </li >
                                    </ul >
                                    <button
                                            type="button"
                                            ng-click="$ctrl.onSelectFromReferenceClick2()"
                                            class="btn btn-primary"
                                    >
                                        <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                                    </button >
                                </td>
                            </tr>
                            <tr>
                                <td>Вспомогательные виды</td>
                                <td>
                                    <div class="form-group" >
                                        <ul style="padding-left: 16px;" >
                                            <li ng-repeat="recommended in $ctrl.questionParameters.subVRI.recommended" >
                                                <span class="white-space__pre" >{{recommended.name}} [{{recommended.code}}]</span >
                                            </li >
                                        </ul >
                                        <button
                                                type="button"
                                                ng-click="$ctrl.onSelectFromReferenceClick3()"
                                                class="btn btn-primary"
                                        >
                                            <i class="fa fa-bars" ></i >&nbsp;Выбрать из справочника
                                        </button >
                                    </div >
                                    <textarea class="form-control our-control m-t-xs" ng-model="$ctrl.questionParameters.subVRI.recommendedComment" rows="10"
                                              style="width: 100%;" ></textarea >
                                </td>
                            </tr>
                            <tr ng-repeat="tep in $ctrl.questionParameters.tep" >
                                <td >{{tep.tepName.name}}</td >
                                <td >
                                    <input
                                            ng-if="tep.tepName.type==='integer'"
                                            type="text"
                                            class="form-control"
                                            ng-model="tep.recommendedValue"
                                            ng-blur="tep.recommendedValue = $ctrl.normalize(tep.recommendedValue)"
                                    >
                                    <textarea
                                            ng-if="tep.tepName.type==='textarea'"
                                            class="form-control our-control m-t-xs white-space__pre"
                                            ng-model="tep.recommendedValue"
                                            rows="10"
                                    ></textarea >
                                </td >
                            </tr >
                        </tbody>
                    </table>
                </success>
            </loading-block>
        </div>
        <div class="modal-footer">
            <button ng-click="$ctrl.saveHandler()" class="btn btn-primary">Сохранить</button>
            <button ng-click="$ctrl.cancelHandler()" class="btn btn-primary">Отменить</button>
        </div>
    </div>
</form>