<div class="m-b-md"></div>
<expanded-section
        ng-repeat="cycle in $ctrl.history | orderBy:['-approvalCycleDate','-approvalCycleNum']"
        show="true"
        ng-init="$ctrl.approvalHistoryListExpanded[cycle.approvalCycleNum] = false"
        expand="$ctrl.approvalHistoryListExpanded[cycle.approvalCycleNum]">
    <header style="display:inline;" class="semibold">
        <span class="semibold" style="display: inline">Предыдущий цикл согласования {{cycle.approvalCycleNum}} от
        {{cycle.approvalCycleDate | date: 'dd.MM.yyyy'}}
        </span>
    </header>
    <content>
        <div style="margin: 15px 0;">
            <h3>Проект приказа</h3>
            <dl class="dl-horizontal">
                <dt>
                    Проект приказа
                </dt>
                <dd>
                    <div ng-if="cycle.approvalCycleFileProtocol">
                        <ex-file file-info="cycle.approvalCycleFileProtocol"
                                 show-size="true"
                                 show-date="true"
                                 check-sign="true"
                        ></ex-file>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="m-b-md"></div>
        <express-protocol-approval-list approval-cycle="cycle"></express-protocol-approval-list>
    </content>
</expanded-section>