<div id="wrapper">
	<oasi-sidebar system="SSMKA"></oasi-sidebar>
	<div id="page-wrapper" class="gray-bg"  style="padding:0;min-height:100vh;">
		<oasi-navbar></oasi-navbar>

		<span class="text-danger" ng-if="$ctrl.permissionFailed">
			<span class="fa fa-times-circle"></span> <span> У вас нет прав на просмотр этой страницы </span>
		</span>

		<oasi-breadcrumbs system="SSMKA" ng-class="{'hidden': $ctrl.permissionFailed}"
						  disable-dictionary="$ctrl.disableNavigator"></oasi-breadcrumbs>
		<ui-view ng-class="{'hidden': $ctrl.permissionFailed}"></ui-view>
		<oasi-footer version="ОАСИ 1.0.0" ng-class="{'hidden': $ctrl.permissionFailed}"></oasi-footer>
	</div>
</div>

<config-box></config-box>
