<div class="footer clearfix">
    <div class="pull-left">
        <strong>ОАСИ МКА</strong> © Москомархитектура, 2016 <span style="margin-left: 15px;" >ver. {{$ctrl.version}}</span>
    </div>

    <div class="pull-right">
        <span><a ng-href="data/instruction/Инструкция пользователя СС МКА v1.docx">Инструкция</a></span>&nbsp;
        <span><a ng-href="data/instruction/Образец доверенности.docx">Доверенность</a></span>
    </div>
</div>