<nav class="navbar-default navbar-static-side" role="navigation">
	<ul class="nav metismenu" id="side-menu">
		<li class="nav-header nav-header-border"><a ui-sref="app.ssmka.calendar"><div class="our-name">ОАСИ МКА</div></a></li>
		<div class="ps-name-lg">
			<span><a ui-sref="app.ssmka.calendar">Совещания</a></span>
		</div>
		<li class="active">
			<ul class="nav nav-second-level collapse in">
				<li><a ui-sref="app.ssmka.calendar" ui-sref-active="active">Календарь</a></li>
				<li my-auth="OASI_MEETING_VIEW_QUESTIONPLAN"><a ui-sref="app.ssmka.planned_questions" ui-sref-active="active">Планируемые вопросы</a></li>
				<li my-auth="OASI_MEETING_VIEW_AGENDAPROJECT"><a ui-sref="app.ssmka.agendas.projects" ui-sref-active="active">Проекты повесток</a></li>
				<li my-auth="OASI_MEETING_VIEW_AGENDA"><a ui-sref="app.ssmka.agendas.published" ui-sref-active="active">Повестки</a></li>
				<li my-auth="OASI_MEETING_VIEW_PROTOCOL"><a ui-sref="app.ssmka.protocols" ui-sref-active="active">Протоколы</a></li>
				<li my-auth="OASI_MEETING_VIEW_QUESTION"><a ui-sref="app.ssmka.questions" ui-sref-active="active">Вопросы</a></li>
				<li my-auth="OASI_MEETING_VIEW_PREZENT"><a ui-sref="app.ssmka.presentation_prepare" ui-sref-active="active">Подготовка презентаций</a></li>
				<!--todo myAuth-->
				<li><a ui-sref="app.ssmka.my-tasks" ui-sref-active="active">Мои задачи</a></li>
				<!--todo delete-->
				<!--<li ui-sref="app.ssmka.RegisterSS({id:228})" ui-sref-active="active"><a>Регистрация участников ГК</a></li>-->
			</ul>
		</li>
	</ul>
</nav>