<div class="m-b-md"></div>
<div ng-repeat="cycle in $ctrl.approvalCycle | orderBy:['-approvalCycleDate','-approvalCycleNum']">
    <div class="m-b-sm" ng-init="historyCycleExpanded = false">
    <span style="cursor:pointer; outline:none; margin: 0;"
          ng-click="historyCycleExpanded = !historyCycleExpanded">
        <i style="width: 15px;" class="fa fa-caret-right" ng-show="!historyCycleExpanded"></i>
        <i style="width: 15px;" class="fa fa-angle-down" ng-show="historyCycleExpanded"></i>
        <span class="semibold" style="display: inline">
            Предыдущий цикл согласования
        {{cycle.approvalCycleNum}} от
        {{cycle.approvalCycleDate | date: 'dd.MM.yyyy'}}
        </span>
    </span>
        <span class="label label-primary m-l-sm">
            Версия согласования {{cycle.approvalCycleNum}}
        </span>
        <div uib-collapse="!historyCycleExpanded" class="fadeSection">
            <div class="m-b-md"></div>
            <protocol-approval-list approval-cycle="cycle"></protocol-approval-list>
        </div>
    </div>
</div>