<div class="inmodal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
        <h4 class="modal-title">Добавить участника</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Поиск сотрудника:</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div ladda="$ctrl.searchingUsers"
                         data-spinner-size="18"
                         data-spinner-color="#AAAAAA" data-style="expand-right">
                        <ui-select ng-model="$ctrl.attendee" theme="bootstrap" ng-disabled="$ctrl.fioFull || $ctrl.iofShort">
                            <ui-select-match placeholder="Введите 3 символа для начала поиска">
                                {{$select.selected.iofShort}}
                            </ui-select-match>
                            <ui-select-choices refresh="$ctrl.searchUsers($select.search)"
                                               minimum-input-length="3"
                                               refresh-delay="300"
                                               repeat="item in $ctrl.users">
                                {{item.iofShort}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">ФИО участника</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <input class="form-control" ng-model="$ctrl.fioFull" ng-disabled="$ctrl.attendee"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">ИОФ участника краткое</label>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <input class="form-control" ng-model="$ctrl.iofShort" ng-disabled="$ctrl.attendee"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.add()"
                ng-disabled="!$ctrl.attendee.fioFull && !($ctrl.fioFull && $ctrl.iofShort)">
            Добавить
        </button>
        <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</div>

