<div class="form-group" ng-repeat="group in $ctrl.groups">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <button type="button" class="btn btn-sm btn-default m-r-md" ng-click="$ctrl.deleteGroup(group)" ng-if="!$first">
            <i class="fa fa-minus"></i>
        </button>
        <label>Организация</label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <ui-select ng-model="group.org" theme="bootstrap" ng-disabled="group.internal" ng-change="$ctrl.orgChanged(group)">
            <ui-select-match>
                {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices refresh="$ctrl.refreshAvailOrganizations($select.search)"
                               refresh-delay="300"
                               repeat="item in $ctrl.availOrganizations">
                {{item.name}}
            </ui-select-choices>
        </ui-select>
    </div>
    <label class="col-lg-2 col-md-2 col-sm-2">Участники совещания</label>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div ng-if="group.internal">
            <div ladda="$ctrl.searchingInternals"
                 data-spinner-size="18"
                 data-spinner-color="#AAAAAA" data-style="expand-right">
                <ui-select ng-model="group.participants" theme="bootstrap" multiple>
                    <ui-select-match placeholder="Введите 3 символа для начала поиска">
                        {{$item.iofShort}}
                    </ui-select-match>
                    <ui-select-choices refresh="$ctrl.searchInternals($select.search)"
                                       minimum-input-length="3"
                                       refresh-delay="300"
                                       repeat="item in $ctrl.internals">
                        {{item.iofShort}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div ng-if="!group.internal">
            <div ng-repeat="participant in group.participants">
                <button type="button" class="btn btn-sm btn-default m-r-md" ng-click="$ctrl.deleteParticipant(group, participant)">
                    <i class="fa fa-minus"></i>
                </button>
                <span>{{participant.iofShort}}</span>
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-default m-r-md" ng-click="$ctrl.addParticipant(group)">
                    <i class="fa fa-plus"></i>
                </button>
                <span>Добавить участника</span>
            </div>
        </div>

    </div>
</div>

<div class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <button type="button" class="btn btn-sm btn-default m-r-md" ng-click="$ctrl.addGroup()">
            <i class="fa fa-plus"></i>
        </button>
        <span>Добавить организацию</span>
    </div>
</div>