<div class="m-b-md">
	<div class="m-t-md">Найдено — {{$ctrl.searchResult.total}}</div>

	<div class="m-t-md">
		<div class="pull-right m-l-lg"></div>
		<span class="m-r-sm">Показывать: </span> <span class="m-r-sm"> <a ng-click="$ctrl.switchToList()">списком</a>
		</span> <span class="m-r-sm"> <span>по заседаниям</span>
		</span>
	</div>
</div>
<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="table-inline" ng-show="$ctrl.searchResult.total > 0">
	<div class="table-responsive">
		<table class="table m-b-none">
			<tbody>
				<tr ng-repeat-start="mGroup in $ctrl.searchResult.data">
					<td align="right" class="nowrap" width="30"><h4 class="m-b-xs">{{mGroup.totalElements}}</h4></td>
					<td colspan="2">
						<h4 class="m-b-xs">
							<a ng-click="$ctrl.toggle('mg' + mGroup.groupName)" class="text-default"><i class="fa m-r-sm" ng-class="{'fa-caret-down': $ctrl.expanded['mg' + mGroup.groupName], 'fa-caret-right': !$ctrl.expanded['mg' + mGroup.groupName]}"></i> <span>{{mGroup.groupName}}</span></a>
						</h4>
					</td>
				</tr>
				<tr ng-repeat-start="dGroup in mGroup.content" ng-if="$ctrl.expanded['mg' + mGroup.groupName]">
					<td align="right" class="nowrap"><h4 class="text-normal m-b-xs">{{dGroup.totalElements}}</h4></td>
					<td colspan="2"><h4 class="text-normal m-b-xs m-l-md"><a ng-click="$ctrl.toggle('mg' + mGroup.groupName + 'dg' + dGroup.groupName)" class="text-default"><i class="fa m-r-sm" ng-class="{'fa-caret-down': $ctrl.expanded['mg' + mGroup.groupName + 'dg' + dGroup.groupName], 'fa-caret-right': !$ctrl.expanded['mg' + mGroup.groupName + 'dg' + dGroup.groupName]}"></i>{{dGroup.groupName}}</a></h4></td>
				</tr>			
				<tr ng-repeat="decision in dGroup.content" ng-show="$ctrl.expanded['mg' + mGroup.groupName + 'dg' + dGroup.groupName] && $ctrl.expanded['mg' + mGroup.groupName]">
					<td></td>
					<td width="100" ng-init="question = $ctrl.questions[decision]">
						<h3 class="m-l-lg text-normal" ng-if="question.questionConsider.itemNumber">
							<span class="m-l-sm">п. {{question.questionConsider.itemNumber}}</span>
						</h3>						
					</td>
					<td>
						<h3>
							<a ui-sref="app.ssmka.question({id: decision})" ng-if="$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
									district="question.questionConsider.district"></question-address>
							</a>
							<span ng-if="!$ctrl.hasViewPermission">
								<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
										district="question.questionConsider.district"></question-address>
							</span>
						</h3>
						<h4 ng-if="question.questionConsider.cadastralNumber">{{question.questionConsider.cadastralNumber}}</h4>
						<div class="semibold m-b-xs" ng-if="question.questionConsider.question">{{question.questionConsider.question}}</div>
						<div ng-if="question.questionConsider.customer">Заявитель — {{question.questionConsider.customer}}</div>
						<div ng-if="question.questionConsider.rightHolder">Правообладатель — {{question.questionConsider.rightHolder}}</div>
						<div ng-if="question.questionConsider.responsiblePrepare.contractorPrepareFIO">Ответственный исполнитель — {{question.questionConsider.responsiblePrepare.contractorPrepareFIO}}</div>
						<div ng-if="question.questionConsider.speaker.organizationShort">Докладчик — {{question.questionConsider.speaker.organizationShort}}</div>
					</td>
				</tr>
				<tr ng-repeat-end ng-if="$ctrl.expanded['mg' + $parent.$index]"></tr>	
				<tr ng-repeat-end></tr>
			</tbody>
		</table>
	</div>
</div>
<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
      	<span class="fa fa-times-circle"></span>
	<span> Записи не найдены</span>
</span>

<div class="m-b">
    <div class="clearfix">
        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
            <pagination data="$ctrl.pagination" on-change="$ctrl.reload($ctrl.filter, false)"></pagination>
        </div>
    </div>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>