<div class="m-t-md pull-right">
	<button type="button" class="btn btn-white" ng-class="{'active': $ctrl.viewExtSearch}" ng-click="$ctrl.toggleViewExtSearch()">
		<i class="fa m-r-xs" ng-class="{'fa-angle-up': $ctrl.viewExtSearch, 'fa-angle-down': !$ctrl.viewExtSearch}"></i>Расширенный поиск
	</button>
</div>
<h2 class="m-t-md semibold">Вопросы</h2>
<div ng-if="$ctrl.viewExtSearch">
	<hr />
		<questions-ext-search apply-filter="$ctrl.setFilter(value)" clear-filter="$ctrl.clearFilter()"/>
	<hr />
</div>
<questions-list switch-view-mode="$ctrl.switchViewMode(value)" ng-if="$ctrl.isListViewMode()" ></questions-list>
<questions-meetings switch-view-mode="$ctrl.switchViewMode(value)" ng-if="$ctrl.isMeetingsViewMode()" ></questions-meetings>
