<loading-block loading-status="$ctrl.loadingAppStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<form class="form-horizontal" name="extSearchForm" ng-submit="$ctrl.apply()">
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Адрес</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.address">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Округ</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<select class="form-control our-select" ng-model="$ctrl.searchFilter.prefect" ng-options="item.name as item.name for item in $ctrl.prefects">
				<option />
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Кадастровый номер</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.cadastralNumber">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Номер документа основания</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.basisNumber">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Номер ГПЗУ</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.gpzuNumber"
				   ng-pattern="/^[0-9]{0,9}$/"
			>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Заявитель</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.customer">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Правообладатель</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<input name="address" type="text" class="form-control" ng-model="$ctrl.searchFilter.rightHolder">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Ответственное управление</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<select class="form-control our-select" ng-model="$ctrl.searchFilter.departmentPrepare" ng-options="item.departmentPrepareShort as item.departmentPrepareFull for item in $ctrl.responsibleDepartments"
				ng-change="$ctrl.departmentChanged()">
				<option />
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Ответственный за подготовку вопроса</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<select class="form-control our-select"
					ng-disabled="$ctrl.updatingUsersListInProgress"
					ng-model="$ctrl.searchFilter.contractorPrepare"
					ng-options="item.displayName as item.displayName for item in $ctrl.meetingResponsibles">
				<option />
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Категория вопроса</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<select class="form-control our-select" ng-model="$ctrl.searchFilter.questionCategory" ng-options="item.questionCategory as item.questionCategory for item in $ctrl.questionCategories"
				ng-change="$ctrl.questionCategoryChanged()">
				<option />
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Вопрос рассмотрен</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<label class="m-r-sm"> <input icheck type="radio" value="true" name="questionStatus" ng-model="$ctrl.searchFilter.questionStatus"> <i></i> Да
			</label> <label> <input icheck type="radio" value="false" name="questionStatus" ng-model="$ctrl.searchFilter.questionStatus"> <i></i> Нет
			</label>
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Дата заседания</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<date-range-selector model-from="$ctrl.searchFilter.considerationDate.startDate" model-to="$ctrl.searchFilter.considerationDate.endDate" />
		</div>	
	</div>
	
	<div class="form-group">
		<label class="col-lg-2 col-md-2 col-sm-2 control-label">Решение</label>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<select class="form-control our-select" ng-model="$ctrl.searchFilter.decisionType" ng-options="item.decisionTypeCode as item.decisionType for item in $ctrl.decisionTypes">
				<option />
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-8 col-md-9 col-sm-10">
			<button type="submit" class="btn btn-w-m btn-primary">Найти</button>
			<button ng-click="$ctrl.cancel()" type="button" class="btn btn-w-m btn-default">Отменить все</button>
		</div>
	</div>
</form>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации формы</span> </spam> </error> </loading-block>
