<div class="m-b-md">
	<div class="m-t-md">Найдено — {{$ctrl.searchResult.total}}</div>

	<div class="m-t-md">
		<div class="pull-right m-l-lg"></div>
		<span class="m-r-sm">Показывать: </span> 
		<span class="m-r-sm"> 
			<span>списком</span>
		</span>
		<span class="m-r-sm">
			<a ng-click="$ctrl.switchToMeetings()">по заседаниям</a>
		</span>
		<span class="m-r-sm m-l">Сортировать: </span>
		<a ng-click="$ctrl.switchSorting($ctrl.Sorting.DATE)" ng-class="{'filter-sorter__link_asc': $ctrl.sortingAsc, 'filter-sorter__link_desc': !$ctrl.sortingAsc}" >по дате рассмотрения</a>
		<a ng-click="$ctrl.switchSorting($ctrl.Sorting.ADDRESS)">по адресу</a>
	</div>
</div>
<loading-block loading-status="$ctrl.loadingAppStatus"> 
	<loading> <spinner type="'circle'" /> </loading>
	<success>
		<div class="table-inline" ng-show="$ctrl.searchResult.total > 0">
			<div class="table-responsive">
				<table class="table m-b-bone">
					<tbody>
						<tr ng-repeat="question in $ctrl.searchResult.data">
							<td>
								<h4 ng-if="question.questionConsider.meetingDate">{{question.questionConsider.meetingDate | date: "dd.MM.yyyy"}}</h4>
								<h4 ng-if="!question.questionConsider.meetingDate">{{question.questionConsider.planDate | date: "dd.MM.yyyy"}}</h4> <span> {{question.meetingShortName}} </span> <span
								ng-if="question.questionConsider.meetingNumber"> № {{question.questionConsider.meetingNumber}} </span> <span ng-if="question.questionConsider.itemNumber"> пункт
									{{question.questionConsider.itemNumber}} </span>
							</td>
							<td>
								<h3>
									<a ui-sref="app.ssmka.question({id: question.questionID})" ng-if="$ctrl.hasViewPermission">
										<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
											district="question.questionConsider.district" />
									</a>
									<span ng-if="!$ctrl.hasViewPermission">
										<question-address address="question.questionConsider.address" prefect="question.questionConsider.prefect"
												district="question.questionConsider.district" />
									</span>
								</h3>
								<h4 ng-if="question.questionConsider.cadastralNumber">{{question.questionConsider.cadastralNumber}}</h4>
								<div class="semibold m-b-xs" ng-if="question.questionConsider.question">{{question.questionConsider.question}}</div>
								<div ng-if="question.questionConsider.customer">Заявитель — {{question.questionConsider.customer}}</div>
								<div ng-if="question.questionConsider.rightHolder">Правообладатель — {{question.questionConsider.rightHolder}}</div>
								<div ng-if="question.questionConsider.responsiblePrepare.contractorPrepareFIO">Ответственный исполнитель — {{question.questionConsider.responsiblePrepare.contractorPrepareFIO}}</div>
								<div ng-if="question.questionConsider.speaker.organizationShort">Докладчик — {{question.questionConsider.speaker.organizationShort}}</div>
							</td>
							<td>
								<h4 class="text-navy" ng-if="question.questionConsider.meetingDate">
									<question-decision decision="question.questionConsider.decisionType" decision-code="question.questionConsider.decisionTypeCode" />
								</h4>
								<div class="text-muted" ng-if="!question.questionConsider.meetingDate">
									<h4 class="text-muted" ng-if="question.questionConsider.consideration === $ctrl.Consideration.REVOKED">
										<i class="fa fa-reply"></i>&nbsp;Отозвано
									</h4>
									<h4 class="text-muted" ng-if="question.questionConsider.consideration !== $ctrl.Consideration.REVOKED">
										<i class="fa fa-calendar"></i>&nbsp;Планируется к рассмотрению
									</h4>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<span ng-show="$ctrl.searchResult.total === 0" class="text-danger">
        	<span class="fa fa-times-circle"></span>
			<span> Записи не найдены</span>
		</span>

		<div class="m-b">
		    <div class="clearfix">
		        <div class="pull-left m-b-xs" ng-show="!$ctrl.notFound">
		            <pagination data="$ctrl.pagination" on-change="$ctrl.reload($ctrl.filter, false)"></pagination>
		        </div>
		    </div>
		</div>
		
	</success> 
	<error>
		<spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam>
	</error> 
</loading-block>
