<table class="table" style="table-layout: fixed;">
    <thead>
    <tr>
        <th width="75"></th>
        <th class="center" width="50%">Вопрос</th>
        <th class="center" width="50%">Ответственные</th>
        <th width="100"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="!$ctrl.questions.length">
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="btn btn-sm btn-default"
                    ng-click="$ctrl.addQuestion($index)"
                    title="Добавить вопрос">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </tr>
    <tr ng-repeat="question in $ctrl.questions">
        <td>
            <button type="button" class="btn btn-xs btn-default"
                    ng-if="!$first"
                    ng-click="$ctrl.swapQuestions($index, $index - 1)">
                <i class="fa fa-arrow-up m-r-xs"></i>
            </button>
            <button type="button" class="btn btn-xs btn-default"
                    ng-if="!$last"
                    ng-click="$ctrl.swapQuestions($index, $index + 1)">
                <i class="fa fa-arrow-down m-r-xs"></i>
            </button>
        </td>
        <td>
                <textarea class="form-control" ng-model="question.questionConsider.question"
                          textarea-resizable></textarea>
        </td>
        <td>
            <div>
                <ui-select multiple ng-model="question.questionConsider.responsiblePrepareExpress" theme="bootstrap"
                           uis-open-close="$ctrl.updateResponsibles($index)"
                >
                    <ui-select-match>
                        {{$item.contractorPrepareFIO}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.responsibles">
                        {{item.contractorPrepareFIO}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </td>
        <td>
            <button class="btn btn-sm btn-default"
                    ng-click="$ctrl.deleteQuestion($index)"
                    title="Удалить вопрос">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-default" ng-if="$last"
                    ng-click="$ctrl.addQuestion($index)"
                    title="Добавить вопрос">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>