<loading-block loading-status="$ctrl.loadingStatus">
    <success>
        <oasi-document-logs model="$ctrl.history"></oasi-document-logs>
    </success>
    <error>
        <div class="m-t-md">
            <span class="fa fa-times-circle text-danger"></span>
            <span> Ошибка</span>
        </div>
    </error>
    <loading>
        <spinner type="'circle'"/>
    </loading>
</loading-block>
