<style>
    .multi-input {
        margin-left: 0;
        margin-right: 0;
    }

    .multi-input:last-of-type {
        margin-bottom: 0;
    }
</style>
<div class="form-group multi-input" style="margin-left: 0;margin-right: 0;"
     ng-repeat="item in $ctrl.items track by $index">
    <input
            type="text"
            class="form-control"
            ng-change="$ctrl.onInputChange(item, $index)"
            ng-model="item">
</div>
