<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="chairmanApprove">
                <h2 class="m-t-sm semibold">
                    {{$ctrl.meetingType}} {{$ctrl.protocol.meetingDate | date: 'dd.MM.yyyy'}}
                </h2>
                <div style="margin: 15px 0;">
                    <h3>Протокол</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            Протокол
                        </dt>
                        <dd>
                            <ex-file-manager
                                    files="$ctrl.protocolDraftFiles"
                                    show-size="true"
                                    show-date="true"
                                    signable="true"
                                    readonly="true"
                                    folder-guid="$ctrl.folderGuid"
                                    sign-mobile="$ctrl.openProtocolDraftSignDialogMobile"
                                    open-sign-dialog="$ctrl.openProtocolDraftSignDialog"
                                    before-sign="$ctrl.beforeProtocolDraftSign"
                                    after-sign="$ctrl.afterProtocolDraftSign">
                            </ex-file-manager>
                        </dd>
                    </dl>
                </div>
                <div ng-if="$ctrl.showConclusion">
                    <h3>Заключение ГК</h3>
                    <dl class="dl-horizontal">
                        <dt>
                            Заключение ГК
                        </dt>
                        <dd>
                            <ex-file-manager
                                    files="$ctrl.conclusionDraftFiles"
                                    show-size="true"
                                    show-date="true"
                                    signable="true"
                                    readonly="true"
                                    folder-guid="$ctrl.folderGuid"
                                    sign-mobile="$ctrl.openConclusionDraftSignDialogMobile"
                                    open-sign-dialog="$ctrl.openConclusionDraftSignDialog"
                                    before-sign="$ctrl.beforeConclusionDraftSign"
                                    after-sign="$ctrl.afterConclusionDraftSign">
                            </ex-file-manager>
                        </dd>
                    </dl>
                </div>

                <h4 class="m-t-md semibold">Комментарии от согласующих по вопросам</h4>
                <div class="m-b-md">Всего вопросов - {{$ctrl.protocol.questionsNum}}</div>

                <questions-comments questions="$ctrl.protocol.question" decisions="$ctrl.decisions"></questions-comments>

                <h4 class="semibold m-b-xs">Комментарии к вопросам</h4>
                <div class="m-b-md">* Выберите вопрос, к которому хотите добавить комментарий и введите его в поле
                    напротив
                </div>

                <questions-comments-add questions="$ctrl.protocol.question" questions-comments="$ctrl.questionsComments"></questions-comments-add>


                <expanded-section
                        show="true"
                        ng-init="approvalListExpanded = true"
                        expand="approvalListExpanded">
                    <header style="display:inline;" class="semibold">Лист согласования</header>
                    <content>
                        <div class="m-b-md"></div>
                        <protocol-approval-list
                                approval-cycle="$ctrl.protocol.approval.approvalCycle"></protocol-approval-list>
                    </content>
                </expanded-section>

                <div ng-if="$ctrl.protocol.approvalHistory && $ctrl.protocol.approvalHistory.approvalCycle && $ctrl.protocol.approvalHistory.approvalCycle.length">
                    <protocol-approval-history approval-cycle="$ctrl.protocol.approvalHistory.approvalCycle"></protocol-approval-history>
                </div>

                <form class="form-horizontal m-t-md" name="commentForm">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">
                            Комментарий
                        </div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <textarea rows="3" class="form-control" ng-model="$ctrl.comment"></textarea>
                        </div>
                    </div>
                </form>

                <div>
                    <div>Внимание!</div>
                    <div>
                        Для подписания требуется электронная подпись: вставьте свой сертификат электронной подписи и в
                        компьютер и нажмите кнопку "Утвердить". Далее, следуйте инструкциям формы.
                    </div>
                    <div>
                        При выборе варианта "Не согласовано" поле "Комментарий" обязательно для заполнения.
                    </div>
                </div>
                <div style="margin-top: 30px">
                    <button ng-click="$ctrl.clickMobileSign = false; $ctrl.submitHandler()" class="btn btn-sm btn-primary"
                            ng-if="$ctrl.checkSign === 'all' || $ctrl.checkSign === 'plugin'"
                            ng-disabled="$ctrl.comment || $ctrl.hasQuestionsComments()">
                        <i class="fa m-r-xs fa fa-laptop"></i>{{$ctrl.signButtonTitle}}
                    </button>
                    <button ng-click="$ctrl.clickMobileSign = true; $ctrl.submitHandler()" class="btn btn-sm btn-primary mobile-approve-btn"
                            ng-if="$ctrl.checkSign === 'all' || $ctrl.checkSign === 'dss'"
                            ng-disabled="$ctrl.comment || $ctrl.hasQuestionsComments()">
                        <i class="fa m-r-xs fa fa-mobile"></i>{{$ctrl.signButtonTitle}}
                    </button>
                    <button type="button" ng-if="$ctrl.checkSign === 'none'" class="btn btn-sm btn-primary" ng-disabled="true">
                        <i class="fa m-r-xs"></i>Обратитесь к администратору
                    </button>
                    <button ng-click="$ctrl.sendBackHandler()" class="btn btn-sm btn-danger"
                            ng-disabled="!$ctrl.comment && !$ctrl.hasQuestionsComments()">
                        На доработку
                    </button>
                </div>
            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>