<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="pull-right m-t-md">
	<button type="button" ng-if="!$ctrl.protocol.secretary" class="btn btn-sm btn-default" ng-click="$ctrl.createReport()" my-auth="OASI_MEETING_PRINTBUTTON_PROTOCOL">Сформировать печатную форму</button>
	<button type="button" ng-if="!$ctrl.protocol.secretary" class="btn btn-sm btn-default" ng-click="$ctrl.showAddFileDialog()" >Загрузить файл</button>
	<div class="btn-group" ng-if="!$ctrl.protocol.secretary">
		<button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.editProtocol()" my-auth="OASI_MEETING_EDITBUTTON_PROTOCOL">Редактировать</button>
	</div>
	<button class="btn btn-sm btn-default" ng-click="$ctrl.sendDecision()">
		<i class="fa fa-envelope m-r-xs"></i>Отправить решение
	</button>
	<button class="btn btn-sm btn-default" ng-click="$ctrl.createProtocolWithInstructionsPrintForm()">Протокол с поручениями</button>
</div>
<h2 class="m-t-md">
	<small>{{$ctrl.meetingType.meetingFullName}}</small>
</h2>
<h2 class="m-t-sm semibold">Протокол заседания № {{$ctrl.protocol.meetingNumber}} от {{$ctrl.protocol.meetingDate | date: 'dd.MM.yyyy'}}</h2>
<div class="m-t m-b" ng-if="$ctrl.protocol.protocolApproved">
	<span class="label label-success m-r-sm">Протокол утвержден</span>
</div>
<span ng-if="$ctrl.fileProtocolProject" class="protocol-view-file" >
	<span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Файл протокола</span><br/>
	<ex-file file-info="$ctrl.fileProtocolProject"
			 show-size="true"
			 show-date="true"
			 check-sign="true"
	></ex-file>
</span>
<span ng-if="$ctrl.protocol.fileProtocolDraft && $ctrl.canViewProjectFiles" class="protocol-view-file" >
	<span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Проект протокола</span><br/>
	<ex-file file-info="$ctrl.protocol.fileProtocolDraft"
			 show-size="true"
			 show-date="true"
			 check-sign="true"
	></ex-file>
</span>
<span ng-if="$ctrl.protocol.fileConclusionDraft && $ctrl.canViewProjectFiles" class="protocol-view-file" >
	<span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Проект Заключения ГК</span><br/>
	<ex-file file-info="$ctrl.protocol.fileConclusionDraft"
			 show-size="true"
			 show-date="true"
			 check-sign="true"
	></ex-file>
</span>
<span ng-if="$ctrl.fileProtocol && $ctrl.canViewFiles" class="protocol-view-file" ng-class="{'m-l': $ctrl.fileProtocol && $ctrl.fileProtocolProject}">
	<span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Электронный образ протокола</span><br/>
	<ex-file file-info="$ctrl.fileProtocol"
			 show-size="true"
			 show-date="true"
			 check-sign="true"
	></ex-file>
</span>
<span ng-if="$ctrl.protocol.meetingType === 'PZZ' && $ctrl.protocol.fileConclusion && $ctrl.canViewFiles" class="protocol-view-file m-1">
	<span style="margin-top: 5px; font-weight: 600; font-size: 12px; margin-bottom: 10px;">Электронный образ Заключения ГК</span><br/>
	<ex-file file-info="$ctrl.protocol.fileConclusion"
			 show-size="true"
			 show-date="true"
			 check-sign="true"
	></ex-file>
</span>

<div class="row">
<uib-tabset template-url="app/components/ssmka/question/question-tabs.html"> <uib-tab heading="Решения"> <!--Решения-->
<p class="semibold m-b-md">
	<span class="m-r">Всего вопросов — {{$ctrl.protocol.questionsNum}}</span>
</p>
<div class="table-responsive">
	<table class="table our-table-xs table-bordered">
		<thead>
			<tr>
				<th class="center">№</th>
				<th class="center">Вопрос</th>
				<th class="center" width="20%">Категория решения</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="question in $ctrl.protocol.question | notExcludedQuestions">
				<td class="center"><div class="m-t-xs">{{question.itemNumber}}</div></td>
				<td>
					<h3>
						<a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: question.questionID})">{{question.address}}</a>
						<div ng-if="!$ctrl.hasQuestionViewPermission">{{question.address}}</div>
					</h3>
					<div ng-if="question.basis && question.basis.numberCase && $ctrl.protocol.meetingType === $ctrl.MeetingType.AS">{{question.basis.numberCase}}</div>
					<div ng-if="question.cadastralNumber">{{question.cadastralNumber}}</div>

					<div ng-if="question.question && $ctrl.meetingType.planningMeeting">
						{{question.question}}
					</div>

					<div ng-if="question.question && !$ctrl.meetingType.planningMeeting" class="semibold">
						<a ui-sref="app.ssmka.question({id: question.questionID})">
							{{question.question}}
						</a>
					</div>

					<div class="semibold m-t-sm m-b-sm">Решение</div>
					<div ng-bind-html="question.decisionText" style="white-space: pre-wrap;"></div>
				</td>
				<td><div class="semibold">{{question.decisionType}}</div></td>
			</tr>
		</tbody>
	</table>
</div>
</uib-tab> <uib-tab heading="Данные протокола"> <!--Данные протокола-->
	<protocol-data ng-if="$ctrl.protocol.meetingType !== 'AS'" protocol="$ctrl.protocol"></protocol-data>
	<protocol-data-as ng-if="$ctrl.protocol.meetingType === 'AS'" protocol="$ctrl.protocol"></protocol-data-as>
</uib-tab>
<uib-tab heading="Визовый экземпляр" index="'approvals'">
	<protocol-approvals protocol="$ctrl.protocol"></protocol-approvals>
</uib-tab>
<uib-tab heading="Процесс" index="'process'">
	<protocol-process protocol-id="$ctrl.protocol.protocolID" meeting-type="$ctrl.protocol.meetingType"></protocol-process>
</uib-tab>
<uib-tab ng-if="$ctrl.hasApprovalSheetViewPermission" heading="Листы голосования" index="'ApprovalSheet'">
	<approval-sheet></approval-sheet>
</uib-tab>
<uib-tab heading="Поручения" index="'instructions'">
	<protocol-instructions data="$ctrl.instructions"></protocol-instructions>
</uib-tab>
<uib-tab heading="JSON" index="'json'" ng-if="$ctrl.hasJsonViewPermission">
	<protocol-json-editor document="$ctrl.protocol"></protocol-json-editor>
</uib-tab>
<uib-tab heading="История изменений" index="'history'" ng-if="$ctrl.hasHistoryViewPermission">
	<document-history document-id="$ctrl.protocol.protocolID"></document-history>
</uib-tab>
</uib-tabset> </div>

</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
