<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>

        <div class="m-l-md m-t-md">
            <div class="m-t-xs m-b-sm">
                <span style="font-weight: 600; font-size: 12px;">Файл протокола</span><br/>
            </div>
            <ex-file-manager files="$ctrl.fileProtocolProject" downloadable="$ctrl.fileProtocolProject.length === 0"
                             folder-guid="$ctrl.folderGuid" ext-pattern="'docx'"
                             file-type="'MkaDocProtocolAsProj'"
                             show-size="true" show-date="true" deletable="true"
            >

            </ex-file-manager>
        </div>

        <uib-tabset template-url="app/components/ssmka/question/question-tabs.html">
            <uib-tab heading="Данные протокола"> <!--Данные протокола-->
                <protocol-edit-data-as protocol="$ctrl.protocol"></protocol-edit-data-as>
            </uib-tab>
            <uib-tab heading="Решения"> <!--Решения-->
                <protocol-edit-decisions protocol="$ctrl.protocol" questions="$ctrl.questions"
                                         decision-types="$ctrl.decisionTypes"></protocol-edit-decisions>
            </uib-tab>
        </uib-tabset>
        <div class="form-group m-b-lg">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-7 col-md-8 col-sm-9">
                <button ng-click="$ctrl.save()" type="button" class="btn btn-w-m btn-primary">Сохранить
                </button>
            </div>
        </div>
        </form>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></spam>
    </error>
</loading-block>
