<div class="row">
    <div class="col-lg-7">
        <div class="description">
            <dl class="dl-horizontal">
                <dt>
                    <span>Присутствовали</span>
                </dt>
                <dd>
                    <div ng-repeat="attended in $ctrl.protocol.attended">{{attended.name}}</div>
                </dd>
                <dt>
                    <span>Редакционная группа от Москомстройнвеста</span>
                </dt>
                <dd>
                    <div ng-repeat="member in $ctrl.protocol.draftingGroupInvest.member">{{member.iofShort}}</div>
                </dd>
                <dt>
                    <span>Редакционная группа от Москомархитектуры</span>
                </dt>
                <dd>
                    <div ng-repeat="member in $ctrl.protocol.draftingGroupMKA.member">{{member.iofShort}}</div>
                </dd>
                <dt>
                    <span>Протокольная группа Москомархитектуры</span>
                </dt>
                <dd>
                    <div ng-repeat="member in $ctrl.protocol.protocolGroup.member">{{member.iofShort}}</div>
                </dd>
                <dt>
                    <span>Протокол утвердил</span>
                </dt>
                <dd>{{$ctrl.protocol.approvedBy.iofShort}}</dd>
            </dl>
        </div>
    </div>
</div>