<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<form method="get" class="form-horizontal" name="protocolEditForm">
	<uib-tabset template-url="app/components/ssmka/question/question-tabs.html"> <uib-tab heading="Данные протокола"> <!--Данные протокола-->
		<h4>Протокол заседания</h4>
	
		<div class="form-group" ng-class="{'has-error': protocolEditForm.meetingDate.$invalid}">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата заседания<span class="our-mandatory">*</span></label>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<date-selector-ss name="meetingDate" ng-model="$ctrl.protocol.meetingDate" validatable="false" my-width="251" required="" disabled="true"></date-selector-ss>
			</div>
		</div>
	
		<div class="form-group" ng-class="{'has-error': protocolEditForm.meetingNumber.$invalid}">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер заседания<span class="our-mandatory">*</span></label>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<input name="meetingNumber" type="text" class="form-control" ng-model="$ctrl.protocol.meetingNumber" required="" disabled="true">
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокол утвержден</label>
			<div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
				<label> <input type="checkbox" icheck ng-model="$ctrl.protocol.protocolApproved">
				</label>
			</div>
		</div>

		<div class="form-group">
			<h4 class="col-lg-3 col-md-3 col-sm-3 text-right">Присутствовали</h4>
		</div>

		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Внутренние</label>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="row" ng-repeat="attendee in $ctrl.internalAttendees">
					<div class="col-lg-5">
						<ui-select ng-model="attendee.department"
								   ng-disabled="$ctrl.updatingUsersListInProgress"
								   ng-change="$ctrl.departmentsChange($select.selected, $index)"
								   theme="bootstrap">
							<ui-select-match placeholder="Выберите подразделение">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices minimum-input-length="3" repeat="item.name as item in $ctrl.departments | filter: $select.search"> {{item.name}} </ui-select-choices>
						</ui-select>
					</div>
					<div class="col-lg-5">
						<ui-select ng-model="attendee.result"
								   ng-disabled="$ctrl.updatingUsersListInProgress"
								   ng-change="$ctrl.internalAttendeeChange($select.selected, $index)"
								   theme="bootstrap">
							<ui-select-match placeholder="Выберите присутствовавших">{{$select.selected.iofShort}}</ui-select-match>
							<ui-select-choices repeat="item.iofShort as item in attendee.users | filter: $select.search"> {{item.iofShort}} </ui-select-choices>
						</ui-select>
					</div>
					<div class="col-lg-2">
						<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.addInternalAttendee()" ng-if="$last" ng-disabled="$ctrl.updatingUsersListInProgress">
							<i class="fa fa-plus"></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.removeInternalAttendee($index)" ng-disabled="$ctrl.updatingUsersListInProgress">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Внешние</label>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="row">
					<div class="col-lg-10">
						<ui-select multiple ng-model="$ctrl.externalAttendees" theme="bootstrap" on-select="$ctrl.attendedAdded()">
						<ui-select-match placeholder="Выберите присутствовавших">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="item in $ctrl.meetingAttendees"> {{item.name}} </ui-select-choices> </ui-select>
					</div>
					<div class="col-lg-2">
						<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.clearAttendees()">
							<i class="fa fa-trash"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Редакционная группа от Москомстройнвеста</label>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<ui-select multiple ng-model="$ctrl.protocol.draftingGroupInvest.member" theme="bootstrap">
				<ui-select-match placeholder="Выберите участников редакционнной группы">{{$item.iofShort}} - {{$item.post}}</ui-select-match>
				<ui-select-choices repeat="item in $ctrl.redactorGroupMemberInvest"> {{item.iofShort}} - {{item.post}} </ui-select-choices> </ui-select>
			</div>
		</div>	
		
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Редакционная группа от Москомархитектуры</label>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<ui-select multiple ng-model="$ctrl.protocol.draftingGroupMKA.member" theme="bootstrap"> 
				<ui-select-match placeholder="Выберите участников редакционнной группы">{{$item.iofShort}} - {{$item.post}}</ui-select-match>
				<ui-select-choices repeat="item in $ctrl.redactorGroupMemberMKA"> {{item.iofShort}} - {{item.post}} </ui-select-choices> </ui-select>
			</div>
		</div>		
		
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокольная группа</label>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<ui-select multiple ng-model="$ctrl.protocol.protocolGroup.member" theme="bootstrap"> 
				<ui-select-match placeholder="Выберите участников протокольной группы">{{$item.iofShort}} - {{$item.post}}</ui-select-match>
				<ui-select-choices repeat="item in $ctrl.protocolGroupMember"> {{item.iofShort}} - {{item.post}} </ui-select-choices> </ui-select>
			</div>
		</div>		
		
		<div class="form-group">
			<label class="col-lg-3 col-md-3 col-sm-3 control-label">Протокол утвердил</label>
			<div class="col-lg-7 col-md-8 col-sm-9">
				<select class="form-control our-select" ng-model="$ctrl.protocol.approvedBy"
					ng-options="item as item.iofShort + ' - ' + item.post for item in $ctrl.protocolApprovers track by item.accountName">
				</select>
				<div class="pull-right">
					<span class="caret our-caret"></span>
				</div>
			</div>
		</div>
	
		</uib-tab>
		<uib-tab heading="Решения"> <!--Решения-->
            <protocol-edit-decisions protocol="$ctrl.protocol" questions="$ctrl.questions" decision-types="$ctrl.decisionTypes"></protocol-edit-decisions>
		</uib-tab>
	</uib-tabset>
	<div class="form-group">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<button ng-click="$ctrl.save()" ng-disabled="!protocolEditForm.$valid" type="button" class="btn btn-w-m btn-primary">Сохранить</button>
			<!-- <button ng-click="$ctrl.cancelEdit()" type="button" class="btn btn-w-m btn-default">Отмена</button> -->
		</div>
	</div>
</form>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
