<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div ng-if="$ctrl.data.length">
            <div class="m-b">Всего вопросов - {{$ctrl.data.length}}</div>
            <div class="table-responsive" style="border-bottom:1px solid #e7eaec">
                <table class="table our-table-xs table-bordered voting-table">
                    <thead>
                    <tr>
                        <th class="center col-xs-1">№</th>
                        <th class="center col-xs-4">Вопрос</th>
                        <th colspan="2" class="center col-xs-7">Поручения
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $ctrl.data">
                            <td width="10px" class="center">{{$index + 1}}</td>
                            <td>
                                <div ng-if="item.question.address">{{item.question.address}}</div>
                                <a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: item.question.questionID})">{{item.question.question}}</a>
                                <div ng-if="!$ctrl.hasQuestionViewPermission">{{item.question.question}}</div>
                                <div class="semibold">Решение:</div>
                                <div ng-bind-html="item.question.decisionText" style="white-space: pre-wrap;"></div>
                            </td>
                            <td>
                                <protocol-instruction statuses="$ctrl.statuses" instructions="item.instructions"></protocol-instruction>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!$ctrl.data.length">
            <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения</h1>
            </div>
        </div>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при получении списка поручений</span></spam>
    </error>
</loading-block>