<form role="form" class="m-t form-horizontal" name="addFileForm">
	<div class="inmodal">
		<div class="modal-header">
			<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
			<h4 class="modal-title">Электронный образ протокола</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<a>
						<div class="dropzone" id="upload-protocol-dropzone" options="$ctrl.dzOptions" callbacks="$ctrl.dzCallbacks" methods="$ctrl.dzMethods" ng-dropzone>
						</div>
					</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Сохранить</button>
			<button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
		</div>
	</div>
</form>

