<h4>Утверждение протокола</h4>

<form method="get" class="form-horizontal" name="protocolEditForm">
    <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Протокол утвержден</label>
        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
            <label> <input type="checkbox" icheck ng-model="$ctrl.protocol.protocolApproved" disabled="disabled">
            </label>
        </div>
    </div>
</form>

<h4>Члены комиссии</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center">ФИО</th>
            <th class="center">Должность</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in $ctrl.protocol.commissionMember">
            <td>
                <div class="m-t-xs">{{member.fioFull}}</div>
            </td>
            <td>
                <div class="m-t-xs">{{member.post}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4>Ответственный секретарь</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center">ФИО</th>
            <th class="center">Должность</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="$ctrl.protocol.secretaryResponsible">
            <td>
                <div class="m-t-xs">{{$ctrl.protocol.secretaryResponsible.fioFull}}</div>
            </td>
            <td>
                <div class="m-t-xs">{{$ctrl.protocol.secretaryResponsible.post}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4>Приглашены</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center">ФИО</th>
            <th class="center">Организация</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invitee in $ctrl.protocol.invitee">
            <td>
                <div class="m-t-xs">{{invitee.fioFull}}</div>
            </td>
            <td>
                <div class="m-t-xs">{{invitee.name}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>