<div class="table-responsive">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center">№</th>
            <th class="center">Вопрос</th>
            <th class="center" width="55%">Решение</th>
            <th class="center" width="20%">Категория решения</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in $ctrl.protocol.question">
            <td class="center">
                <div class="m-t-xs">{{question.itemNumber}}</div>
            </td>
            <td>
                <h3>
                    <a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: question.questionID})">{{question.address}}</a>
                    <div ng-if="!$ctrl.hasQuestionViewPermission">{{question.address}}</div>
                </h3>
                <div ng-if="question.basis && question.basis.numberCase && $ctrl.protocol.meetingType === $ctrl.MeetingType.AS">
                    {{question.basis.numberCase}}
                </div>
                <div ng-if="question.cadastralNumber">{{question.cadastralNumber}}</div>
                <div ng-if="question.question">{{question.question}}</div>
            </td>
            <td>
                <textarea class="form-control our-control" rows="10" ng-model="question.decisionText"></textarea>
            </td>
            <td>
                <select class="form-control our-select" ng-model="question.decisionTypeCode"
                        ng-options="item.decisionTypeCode as item.decisionType for item in $ctrl.getDecisionTypes(question)"
                        ng-change="$ctrl.decisionTypeChanged($index)">
                </select>
                <div class="pull-right">
                    <span class="caret our-caret"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
