<div ng-if="!$ctrl.editing">
	<protocol-view protocol-promise="$ctrl.protocolPromise" edit="$ctrl.edit(val)" reload="$ctrl.reload()"/>
</div>
<div ng-if="$ctrl.editing">
	<protocol-edit ng-if="$ctrl.protocol.meetingType !== 'AS'" protocol-promise="$ctrl.protocolPromise" edit="$ctrl.edit(val)" ></protocol-edit>
	<protocol-edit-as ng-if="$ctrl.protocol.meetingType === 'AS'" protocol-promise="$ctrl.protocolPromise" edit="$ctrl.edit(val)" ></protocol-edit-as>
</div>