<expanded-section
        show="true"
        ng-if="$ctrl.protocol.fileProtocolDraft || $ctrl.protocol.fileConclusionDraft || $ctrl.protocol.approval.approvalCycle"
        ng-init="approvalListExpanded = true"
        expand="approvalListExpanded">
    <header style="display:inline;" class="semibold">Лист согласования</header>
    <content>
        <div style="margin: 15px 0;" ng-if="$ctrl.protocol.fileProtocolDraft">
            <h3>Протокол</h3>
            <dl class="dl-horizontal">
                <dt>
                    Протокол
                </dt>
                <dd>
                    <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>
                </dd>
            </dl>
        </div>
        <div ng-if="$ctrl.protocol.fileConclusionDraft">
            <h3>Заключение ГК</h3>
            <dl class="dl-horizontal">
                <dt>
                    Заключение ГК
                </dt>
                <dd>
                    <ex-file file-info="$ctrl.protocol.fileConclusionDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>
                </dd>
            </dl>
        </div>

        <div class="m-b-md"></div>
        <protocol-approval-list ng-if="$ctrl.protocol.approval.approvalCycle"
                approval-cycle="$ctrl.protocol.approval.approvalCycle"></protocol-approval-list>
    </content>
</expanded-section>

<expanded-section
        ng-if="$ctrl.protocol.approvalHistory && $ctrl.protocol.approvalHistory.approvalCycle"
        ng-repeat="cycle in $ctrl.protocol.approvalHistory.approvalCycle | orderBy:['-approvalCycleDate','-approvalCycleNum']"
        show="true"
        ng-init="$ctrl.approvalHistoryListExpanded[cycle.approvalCycleNum] = false"
        expand="$ctrl.approvalHistoryListExpanded[cycle.approvalCycleNum]">
    <header style="display:inline;" class="semibold">
        <span class="semibold" style="display: inline">Предыдущий цикл согласования {{cycle.approvalCycleNum}} от
        {{cycle.approvalCycleDate | date: 'dd.MM.yyyy'}}
        </span>
        <span class="label label-primary m-l-sm">
            Версия согласования {{cycle.approvalCycleNum}}
        </span>
    </header>
    <content>
        <div style="margin: 15px 0;" ng-if="cycle.approvalCycleFileProtocol">
            <h3>Протокол</h3>
            <dl class="dl-horizontal">
                <dt>
                    Протокол
                </dt>
                <dd>
                    <ex-file file-info="cycle.approvalCycleFileProtocol"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>
                </dd>
            </dl>
        </div>
        <div ng-if="cycle.approvalCycleFileConclusion">
            <h3>Заключение ГК</h3>
            <dl class="dl-horizontal">
                <dt>
                    Заключение ГК
                </dt>
                <dd>
                    <ex-file file-info="cycle.approvalCycleFileConclusion"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>
                </dd>
            </dl>
        </div>

        <div class="m-b-md"></div>
        <protocol-approval-list
                approval-cycle="cycle"></protocol-approval-list>
    </content>
</expanded-section>
