<table cellspacing="10" class="table-condensed" style="width:100%;table-layout:fixed;">
    <tr class="p-b-sm" valign="top" ng-repeat="instruction in $ctrl.instructions | orderBy: instruction.docDateInst">
        <td width="90px" class="m-r-sm">
            <span ng-repeat="status in $ctrl.statuses | filter: {name: instruction.condition}"
                class="label label-{{status.color}}">{{instruction.condition}}</span>
        </td>
        <td width="80px">
            <a href="/oasi/#/app/instruction/card/{{instruction.documentId}}" target="_blank">
                <div>{{$ctrl.formatDate(instruction.docDateInst)}}</div>
                <div class="small">{{instruction.docNumberInst}}</div>
            </a>
        </td>
        <td>
            {{instruction.contentInst}}
        </td>
        <td>
            {{instruction.executorInst}}
        </td>
        <td class="text-right">
            <div ng-class="{'text-danger semibold': $ctrl.isOutdated(instruction)}">
                {{$ctrl.formatDate(instruction.planDateInst)}}</div>
            <div ng-if="$ctrl.isOutdated(instruction)" class="text-danger small">Просрочено</div>
            <div ng-if="!$ctrl.isOutdated(instruction)" class="small">{{$ctrl.formatDate(instruction.reportDateInst)}}
            </div>
        </td>
    </tr>
</table>