<h4>Утверждение протокола</h4>

<form method="get" class="form-horizontal" name="protocolEditForm">
    <div class="form-group">
        <label class="col-lg-2 col-md-2 col-sm-2 control-label">Протокол утвержден</label>
        <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
            <label> <input type="checkbox" icheck ng-model="$ctrl.protocol.protocolApproved">
            </label>
        </div>
    </div>
</form>

<h4>Члены комиссии</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th></th>
            <th class="center" width="600px">ФИО</th>
            <th class="center">Должность</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in $ctrl.protocol.commissionMember">
            <td>
                <a class="btn btn-xs btn-default" ng-click="$ctrl.removeCommissionMember($index)"><i
                        class="fa fa-minus"></i></a>
            </td>
            <td>
                <div ladda="$ctrl.searchingCommissionMember[$index]"
                     data-spinner-size="18"
                     data-spinner-color="#AAAAAA" data-style="expand-right">
                    <ui-select ng-model="member.accountName" theme="bootstrap" append-to-body="true"
                               ng-change="$ctrl.onChangeCommissionMember($index)">
                        <ui-select-match placeholder="Введите 3 символа для начала поиска">
                            {{$select.selected.fioFull}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchCommissionMembers($index, $select.search)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item.accountName as item in $ctrl.commissionMembers[$index]">
                            {{item.fioFull}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
            <td>
                <input type="text" ng-model="member.post" class="form-control" disabled="disabled">
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-xs btn-default" ng-click="$ctrl.addCommissionMember()"><i class="fa fa-plus"></i></a>
            </td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<h4>Ответственный секретарь</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center" width="600px">ФИО</th>
            <th class="center">Должность</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div ladda="$ctrl.searchingSecretaryResponsible"
                     data-spinner-size="18"
                     data-spinner-color="#AAAAAA" data-style="expand-right">
                    <ui-select ng-model="$ctrl.protocol.secretaryResponsible.accountName" theme="bootstrap"
                               append-to-body="true"
                               ng-change="$ctrl.onChangeSecretaryResponsible()">
                        <ui-select-match placeholder="Введите 3 символа для начала поиска">
                            {{$select.selected.fioFull}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchSecretaryResponsibles($select.search)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item.accountName as item in $ctrl.secretaryResponsibles">
                            {{item.fioFull}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
            <td>
                <input type="text" ng-model="$ctrl.protocol.secretaryResponsible.post" class="form-control"
                       disabled="disabled">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4>Приглашены</h4>

<div class="table-responsive m-b-lg">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th></th>
            <th class="center" width="600px">ФИО</th>
            <th class="center">Организация</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invitee in $ctrl.protocol.invitee">
            <td>
                <a class="btn btn-xs btn-default" ng-click="$ctrl.removeInvitee($index)"><i class="fa fa-minus"></i></a>
            </td>
            <td>
                <input type="text" ng-model="invitee.fioFull" class="form-control">
            </td>
            <td>
                <div>
                    <ui-select ng-model="invitee.code" theme="bootstrap" append-to-body="true"
                               ng-change="$ctrl.onChangeInviteeOrg($index)">
                        <ui-select-match>
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item.code as item in $ctrl.inviteeOrgs">
                            {{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-xs btn-default" ng-click="$ctrl.addInvitee()"><i class="fa fa-plus"></i></a>
            </td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>