<form role="form" class="m-t" name="addApproveeForm">
    <div class="inmodal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
            <h4 class="modal-title">Добавить согласующих</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-responsive table-fixed"
                   style="min-width:850px;margin-right:30px;">
                <thead>
                <tr>
                    <th class="nowrap center" width="50px">№</th>
                    <th class="nowrap center" width="159px" ng-if="$ctrl.showApprovalType">Вид действия</th>
                    <th class="nowrap center" width="30%">ФИО участника</th>
                    <th class="nowrap center" width="270px">Должность</th>
                    <th class="nowrap center" width="270px" ng-if="$ctrl.showComment">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="approver in $ctrl.result">
                    <td class="center">
                        {{$index + 1}}
                    </td>
                    <td ng-if="$ctrl.showApprovalType">
                        <ui-select ng-model="approver.approvalType" theme="bootstrap">
                            <ui-select-match>
                                {{$select.selected.approvalType}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in $ctrl.approvalTypes track by item.approvalTypeCode">
                                {{item.approvalType}}
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                        <div ladda="$ctrl.searchingApprovers"
                             data-spinner-size="18"
                             data-spinner-color="#AAAAAA" data-style="expand-right">
                            <ui-select ng-model="approver.user.accountName" theme="bootstrap"
                                       ng-change="$ctrl.onChangeApprover($index, $item)">
                                <ui-select-match placeholder="Введите 3 символа для начала поиска">
                                    {{$select.selected.displayName}}
                                </ui-select-match>
                                <ui-select-choices refresh="$ctrl.searchApprovers($select.search)"
                                                   minimum-input-length="3"
                                                   refresh-delay="300"
                                                   repeat="item.accountName as item in $ctrl.approvers">
                                    {{item.displayName}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </td>
                    <td>
                        {{approver.user.post}}
                    </td>
                    <td ng-if="$ctrl.showComment">
                        <textarea class="form-control" ng-model="approver.comment" style="resize: vertical"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-xs btn-default"
                                ng-click="$ctrl.addApprover()">
                            <i class="fa fa-plus m-r-xs"></i>
                        </button>
                    </td>
                    <td ng-if="$ctrl.showApprovalType"></td>
                    <td></td>
                    <td></td>
                    <td ng-if="$ctrl.showComment"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.add()" ng-disabled="!$ctrl.canAdd()">
                Добавить участников
            </button>
            <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
        </div>
    </div>
</form>

