<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Скопировать вопросы</h3>
    </div>
    <div class="modal-body">
        <form name="form" class="form-horizontal" ng-if="$ctrl.resolve.questions.length">
            <span class="m-r">Выбрано вопросов — {{$ctrl.getCheckedCount()}}</span>
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>№</th>
                        <th>Вопрос</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in $ctrl.resolve.questions">
                        <td>
                            <input type="checkbox" icheck ng-model="$ctrl.checked[$index]">
                        </td>
                        <td>{{question.itemNumber}}</td>
                        <td>
                            <div class="semibold">{{question.question}}</div>
                            <div>{{question.questionCategory}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div ng-if="!$ctrl.resolve.questions.length">
            <div style="height: 200px; padding-top: 70px;">
                <h1 class="text-center">Нет элементов для отображения</h1>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="$ctrl.save()" ng-disabled="!$ctrl.getCheckedCount()">Скопировать вопросы</button>
        <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</div>