<div ng-if="!$ctrl.editing">
	<div ng-if="$ctrl.express">
		<express-agenda-view agenda-promise="$ctrl.agendaPromise" reload="$ctrl.reload()"/>
	</div>
	<div ng-if="!$ctrl.express">
		<agenda-view agenda-promise="$ctrl.agendaPromise" edit="$ctrl.edit(val)" reload="$ctrl.reload()"/>
	</div>
</div>
<div ng-if="$ctrl.editing">
	<agenda-edit agenda-promise="$ctrl.agendaPromise" edit="$ctrl.edit(val)" />
</div>