<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<div class="pull-right m-t-md">
	<a class="btn btn-sm btn-default"
	   ng-click="$ctrl.createReport()"
	   my-auth="OASI_MEETING_PRINTBUTTON_AGENDA">Сформировать печатную форму</a>
	<button type="button"
			class="btn btn-sm btn-default"
			ng-if="$ctrl.agenda.agendaPublished"
			ng-click="$ctrl.createProtocol()" my-auth="OASI_MEETING_ADDBUTTON_PROTOCOL">Создать протокол</button>
	<button type="button"
			class="btn btn-sm btn-default"
			ng-if="$ctrl.agenda.agendaPublished && !$ctrl.agenda.meetingHeld"
			ng-click="$ctrl.renumberQuestions()"
            my-auth="OASI_MEETING_EDITBUTTON_AGENDA">Перенумеровать повестку</button>
	<button class="btn btn-sm btn-default"
	   ng-if="$ctrl.agenda.agendaPublished && $ctrl.agenda.meetingType === $ctrl.MeetingType.PZZ"
	   ng-click="$ctrl.previewPzzApproval()">Лист согласования</button>
	<button type="button"
			my-auth="OASI_MEETING_PERFORM_GK_PZZ_VOTING"
			class="btn btn-sm btn-default"
			ng-if="$ctrl.agenda.agendaPublished && $ctrl.agenda.meetingType === $ctrl.MeetingType.PZZ && !$ctrl.agenda.meetingNumber && $ctrl.agenda.meetingHeld !== true"
			ng-click="$ctrl.createGkVoting()">Провести голосование ГК</button>
	<button type="button"
			my-auth="OASI_MEETING_PERFORM_GK_EOO_VOTING"
			class="btn btn-sm btn-default"
			ng-if="$ctrl.agenda.agendaPublished && $ctrl.agenda.meetingType === $ctrl.MeetingType.GK_EOO && !$ctrl.agenda.meetingNumber && $ctrl.agenda.meetingHeld !== true"
			ng-click="$ctrl.createGkEOOVoting()">Провести голосование ГК ЭОО</button>
	<!-- <button ng-if="$ctrl.availableToCopy" class="btn btn-sm btn-muted" title="Создать копию" ng-click="$ctrl.copy()">
		<i class="fa fa-copy"></i> Скопировать
	</button> -->
	<button type="button"
			class="btn btn-sm btn-primary"
			ng-if="!$ctrl.agenda.meetingHeld" ng-click="$ctrl.editAgenda()"
			my-auth="OASI_MEETING_EDITBUTTON_AGENDA">Редактировать</button>
</div>
<h2 class="m-t-md">
	<small>{{$ctrl.meetingType.meetingFullName}}</small>
</h2>
<h2 class="m-t-sm semibold">Повестка заседания № {{$ctrl.agenda.meetingNumber}} от {{$ctrl.agenda.meetingDate | date: "dd.MM.yyyy"}}</h2>
<h4>
	<span class="m-r">Время начала: <time-renderer ng-model="$ctrl.agenda.meetingTime" format="HH:mm"></time-renderer></span><span class="m-r">Место проведения: {{$ctrl.agenda.meetingPlace}}</span>
</h4>
<div class="m-t m-b" ng-if="$ctrl.agenda.meetingHeld">
	<span class="label label-success m-r-sm">Заседание проведено</span>
</div>
<div class="clearfix"></div>

<p class="semibold m-b-md">
	<span class="m-r">Всего вопросов — {{$ctrl.includedCount}}</span>
	<span class="m-r" ng-if="$ctrl.agenda.agendaPublished">Повестка опубликована {{$ctrl.agenda.agendaPublished | date: 'dd.MM.yyyy HH:mm'}}</span>
	<span ng-if="$ctrl.agenda.fileAgenda"><a ng-href="{{$ctrl.getFileLink($ctrl.agenda.fileAgenda.idFile)}}">
		<file-icon file-name="$ctrl.agenda.fileAgenda.nameFile" small="true" ></file-icon>&nbsp;<file-name file-name="$ctrl.agenda.fileAgenda.nameFile" max-length="30"></file-name>
	</a></span>
</p>
<div uib-alert class="alert-warning" close="$ctrl.hideChanges()" ng-if="($ctrl.added.length > 0 || $ctrl.excluded.length > 0) && $ctrl.showChanges">
	<span class="pull-right">Последнее изменение {{$ctrl.lastChangeDate | date: 'dd.MM.yyyy HH:mm'}}</span>
	<span>Добавлены вопросы: </span><span class="alert-link m-r">{{$ctrl.added.join(', ')}}</span>
	<span>Исключены вопросы: </span><span class="alert-link m-r">{{$ctrl.excluded.join(', ')}}</span>
</div>

<div class="row">
	<div class="col-lg-7">
		<div class="description">
			<dl class="dl-horizontal">
				<dt>
					<span>Приглашенные</span>
				</dt>
				<dd>
					<div ng-repeat="attended in $ctrl.agenda.attended">{{attended.name}}, {{attended.iofShort}}</div>
				</dd>
			</dl>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table our-table-xs table-bordered">
		<thead>
			<tr>
				<th class="center">№</th>
				<th class="center">Вопрос</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Округ</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Наименование объекта</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Общая площадь</th>
				<th class="center">Заказчик, правообладатель</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Проектировщик</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType !== $ctrl.MeetingType.AS">Округ</th>
				<th class="center">Докладчики</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">№ дела эксперт</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Дата регистрации</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Плановая дата оказания ГУ</th>
                <th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Адрес, ГПЗУ</th>
				<th class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">Примечание</th>
				<th class="center">Справка</th>
				<th class="center">Презентация</th>
				<th class="center">Чертеж</th>
				<th class="center">Материалы</th>
				<th class="center">Комментарии</th>
				<th class="center">ФОИВ</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="question in $ctrl.included">
				<td class="center">
					<span>{{question.itemNumber}}</span>
				</td>
				<td>
					<div class="semibold">
						<span class="text-success" ng-if="question.status === $ctrl.AgendaQuestionStatus.ADDED">Вопрос добавлен</span>
						<span ng-if="question.status === $ctrl.AgendaQuestionStatus.EXCLUDED">Вопрос исключен</span>
					</div>
					<div class="semibold">
						<a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: question.questionId})" ng-class="{'text-muted': question.status === $ctrl.AgendaQuestionStatus.EXCLUDED}">
							{{$ctrl.questions[question.questionId].questionConsider.address}}
						</a>
						<div ng-if="!$ctrl.hasQuestionViewPermission" ng-class="{'text-muted': question.status === $ctrl.AgendaQuestionStatus.EXCLUDED}">
							{{$ctrl.questions[question.questionId].questionConsider.address}}
						</div>
					</div>
					<div>{{$ctrl.questions[question.questionId].questionConsider.cadastralNumber}}</div>
					<div ng-if="!$ctrl.meetingType.planningMeeting" class="semibold">
						<a ui-sref="app.ssmka.question({id: question.questionId})" ng-class="{'text-muted': question.status === $ctrl.AgendaQuestionStatus.EXCLUDED}">
							{{$ctrl.questions[question.questionId].questionConsider.question}}
						</a>
					</div>
					<div ng-if="$ctrl.meetingType.planningMeeting">
						{{$ctrl.questions[question.questionId].questionConsider.question}}
					</div>
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.prefect.join(',')}}
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.nameObject}}
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.totalArea}}
				</td>
				<td class="center">
					<div class="semibold">{{$ctrl.questions[question.questionId].questionConsider.customer}}</div>
					<div>{{$ctrl.questions[question.questionId].questionConsider.rightHolder}}</div>
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.designer}}
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType !== $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.prefect.join(',')}}
				</td>
				<td class="center">
					<div class="semibold">{{$ctrl.questions[question.questionId].questionConsider.speaker.organizationShort}}</div>
					<div ng-repeat="cospeaker in $ctrl.questions[question.questionId].questionConsider.cospeaker">{{cospeaker.organizationShort}}</div>
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					<span>{{$ctrl.questions[question.questionId].questionConsider.basis.numberCase}}</span>
					<span>{{$ctrl.questions[question.questionId].questionConsider.expertFio}}</span>
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.basis.date | date:"dd.MM.yyyy"}}
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.basis.planDate | date:"dd.MM.yyyy"}}
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					<span>{{$ctrl.questions[question.questionId].questionConsider.address}}</span>
					<span>{{$ctrl.questions[question.questionId].questionConsider.gpzu}}</span>
				</td>
				<td class="center" ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">
					{{$ctrl.questions[question.questionId].questionConsider.basis.note}}
				</td>
				<td class="center">
					<span ng-repeat="document in $ctrl.getMaterialGroups($ctrl.questions[question.questionId], $ctrl.MaterialType.INQUIRIES).document">
						<a ng-href="{{$ctrl.getFileLink(document.idFile)}}"><file-icon file-name="document.nameFile" /></a>
					</span>
				</td>
				<td class="center">
					<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.PRESENTATION).document">
						<a ng-href="{{$ctrl.getFileLink(document.idFile)}}"><file-icon file-name="document.nameFile" /></a>
					</span>
				</td>
				<td class="center">
					<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.GPZU_SCHEME).document">
						<a ng-href="{{$ctrl.getFileLink(document.idFile)}}"><file-icon file-name="document.nameFile" /></a>
					</span>
				</td>
				<td class="center">
					<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.OTHER).document">
						<a ng-href="{{$ctrl.getFileLink(document.idFile)}}"><file-icon file-name="document.nameFile" /></a>
					</span>
				</td>
				<td class="center">
					<a ng-show="$ctrl.questions[question.questionId].comments && $ctrl.questions[question.questionId].comments.length > 0" ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: question.questionId, tab: 2})" >
						{{$ctrl.questions[question.questionId].comments.length}}
					</a>
				</td>
				<td class="center">
					<i ng-repeat="externalAgree in $ctrl.questions[question.questionId].questionConsider.externalAgree"
					   ng-class="[$ctrl.pzzExternalAgree[externalAgree.organizationCode].icon,
					   			  {'text-success': externalAgree.hasComment}]"
					   class="m-r-sm m-b-sm fa-2x"
					></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
