<div class="clearfix m-t-sm m-b-sm">
	<div class="pull-left" style="margin-right: 100px;">
		<h4>JSON редактор </h4>
	</div>
	<div class="pull-right" style="margin-left: -100px;">
		<button ng-click="$ctrl.save()" class="btn btn-default"><i class="fa fa-floppy-o"></i></button>
	</div>
</div>
<angular-jsoneditor ng-model="$ctrl.document" options="$ctrl.jsonEditorOptions" style="width: 100%; height: 500px;">
</angular-jsoneditor>