<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
<form method="get" class="form-horizontal" name="agendaEditForm">

	<h4>Повестка заседания</h4>

	<div class="form-group" ng-class="{'has-error': agendaEditForm.meetingType.$invalid}">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид заседания<span class="our-mandatory">*</span></label>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<select name="meetingType" class="form-control our-select" ng-model="$ctrl.agenda.meetingType" required="" ng-options="item.meetingType as item.meetingFullName for item in $ctrl.meetingTypes"
				ng-change="$ctrl.meetingTypeChanged()">
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': agendaEditForm.meetingDate.$invalid}">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата заседания<span class="our-mandatory">*</span></label>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<date-selector-ss name="meetingDate" ng-model="$ctrl.agenda.meetingDate" validatable="false" my-width="251" required="" my-change="$ctrl.meetingDateChanged(value)"></date-selector-ss>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': agendaEditForm.meetingTime.$invalid}">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Время начала заседания</label>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="input-group " clock-picker data-autoclose="true">
				<time-selector ng-model="$ctrl.agenda.meetingTime"></time-selector>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': agendaEditForm.meetingPlace.$invalid}">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Место проведения</label>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<select name="meetingPlace" class="form-control our-select" ng-model="$ctrl.agenda.meetingPlace" ng-options="item.name as item.name for item in $ctrl.meetingPlaces">
			</select>
			<div class="pull-right">
				<span class="caret our-caret"></span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<h4 class="col-lg-3 col-md-3 col-sm-3 text-right">Приглашенные</h4>
	</div>

	<div class="form-group">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Внутренние</label>
		<div class="col-lg-9 col-md-9 col-sm-9">
			<div class="row" ng-repeat="attendee in $ctrl.internalAttendees">
				<div class="col-lg-5">
					<ui-select ng-model="attendee.department"
							   ng-disabled="$ctrl.updatingUsersListInProgress"
							   ng-change="$ctrl.departmentsChange($select.selected, $index)"
							   theme="bootstrap">
						<ui-select-match placeholder="Выберите подразделение">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices minimum-input-length="3" repeat="item.name as item in $ctrl.departments | filter: $select.search"> {{item.name}} </ui-select-choices>
					</ui-select>
				</div>
				<div class="col-lg-5">
					<ui-select ng-model="attendee.result"
							   ng-disabled="$ctrl.updatingUsersListInProgress"
							   ng-change="$ctrl.internalAttendeeChange($select.selected, $index)"
							   theme="bootstrap">
						<ui-select-match placeholder="Выберите присутствовавших">{{$select.selected.iofShort}}</ui-select-match>
						<ui-select-choices repeat="item.iofShort as item in attendee.users | filter: $select.search"> {{item.iofShort}} </ui-select-choices>
					</ui-select>
				</div>
				<div class="col-lg-2">
					<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.addInternalAttendee()" ng-if="$last" ng-disabled="$ctrl.updatingUsersListInProgress">
						<i class="fa fa-plus"></i>
					</button>
					<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.removeInternalAttendee($index)" ng-disabled="$ctrl.updatingUsersListInProgress">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-3 col-md-3 col-sm-3 control-label">Внешние</label>
		<div class="col-lg-9 col-md-9 col-sm-9">
			<div class="row">
				<div class="col-lg-10">
					<ui-select multiple ng-model="$ctrl.externalAttendees" theme="bootstrap">
						<ui-select-match placeholder="Выберите присутствовавших">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="item in $ctrl.meetingAttendees"> {{item.name}} </ui-select-choices> </ui-select>
				</div>
				<div class="col-lg-2">
					<button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.clearAttendees()">
						<i class="fa fa-trash"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-if="$ctrl.agenda.meetingType && $ctrl.agenda.meetingDate">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h4>Включены в повестку - {{$ctrl.includedCount}}</h4>
			<loading-block loading-status="$ctrl.loadingQuestionsStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center">№ пункта</th>
							<th class="center">Готовность вопроса</th>
							<th class="center">Вопрос</th>
							<th class="center">Заказчик</th>
							<th class="center">Округ</th>
							<th class="center">Докладчик</th>
							<th class="center">№ дела, эксперт</th>
							<th class="center">Справка</th>
							<th class="center">Чертеж</th>
							<th class="center">Презентация</th>
							<th class="center">Материалы</th>
							<th class="center">Исключить</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="question in $ctrl.included" ng-class="{'warning': question.status === $ctrl.AgendaQuestionStatus.EXCLUDED}">
							<td>{{question.itemNumber}}</td>
							<td>
								<span ng-if="$ctrl.isPrepared(question.questionId)">Вопрос подготовлен</span>
								<span ng-if="!$ctrl.isPrepared(question.questionId)">Вопрос не подготовлен</span>
							</td>
							<td>
								<div ng-if="question.status === $ctrl.AgendaQuestionStatus.EXCLUDED" class="semibold">Вопрос исключен</div>
								<div>
									<a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: question.questionId})">{{$ctrl.questions[question.questionId].questionConsider.address}}</a>
									<div ng-if="!$ctrl.hasQuestionViewPermission">{{$ctrl.questions[question.questionId].questionConsider.address}}</div>
								</div>
								<div>{{$ctrl.questions[question.questionId].questionConsider.cadastralNumber}}</div>
								<div>{{$ctrl.questions[question.questionId].questionConsider.question}}</div>
							</td>
							<td>{{$ctrl.questions[question.questionId].questionConsider.customer}}</td>
							<td>{{$ctrl.questions[question.questionId].questionConsider.prefect.join(',')}}</td>
							<td>
								<div class="semibold">{{$ctrl.questions[question.questionId].questionConsider.speaker.organizationShort}}</div>
								<div ng-repeat="cospeaker in $ctrl.questions[question.questionId].questionConsider.cospeaker">
									{{cospeaker.organizationShort}}
								</div>
							</td>
							<td>
								<div ng-if="$ctrl.agenda.meetingType !== $ctrl.MeetingType.AS">{{$ctrl.questions[question.questionId].questionConsider.basis.number}}</div>
								<div ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">{{$ctrl.questions[question.questionId].questionConsider.basis.numberCase}}</div>
								<div>{{$ctrl.questions[question.questionId].questionConsider.expertFio}}</div>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroups($ctrl.questions[question.questionId], $ctrl.MaterialType.INQUIRIES).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.GPZU_SCHEME).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.PRESENTATION).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[question.questionId], $ctrl.MaterialType.OTHER).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<a class="btn btn-primary" ng-click="$ctrl.exclude($index)" ng-if="question.status !== $ctrl.AgendaQuestionStatus.EXCLUDED"><i class="fa fa-minus"></i></a>
								<a class="btn btn-primary" ng-click="$ctrl.restore($index)" ng-if="question.status === $ctrl.AgendaQuestionStatus.EXCLUDED && $ctrl.canRestore(question.questionId)"><i class="fa fa-plus"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке списка вопросов</span> </spam> </error> </loading-block>
		</div>
	</div>

	<div class="form-group" ng-if="$ctrl.agenda.meetingType && $ctrl.agenda.meetingDate">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h4>Кандидаты на включение - {{$ctrl.candidates.length}}</h4>
			<loading-block loading-status="$ctrl.loadingQuestionsStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center">Готовность вопроса</th>
							<th class="center">Вопрос</th>
							<th class="center">Заказчик</th>
							<th class="center">Округ</th>
							<th class="center">Докладчик</th>
							<th class="center">№ дела, эксперт</th>
							<th class="center">Справка</th>
							<th class="center">Чертеж</th>
							<th class="center">Презентация</th>
							<th class="center">Материалы</th>
							<th class="center">Включить</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="questionID in $ctrl.candidates">
							<td>
								<span ng-if="$ctrl.isPrepared(questionID)">Вопрос подготовлен</span>
								<span ng-if="!$ctrl.isPrepared(questionID)">Вопрос не подготовлен</span>
							</td>
							<td>
								<div>
									<a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: questionID})">{{$ctrl.questions[questionID].questionConsider.address}}</a>
									<div ng-if="!$ctrl.hasQuestionViewPermission">{{$ctrl.questions[questionID].questionConsider.address}}</div>
								</div>
								<div>{{$ctrl.questions[questionID].questionConsider.cadastralNumber}}</div>
								<div>{{$ctrl.questions[questionID].questionConsider.question}}</div>
							</td>
							<td>{{$ctrl.questions[questionID].questionConsider.customer}}</td>
							<td>{{$ctrl.questions[questionID].questionConsider.prefect.join(',')}}</td>
							<td>
								<div class="semibold">{{$ctrl.questions[questionID].questionConsider.speaker.organizationShort}}</div>
								<div ng-repeat="cospeaker in $ctrl.questions[questionID].questionConsider.cospeaker">
									{{cospeaker.organizationShort}}
								</div>
							</td>
							<td>
								<div ng-if="$ctrl.agenda.meetingType !== $ctrl.MeetingType.AS">{{$ctrl.questions[questionID].questionConsider.basis.number}}</div>
								<div ng-if="$ctrl.agenda.meetingType === $ctrl.MeetingType.AS">{{$ctrl.questions[questionID].questionConsider.basis.numberCase}}</div>
								<div>{{$ctrl.questions[questionID].questionConsider.expertFio}}</div>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroups($ctrl.questions[questionID], $ctrl.MaterialType.INQUIRIES).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[questionID], $ctrl.MaterialType.GPZU_SCHEME).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[questionID], $ctrl.MaterialType.PRESENTATION).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td>
								<span ng-repeat="document in $ctrl.getMaterialGroup($ctrl.questions[questionID], $ctrl.MaterialType.OTHER).document">
									<file-icon file-name="document.nameFile" />
								</span>
							</td>
							<td><a class="btn btn-primary" ng-click="$ctrl.include($index)"><i class="fa fa-plus"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке списка вопросов</span> </spam> </error> </loading-block>
		</div>
	</div>

	<div class="form-group" ng-if="$ctrl.agenda.meetingType && $ctrl.agenda.meetingDate && $ctrl.agenda.agendaPublished">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h4>Обновления</h4>
			<loading-block loading-status="$ctrl.loadingQuestionsStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center">Дата</th>
							<th class="center">Вопрос</th>
							<th class="center">Тип обновления</th>
							<th class="center">Причина изменения</th>
							<th class="center">Автор</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="question in $ctrl.included | filter: $ctrl.isUpdate | orderBy: dateChange">
							<td ng-init="questionID = question.questionId">{{question.dateChange | date: 'dd.MM.yyyy HH:mm'}}</td>
							<td>
								<div>
									<a ng-if="$ctrl.hasQuestionViewPermission" ui-sref="app.ssmka.question({id: questionID})">{{$ctrl.questions[questionID].questionConsider.address}}</a>
									<div ng-if="!$ctrl.hasQuestionViewPermission">{{$ctrl.questions[questionID].questionConsider.address}}</div>
								</div>
								<div>{{$ctrl.questions[questionID].questionConsider.cadastralNumber}}</div>
								<div>{{$ctrl.questions[questionID].questionConsider.question}}</div>
							</td>
							<td>
								<span ng-if="question.status === $ctrl.AgendaQuestionStatus.EXCLUDED">Вопрос исключен</span>
								<span ng-if="question.status === $ctrl.AgendaQuestionStatus.ADDED">Вопрос добавлен</span>
							</td>
							<td>
								{{question.reasonChange}}
							</td>
							<td>
								{{question.fio}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при загрузке списка вопросов</span> </spam> </error> </loading-block>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-7 col-md-8 col-sm-9">
			<button ng-click="$ctrl.save()" ng-disabled="!agendaEditForm.$valid" type="button" class="btn btn-w-m btn-default">Сохранить</button>
			<button ng-if="!$ctrl.agenda.agendaPublished" ng-click="$ctrl.publish()" ng-disabled="!$ctrl.agenda.agendaID" type="button" class="btn btn-w-m btn-primary">Опубликовать</button>
			<button ng-if="!$ctrl.agenda.meetingHeld && $ctrl.agenda.meetingType && $ctrl.availableToCopy" ng-click="$ctrl.showCopyQuestionsDialog()" type="button" class="btn btn-w-m btn-primary">Скопировать вопросы из предыдущей повестки</button>
		</div>
	</div>

</form>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
