<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="pull-right m-t-md" ng-if="$ctrl.activeTab !== 2">
            <button type="button" class="btn btn-sm btn-default" ng-if="!$ctrl.agenda.meetingHeld"
                    ng-click="$ctrl.meetingHeld()" ladda="$ctrl.markingMeetingPassed" data-spinner-size="18"
                    data-spinner-color="#FFFFFF" data-style="expand-right">Заседание проведено
            </button>
            <button type="button" class="btn btn-sm btn-default"
                    ng-if="!$ctrl.protocol && $ctrl.included.length > 0 && $ctrl.canCreateProtocol"
                    ng-click="$ctrl.createProtocol(false)" ladda="$ctrl.creatingProtocol" data-spinner-size="18"
                    data-spinner-color="#FFFFFF" data-style="expand-right">Создать протокол
            </button>
            <button type="button" class="btn btn-sm btn-default"
                    ng-if="!$ctrl.protocol && $ctrl.included.length > 0 && $ctrl.canCreateProtocolWithProcess"
                    ng-click="$ctrl.createProtocol(true)" ladda="$ctrl.creatingProtocol" data-spinner-size="18"
                    data-spinner-color="#FFFFFF" data-style="expand-right">Создать протокол (согласование)
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.mailNotification()"
                    ladda="$ctrl.sendingMailNotifications" data-spinner-size="18" data-spinner-color="#AAAAAA"
                    data-style="expand-right">Разослать участникам
            </button>
            <button ng-if="$ctrl.availableToCopy" class="btn btn-sm btn-muted" title="Создать копию"
                    ng-click="$ctrl.copy()">
                <i class="fa fa-copy"></i> Скопировать
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.edit()">Редактировать
            </button>
        </div>
        <div class="pull-right m-t-md" ng-if="$ctrl.activeTab === 2 && !$ctrl.editingProtocol">
            <button class="btn btn-sm btn-default" ng-click="$ctrl.createProtocolWithInstructionsPrintForm()">Протокол с
                поручениями
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.editProtocol()">Редактировать
            </button>
        </div>
        <h2 class="m-t-md">
            <small>{{$ctrl.meetingType.meetingFullName}}</small>
        </h2>
        <h2 class="m-t-sm semibold"><span>Заседание</span><span ng-if="$ctrl.agenda.meetingNumber"> №
                {{$ctrl.agenda.meetingNumber}}</span><span> от {{$ctrl.agenda.meetingDate | date: "dd.MM.yyyy"}}</span>
        </h2>
        <h3>{{$ctrl.agenda.meetingTheme}}</h3>
        <div>
            <span ng-if="!$ctrl.agenda.meetingTimeEnd" class="m-r">Время проведения: с <time-renderer
                    ng-model="$ctrl.agenda.meetingTime" format="HH:mm"></time-renderer>
            </span>
            <span ng-if="$ctrl.agenda.meetingTimeEnd" class="m-r">Время проведения: с <time-renderer
                    ng-model="$ctrl.agenda.meetingTime" format="HH:mm"></time-renderer> до
                <time-renderer ng-model="$ctrl.agenda.meetingTimeEnd" format="HH:mm"></time-renderer>
            </span>
            <span class="m-r">Место проведения: {{$ctrl.agenda.meetingPlace}}</span>
        </div>
        <div ng-if="$ctrl.protocol.status">
            <span class="label label-{{$ctrl.protocol.status.color}}">{{$ctrl.protocol.status.name}}</span>
        </div>
        <div class="row">
            <uib-tabset active="$ctrl.activeTab" template-url="app/components/ssmka/question/question-tabs.html">
                <uib-tab heading="Общая информация" index="0">

                    <!-- <div class="description">
                        <dl class="dl-horizontal">
                            <dt ng-if="$ctrl.protocol.secretaryResponsible.fioFull">
                                <span>Ответственный исполнитель</span>
                            </dt>
                            <dd ng-if="$ctrl.protocol.secretaryResponsible.fioFull">
                                {{$ctrl.protocol.secretaryResponsible.fioFull}}
                            </dd>
                            <dt ng-if="$ctrl.protocol.approvedBy.fioFull">
                                <span>Утверждающий</span>
                            </dt>
                            <dd ng-if="$ctrl.protocol.approvedBy.fioFull">
                                {{$ctrl.protocol.approvedBy.fioFull}}
                            </dd>
                            <dt ng-if="$ctrl.agenda.meetingNumber">
                                <span>Заседание</span>
                            </dt>
                            <dd ng-if="$ctrl.agenda.meetingNumber">
                                <a href="/ssmka/#/app/ssmka/agenda/{{$ctrl.protocol.agendaID}}">Заседание №
                                    {{$ctrl.agenda.meetingNumber}} от
                                    {{$ctrl.agenda.meetingDate | date: 'dd.MM.yyyy'}}</a>
                            </dd>
                            <dt ng-if="$ctrl.agenda.meetingTheme">
                                <span>Тема заседания</span>
                            </dt>
                            <dd ng-if="$ctrl.agenda.meetingTheme">
                                {{$ctrl.agenda.meetingTheme}}
                            </dd>
                        </dl>
                    </div> -->

                    <p class="semibold m-b-md" ng-if="$ctrl.included.length > 0">
                        <span class="m-r">Всего вопросов — {{$ctrl.includedCount}}</span>
                    </p>
                    <div class="row" ng-if="$ctrl.agenda.initiator">
                        <label class="col-lg-1 col-md-1 col-sm-1 control-label">Совещание проводит</label>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <span ng-if="$ctrl.agenda.initiator.fioFull">{{$ctrl.agenda.initiator.fioFull}}</span><span
                                ng-if="$ctrl.agenda.initiator.fioFull && $ctrl.agenda.initiator.post">, </span><span
                                ng-if="$ctrl.agenda.initiator.post">{{$ctrl.agenda.initiator.post}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-1 col-md-1 col-sm-1 control-label">Участники</label>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div ng-repeat="attended in $ctrl.agenda.attended">
                                <div>
                                    <span ng-if="attended.fioFull">{{attended.fioFull}}</span><span
                                        ng-if="attended.fioFull && attended.post">, </span><span
                                        ng-if="attended.post">{{attended.post}}</span>
                                </div>
                                <div>
                                    {{attended.name}}
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.agenda.filesAttach && $ctrl.agenda.filesAttach.length > 0">
                        <label class="col-lg-1 col-md-1 col-sm-1 control-label">Файлы</label>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div ng-repeat="file in $ctrl.agenda.filesAttach">
                                <ex-file show-date="true" folder-guid="$ctrl.this.filesFolderGuid" show-size="true"
                                         file-info="file" system-code="MkaDocOther" openable="true"
                                         download-blank="true">
                                </ex-file>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.included.length > 0">
                        <label class="col-lg-1 col-md-1 col-sm-1 control-label">Вопросы</label>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="center col-xs-1">№</th>
                                        <th class="center col-xs-7">Вопрос</th>
                                        <th class="center col-xs-4">Ответственные</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="question in $ctrl.included">
                                        <td class="center">
                                            <span>{{question.itemNumber}}</span>
                                        </td>
                                        <td>
                                            {{$ctrl.questions[question.questionId].questionConsider.question}}
                                        </td>
                                        <td>
                                            <div
                                                    ng-repeat="responsible in $ctrl.questions[question.questionId].questionConsider.responsiblePrepareExpress">
                                                {{ responsible.contractorPrepareFIO }}
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-violet"
                                                    ng-click="$ctrl.createInstruction(question.questionId)"
                                                    title="Создать поручение"
                                                    ng-if="question.questionId && $ctrl.availableToAddInstruction">
                                                <i class="fa fa-file"></i> Дать поручение
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Поручения" index="1">
                    <div ng-if="$ctrl.instructions.length">
                        <div class="m-b">Всего вопросов - {{$ctrl.instructions.length}}</div>
                        <div class="table-responsive" style="border-bottom:1px solid #e7eaec">
                            <table class="table our-table-xs table-bordered voting-table">
                                <thead>
                                <tr>
                                    <th class="center col-xs-1">№</th>
                                    <th class="center col-xs-4">Вопрос</th>
                                    <th colspan="2" class="center col-xs-7">Поручения
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in $ctrl.instructions">
                                    <td width="10px" class="center">{{$index + 1}}</td>
                                    <td>
                                        <div ng-if="item.question.questionConsider.address">
                                            {{item.question.questionConsider.address}}
                                        </div>
                                        <div>{{item.question.questionConsider.question}}</div>
                                        <div class="semibold">Решение:</div>
                                        <div ng-bind-html="item.question.questionConsider.decisionText"
                                             style="white-space: pre-wrap;"></div>
                                    </td>
                                    <td>
                                        <protocol-instruction statuses="$ctrl.statuses"
                                                              instructions="item.instructions"></protocol-instruction>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!$ctrl.instructions.length">
                        <div style="height: 200px; padding-top: 70px;">
                            <h1 class="text-center">Нет элементов для отображения</h1>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-if="$ctrl.protocol" heading="Протокол" index="2">
                    <express-questions-decisions protocol="$ctrl.protocol"
                                                 editing="$ctrl.editingProtocol"></express-questions-decisions>

                    <div class="row" ng-if="$ctrl.editingProtocol">
                        <div class="text-center m-t-md">
                            <button ng-click="$ctrl.saveProtocol()" type="button" class="btn btn-w-m btn-primary"
                                    ladda="$ctrl.savingProtocol" data-spinner-size="18" data-spinner-color="#FFFFFF"
                                    data-style="expand-right">
                                Сохранить
                            </button>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab ng-if="$ctrl.protocol && $ctrl.hasProcessHistory" heading="Визовый экземпляр" index="3">
                    <div class="description">
                        <dl class="dl-horizontal">
                            <dt ng-if="$ctrl.protocol.protocolInfo.durationMeeting">
                                <span>Продолжительность совещания</span>
                            </dt>
                            <dd ng-if="$ctrl.protocol.protocolInfo.durationMeeting">
                                <span>{{$ctrl.protocol.protocolInfo.durationMeeting | limitTo: 5}}</span>
                            </dd>
                            <dt ng-if="$ctrl.protocol.protocolInfo.considerationTopic">
                                <span>Рассмотрение вопроса по темам</span>
                            </dt>
                            <dd ng-if="$ctrl.protocol.protocolInfo.considerationTopic">
                                <span>{{$ctrl.protocol.protocolInfo.considerationTopic | limitTo: 5}}</span>
                            </dd>
                            <dt ng-if="$ctrl.protocol.protocolInfo.other">
                                <span>Прочее</span>
                            </dt>
                            <dd ng-if="$ctrl.protocol.protocolInfo.other">
                                <span>{{$ctrl.protocol.protocolInfo.other | limitTo: 5}}</span>
                            </dd>
                        </dl>
                    </div>

                    <h3 class="m-b-md">Лист согласования</h3>

                    <ex-file ng-if="$ctrl.protocol.fileProtocolDraft" file-info="$ctrl.protocol.fileProtocolDraft"
                             show-size="true"
                             show-date="true"
                             check-sign="true"
                    ></ex-file>

                    <express-protocol-approval-list
                            approval-cycle="$ctrl.protocol.approval.approvalCycle"></express-protocol-approval-list>

                    <express-protocol-approval-history
                            history="$ctrl.protocol.approvalHistory.approvalCycle"></express-protocol-approval-history>

                </uib-tab>
                <uib-tab ng-if="$ctrl.protocol && $ctrl.hasProcessHistory" heading="Процесс" index="4">
                    <protocol-process protocol-id="$ctrl.protocol.protocolID"
                                      meeting-type="$ctrl.protocol.meetingType"></protocol-process>
                </uib-tab>
                <uib-tab ng-if="$ctrl.protocol && $ctrl.showJsonEditor && $ctrl.hasProcessHistory" heading="JSON" index="5">
                    <protocol-json-editor document="$ctrl.protocol"></protocol-json-editor>
                </uib-tab>
                <uib-tab ng-if="$ctrl.protocol && $ctrl.showHistory && $ctrl.hasProcessHistory" heading="История изменений" index="6">
                    <document-history document-id="$ctrl.protocol.protocolID"></document-history>
                </uib-tab>
            </uib-tabset>
        </div>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></spam>
    </error>
</loading-block>
