<loading-block loading-status="$ctrl.loadingStatus">
    <loading>
        <spinner type="'circle'"/>
    </loading>
    <success>
        <div class="pull-right m-t-md">
        </div>

        <form method="get" class="form-horizontal">

            <h4>Создать совещание</h4>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид совещания<span
                        class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <!--TODO: use ui-select -->
                    <select name="meetingType" class="form-control our-select" ng-model="$ctrl.agenda.meetingType"
                            required=""
                            ng-disabled="$ctrl.agenda.agendaID"
                            ng-options="item.meetingType as item.meetingFullName for item in $ctrl.meetingTypes"
                            ng-change="$ctrl.meetingTypeChanged()">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Совещание проводит
                    <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select ng-model="$ctrl.agenda.initiator" theme="bootstrap">
                        <ui-select-match placeholder="Введите 3 символов для начала поиска">
                            {{$select.selected.fioFull}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchInitiator($select.search)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item in $ctrl.initiatorsList">
                            {{item.fioFull}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тема совещания<span
                        class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="meetingTheme" type="text" class="form-control" ng-model="$ctrl.agenda.meetingTheme"
                           required="">
                </div>
            </div>

            <!-- TODO: formatting -->
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата совещания<span
                        class="our-mandatory">*</span></label>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <date-selector-ss name="meetingDate" ng-model="$ctrl.agenda.meetingDate" validatable="false"
                                      my-width="251" required=""
                                      my-change="$ctrl.meetingDateChanged(value)"></date-selector-ss>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время начала<span
                        class="our-mandatory">*</span></label>
                <div class="col-lg-8 col-md-9 col-sm-3">
                    <div class="input-group " clock-picker data-autoclose="true">
                        <time-selector ng-model="$ctrl.agenda.meetingTime"></time-selector>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Время окончания<span
                        class="our-mandatory">*</span></label>
                <div class="col-lg-8 col-md-9 col-sm-3">
                    <div class="input-group " clock-picker data-autoclose="true">
                        <time-selector ng-model="$ctrl.agenda.meetingTimeEnd" ng-blur="$ctrl.showMeetingTimeEndError()"></time-selector>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Место проведения
                    <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="meetingPlace"
                           type="text"
                           class="form-control"
                           ng-model="$ctrl.agenda.meetingPlace"
                           required="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Группы участников</label>
                <div class="col-lg-7 col-md-8 col-sm-9"
                     data-spinner-size="18"
                     data-spinner-color="#AAAAAA" data-style="expand-right">
                    <ui-select ng-model="$ctrl.emailGroups" multiple theme="bootstrap" on-select="$ctrl.updateAttendedAfterEmailGroups($item)"
                               on-remove="$ctrl.onRemoveEmailGroups($item);$ctrl.updateIntersectionsWarnings()">
                        <ui-select-match placeholder="Группы участников"> {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.emailGroupsList">
                            {{item.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">
                    Участники
                    <span class="our-mandatory">*</span>
                </label>
                <div class="col-lg-7 col-md-8 col-sm-9" ladda="$ctrl.updatingAttendeeListInProgress"
                     data-spinner-size="18"
                     data-spinner-color="#AAAAAA" data-style="expand-right">
                    <ui-select ng-model="$ctrl.agenda.attended" multiple theme="bootstrap" on-select="$ctrl.clearAttendeeList();$ctrl.updateIntersectionsWarnings();$ctrl.updateEmailGroupsAfterAttended();$ctrl.updateResponsibles();"
                               on-remove="$ctrl.updateIntersectionsWarnings();$ctrl.updateEmailGroupsAfterAttended();$ctrl.updateResponsibles();$ctrl.updateSavedResponsibles($item)">
                        <ui-select-match placeholder="Участники, введите 3 символов для начала поиска"> {{$item.fioFull}}
                        </ui-select-match>
                        <ui-select-choices refresh="$ctrl.searchAttendee($select.search)"
                                           minimum-input-length="3"
                                           refresh-delay="300"
                                           repeat="item in $ctrl.attendeeList">
                            {{item.fioFull}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div ng-repeat="intersectionWarning in $ctrl.intersectionsWarnings" class="text-danger" ng-bind-html="intersectionWarning">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Файлы</label>
                <div class="col-lg-7 col-md-8 col-sm-9" ng-show="$ctrl.filesFolderGuid !== ''">
                    <div class="dropzone" id="filesAttach" ng-show="!$ctrl.uploading">
                        <div class="dz-message m-t-lg m-b-lg"><i class="fa fa-download"></i>&nbsp;Загрузить файл</div>
                    </div>
                    <div class="dropzone" ng-show="$ctrl.uploading" style="padding-top: 62px;">
                        <div ng-show="$ctrl.uploading"><spinner type="'circle'"></spinner></div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-9" ng-show="$ctrl.filesFolderGuid === ''">
                    <div class="dropzone" style="padding-top: 62px;">
                        <span>Выберите вид совещания, чтобы прикрепить файлы</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label"></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div ng-repeat="file in $ctrl.fileQueueToDisplay">
                        <ex-file deletable="true"
                                 show-date="true"
                                 folder-guid="$ctrl.this.filesFolderGuid"
                                 show-size="true"
                                 on-remove="$ctrl.removeFile(file)"
                                 file-info="file"
                                 system-code="MkaDocOther"
                                 ></ex-file>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вопросы</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                        <div>
                            <express-questions-edit questions="$ctrl.questions" agenda="$ctrl.agenda"></express-questions-edit>
                        </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <button ng-click="$ctrl.save()" type="button" class="btn btn-w-m btn-primary"
                            ladda="$ctrl.saving" data-spinner-size="18" data-spinner-color="#FFFFFF"
                            data-style="expand-right">
                        <span ng-if="!$ctrl.agenda.agendaID">Создать совещание</span>
                        <span ng-if="$ctrl.agenda.agendaID">Сохранить</span>
                    </button>
                    <button ng-click="$ctrl.cancel()" type="button" class="btn btn-w-m btn-default" ng-disabled="$ctrl.saving   ">
                        Отмена
                    </button>
                </div>
            </div>

        </form>
    </success>
    <error>
        <spam class="text-danger"><span class="fa fa-times-circle"></span>
            <span> Ошибка при инициализации приложения</span></spam>
    </error>
</loading-block>
