<div class="table-responsive m-t-sx m-b-xs">
	<div class="pull-left">
        <h4 class="m-b-xs">
            <a ng-click="$ctrl.openTask($ctrl.task)"
               ng-class="$ctrl.task.dueDate !== null && $ctrl.currentDateTime > $ctrl.convertToTime($ctrl.task.dueDate) ? 'text-danger' : ''">
                {{$ctrl.task.name}}</a>
        </h4>
        <div class="semibold m-t-xs">
            {{$ctrl.task.taskDescription}}
        </div>
        <div class="m-t-xxs" ng-if="$ctrl.task.isDelegated">
            <small><i class="fa fa-arrow-circle-right"></i> Задача
                делегирована от: {{$ctrl.task.delegatorFio}}
            </small>									            
        </div>									        
    </div>
</div>