<form role="form" class="m-t" name="addReasonForm">
    <div class="inmodal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
            <h4 class="modal-title">Добавление причины</h4>
        </div>
        <div class="modal-body">
            <loading-block loading-status="$ctrl.loadingStatus">
                <loading>
                    <spinner type="'circle'"/>
                </loading>
                <success>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr ng-repeat="reason in $ctrl.reasons">
                                <td class="center" width="20px" style="border: none">
                                    <input type="checkbox" icheck ng-model="$ctrl.reasonSelected[reason.code]"
                                           ng-change="$ctrl.changed()">
                                </td>
                                <td style="border: none">
                                    <span>{{reason.name}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </success>
                <error>
                    <span class="text-danger"> <span class="fa fa-times-circle"></span>
                    <span> Ошибка при загрузке списка причин</span> </span>
                </error>
            </loading-block>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.add()" ng-disabled="!$ctrl.result.length">Добавить</button>
            <button type="button" class="btn btn-white" ng-click="$ctrl.cancel()">Закрыть</button>
        </div>
    </div>
</form>

