<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="determineRefusalCases">
                <h2 class="m-t-sm semibold">
                    Городская комиссия по вопросам градостроительной деятельности {{$ctrl.protocol.meetingDate | date:
                    'dd.MM.yyyy'}}
                </h2>
                <h3 class="m-t-sm semibold"><i>
                    Список вопросов по ПЗЗ ({{$ctrl.departmentFullName}})
                </i></h3>
                <div>Всего вопросов - {{$ctrl.questions.length}}</div>

                <div class="table-responsive">
                    <table class="table our-table-xs table-bordered">
                        <thead>
                        <tr>
                            <th class="center">№</th>
                            <th class="center">Содержание вопроса</th>
                            <th class="center our-voting-results-col">Результаты голосования</th>
                            <th class="center">Решение ГК</th>
                            <th class="center">Причины отказа</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in $ctrl.questions">
                            <td class="center">
                                {{question.protocolQuestion.questionNumber}}
                            </td>
                            <td>
                                <question-table-content question="question.protocolQuestion" address-link="true"
                                                        show-category="false" show-parameters="false" editable-parameters="true">

                                </question-table-content>
                            </td>
                            <td>
                                <div>
                                    <span>Рекомендовать - </span>
                                    <span ng-bind="question.protocolQuestion.resultsVote.yes"></span>
                                </div>
                                <div>
                                    <span>Не рекомендовать - </span>
                                    <span ng-bind="question.protocolQuestion.resultsVote.no"></span>
                                </div>
                                <div>
                                    <span>Не проголосовало - </span>
                                    <span ng-bind="question.protocolQuestion.resultsVote.abstain"></span>
                                </div>
                            </td>
                            <td ng-init="decision = $ctrl.questionsDecisions[question.protocolQuestion.questionNumber]">
                                <div class="table-question-decision_icon-box">
                                    <i class="fa" ng-class="$ctrl.imageClass(decision.decisionTypeCode)" aria-hidden="true"></i>
                                    <div class="semibold">
                                        {{decision.decisionType}}
                                    </div>
                                </div>
                                <div>{{question.protocolQuestion.decisionDraft}}</div>
                            </td>
                            <td width="500px;">
                                <div>
                                    <button ng-click="$ctrl.addReason(question.refusalQuestion)"
                                            class="btn btn-sm btn-primary">Добавить причину
                                    </button>
                                </div>
                                <ul style="padding-left: 15px;">
                                    <li ng-repeat="reason in question.refusalQuestion.refuseReason">{{reason.name}}</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 30px;">
                    <button ng-click="$ctrl.submitHandler()"
                            style="margin-left: 5px;"
                            class="btn btn-sm btn-primary"
                    >
                        Завершить задачу
                    </button>
                    <button
                            ng-click="$ctrl.saveHandler()"
                            style="margin-right: 5px;"
                            class="btn btn-sm btn-default"
                    >
                        Сохранить и закрыть задачу без завершения
                    </button>
                </div>
            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>