<div class="table-responsive m-b-md">
    <table class="table our-table-xs table-bordered">
        <thead>
        <tr>
            <th class="center"></th>
            <th class="center">№ Вопроса</th>
            <th class="center">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comment in $ctrl.questionsComments">
            <td>
                <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.removeComment($index)">
                    <i class="fa fa-minus"></i>
                </button>
            </td>
            <td>
                <select class="form-control our-select"
                        ng-model="comment.questionNumber"
                        ng-options="q.questionNumber as q.questionNumber for q in $ctrl.questions | notCommentedQuestions:$ctrl.questionsComments:comment.questionNumber">
                    <option/>
                </select>
            </td>
            <td>
                <textarea rows="3" class="form-control" ng-model="comment.comment"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.addComment()" ng-disabled="$ctrl.questionsComments.length === $ctrl.questions.length">
                    <i class="fa fa-plus"></i>
                </button>
            </td>
            <td></td><td></td>
        </tr>
        </tbody>
    </table>
</div>