<div class="description">
    <dl class="dl-horizontal">
        <dt ng-if="$ctrl.protocol.secretaryResponsible.fioFull">
            <span>Ответственный исполнитель</span>
        </dt>
        <dd ng-if="$ctrl.protocol.secretaryResponsible.fioFull">
            {{$ctrl.protocol.secretaryResponsible.fioFull}}
        </dd>
        <dt ng-if="$ctrl.protocol.approvedBy.fioFull">
            <span>Утверждающий</span>
        </dt>
        <dd ng-if="$ctrl.protocol.approvedBy.fioFull">
            {{$ctrl.protocol.approvedBy.fioFull}}
        </dd>
        <dt ng-if="$ctrl.agenda.meetingNumber">
            <span>Заседание</span>
        </dt>
        <dd ng-if="$ctrl.agenda.meetingNumber">
            <a ui-sref="app.ssmka.agenda({id: $ctrl.agenda.agendaID})">
                Заседание № {{$ctrl.agenda.meetingNumber}} от {{$ctrl.agenda.meetingDate | date: 'dd.MM.yyyy'}}
            </a>
        </dd>
        <dt ng-if="$ctrl.agenda.meetingTheme">
            <span>Тема заседания</span>
        </dt>
        <dd ng-if="$ctrl.agenda.meetingTheme">
            {{$ctrl.agenda.meetingTheme}}
        </dd>
    </dl>
</div>