<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <div block-ui="processApprovalResults">
                <express-task-header protocol="$ctrl.protocol" agenda="$ctrl.agenda"></express-task-header>
                <hr/>

                <form method="get" class="form-horizontal" name="orderApproveForm">

                    <div class="form-group" ng-if="$ctrl.protocol.protocolInfo.durationMeeting">
                        <label class="col-lg-3 col-md-3 col-sm-3">Продолжительность совещания</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="input-group " clock-picker data-autoclose="true">
                                <time-selector ng-model="$ctrl.protocol.protocolInfo.durationMeeting"></time-selector>
                            </div>
                        </div>
                    </div>

                    <h3 class="m-b-md">Присутствующие</h3>
                    <protocol-attendee-editor attended="$ctrl.protocol.attended" organizations="$ctrl.organizations"></protocol-attendee-editor>

                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <express-questions-decisions-edit questions="$ctrl.questions" decisions="$ctrl.decisions"
                                                              before-add-question="$ctrl.beforeAddQuestion()"
                                                              before-delete-question="$ctrl.beforeDeleteQuestion(question)"
                                                              after-change-questions="$ctrl.questionsChanged()"
                            ></express-questions-decisions-edit>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">Протокол</div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div class="m-b-md">
                                <button type="button" class="btn btn-sm btn-primary"
                                        ng-click="$ctrl.createProtocolWithoutAttFile()">
                                    <i class="fa m-r-xs"></i>Сформировать протокол
                                </button>
                            </div>
                            <div ng-if="$ctrl.protocolWithoutAttFile">
                                <ex-file file-info="$ctrl.protocolWithoutAttFile"
                                         show-size="true"
                                         show-date="true"
                                         check-sign="true"
                                         deletable="true"
                                         on-remove="$ctrl.cleanProtocolWithoutAttFile()"
                                ></ex-file>
                            </div>
                            <div>
                                <a>
                                    <div class="dropzone" id="protocolFileWithoutAttDropzone"
                                         options="$ctrl.dzProtocolWithoutAttFileOptions"
                                         callbacks="$ctrl.dzProtocolWithoutAttFileCallbacks"
                                         methods="$ctrl.dzProtocolWithoutAttFileMethods" ng-dropzone>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">Приложение</div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div ng-if="$ctrl.protocol.orderAttach && $ctrl.protocol.orderAttach.length">
                                <ex-file file-info="$ctrl.protocol.orderAttach[0]"
                                         show-size="true"
                                         show-date="true"
                                         check-sign="true"
                                         deletable="true"
                                         on-remove="$ctrl.cleanAttFile()"
                                ></ex-file>
                            </div>
                            <div>
                                <a>
                                    <div class="dropzone" id="attDropzone"
                                         options="$ctrl.dzAttFileOptions"
                                         callbacks="$ctrl.dzAttFileCallbacks"
                                         methods="$ctrl.dzAttFileMethods" ng-dropzone>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-3 col-md-3 col-sm-3 control-label">Проект протокола</div>
                        <div class="col-lg-7 col-md-8 col-sm-9">
                            <div class="m-b-md">
                                <button type="button" class="btn btn-sm btn-primary"
                                        ng-click="$ctrl.createProtocolDraftFile()"
                                        ng-disabled="!$ctrl.protocolWithoutAttFile">
                                    <i class="fa m-r-xs"></i>Сформировать проект протокола с приложением
                                </button>
                            </div>
                            <div ng-if="$ctrl.protocol.fileProtocolDraft">
                                <ex-file file-info="$ctrl.protocol.fileProtocolDraft"
                                         show-size="true"
                                         show-date="true"
                                         check-sign="true"
                                         deletable="true"
                                         on-remove="$ctrl.cleanProtocolDraftFile()"
                                ></ex-file>
                            </div>
                        </div>
                    </div>

                    <h3 class="m-b-md">Результаты согласования</h3>

                    <express-protocol-approval-list
                            approval-cycle="$ctrl.protocol.approval.approvalCycle"></express-protocol-approval-list>

                    <express-protocol-approval-history
                            history="$ctrl.protocol.approvalHistory.approvalCycle"></express-protocol-approval-history>

                    <h3>Лист согласования</h3>
                    <express-approval-list-editor agreed="$ctrl.newAgreed" approval-types="$ctrl.approvalTypes" approval-statuses="$ctrl.approvalStatuses"></express-approval-list-editor>

                    <div>
                        <div style="margin-top: 30px;">
                            <button ng-click="$ctrl.sendBackToWork()"
                                    class="btn btn-sm btn-default"
                                    ng-disabled="!$ctrl.protocol.fileProtocolDraft || !$ctrl.approvalCycleFilled()">
                                Повторно отправить на согласование
                            </button>
                            <button
                                    ng-click="$ctrl.sendToApproval()"
                                    style="margin-right: 5px;"
                                    class="btn btn-sm btn-primary"
                            >
                                Отправить на утверждение
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке формы задачи</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>