<loading-block loading-status="$ctrl.loadingStatus"> <loading> <spinner type="'circle'" /> </loading> <success>
    <div class="row">
        <form method="get" class="form-horizontal" name="questionEditForm">

            <h4>Вопрос к рассмотрению</h4>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вид совещания</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <span class="form-group__plain-text">{{$ctrl.question.meetingFullName}}</span>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.questionCategory.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Категория вопроса<span class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select name="questionCategory" class="form-control our-select" ng-model="$ctrl.question.questionConsider.questionCategory" required=""
                            ng-options="item.questionCategory as item.questionCategory for item in $ctrl.questionCategories" ng-change="$ctrl.questionCategoryChangeHandler()">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.question.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Вопрос<span class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="question" type="text" class="form-control" ng-model="$ctrl.question.questionConsider.question" required="">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.consideration.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Рассмотрение</label>
                <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                    <label class="m-r-sm"> <input icheck type="radio" ng-value="$ctrl.Consideration.ACCEPTED" name="consideration" ng-model="$ctrl.question.questionConsider.consideration" required="">
                        <i></i> Принято к рассмотрению
                    </label> <label> <input icheck type="radio" ng-value="$ctrl.Consideration.REVOKED" name="consideration" ng-model="$ctrl.question.questionConsider.consideration" required=""> <i></i>
                    Отозвано
                </label>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.address.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Адрес вопроса<span class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="address" type="text" class="form-control" ng-model="$ctrl.question.questionConsider.address" required="">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': !$ctrl.isHasPrefect()}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Округ<span class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select
                        name="prefect"
                        multiple
                        ng-model="$ctrl.question.questionConsider.prefect"
                        theme="bootstrap"
                        ng-change="$ctrl.prefectChangeHandler(true)"
                    >
                        <ui-select-match placeholder="Округ">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.prefects"> {{item}} </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Район</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ui-select name="prefect" multiple ng-model="$ctrl.question.questionConsider.district" theme="bootstrap">
                        <ui-select-match placeholder="Район">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="item in $ctrl.districts"> {{item}} </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.cadastralNumber.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Кадастровый номер<span ng-if="$ctrl.mandatoryCadastralNumber" class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input name="cadastralNumber" type="text" class="form-control" ng-model="$ctrl.question.questionConsider.cadastralNumber" ng-required="$ctrl.mandatoryCadastralNumber">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label"><span class="semibold">Основание</span></label>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.basisType.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Тип<span class="our-mandatory">*</span></label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select name="basisType" class="form-control our-select" ng-model="$ctrl.question.questionConsider.basis.basisType" ng-options="item.basisType as item.basisType for item in $ctrl.basisTypes | filter: $ctrl.isActiveBaseType"
                            required="">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.basisNumber.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер<span class="our-mandatory">*</span></label>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <input name="basisNumber" type="text" class="form-control" ng-model="$ctrl.question.questionConsider.basis.number" required="">
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': questionEditForm.basisDate.$invalid}">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата<span class="our-mandatory">*</span></label>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <date-selector-ss name="basisDate" ng-model="$ctrl.question.questionConsider.basis.date" validatable="false" my-width="200" required=""></date-selector-ss>
                </div>
            </div>

            <!-- iv class="col-lg-3 col-md-3 col-sm-3 form-group" ng-class="{'has-error': questionEditForm.basisNumber.$invalid}">

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 form-group" ng-class="{'has-error': questionEditForm.basisDate.$invalid}">

        </div>-->

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание к основанию</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.basis.note">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Номер ГПЗУ</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.gpzu">
                </div>
            </div>

            <div class="form-group" ng-if="$ctrl.question.planningMeeting">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Дата направления вопроса на расмотрение</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <date-selector ng-model="$ctrl.question.questionConsider.passDate"></date-selector>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Ответственное управление</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select class="form-control our-select" ng-model="$ctrl.question.questionConsider.responsiblePrepare.departmentPrepareCode"
                            ng-options="item.departmentPrepareCode as item.departmentPrepareFull for item in $ctrl.responsibleDepartments" ng-change="$ctrl.departmentChangeHandler()">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Ответственный за подготовку вопроса</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select class="form-control our-select"
                            ng-model="$ctrl.question.questionConsider.responsiblePrepare.contractorPrepare"
                            ng-disabled="$ctrl.updatingUsersListInProgress"
                            ng-options="item.accountName as item.displayName for item in $ctrl.meetingResponsibles"
                            ng-change="$ctrl.departmentContractorChangeHandler()">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Заявитель</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.customer">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Правообладатель</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.rightHolder">
                </div>
            </div>

            <hr>

            <h4 ng-if="$ctrl.isUnauthBuild()">Самострой</h4>

            <div  ng-if="$ctrl.isUnauthBuild()">

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Наличие заявки о сохранении объекта</label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        <label> <input type="checkbox" icheck ng-model="$ctrl.question.questionConsider.requestSaveObject">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Градостроительные ограничения</label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <select class="form-control our-select" ng-model="$ctrl.question.questionConsider.urbanLimitsCode" ng-change="$ctrl.urbanLimitsChanged()"
                                ng-options="item.limitCode as item.limitName for item in $ctrl.urbanLimits">
                        </select>
                        <div class="pull-right">
                            <span class="caret our-caret"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="$ctrl.hasOtherUrbanLimits">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Прочее</label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.urbanLimitsOther">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Наличие инженерных сетей</label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <ui-select name="networkEngineering" multiple ng-model="$ctrl.question.questionConsider.networkEngineeringCode" theme="bootstrap" ng-change="$ctrl.networkEngineeringChanged()">
                            <ui-select-match placeholder="Наличие инженерных сетей">{{$item.engName}}</ui-select-match>
                            <ui-select-choices repeat="item.engCode as item in $ctrl.networkEngineerings"> {{item.engName}} </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group" ng-if="$ctrl.hasOtherNetworkEngineering">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Прочее</label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.networkEngineeringOther">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Примечание</label>
                    <div class="col-lg-7 col-md-8 col-sm-9">
                        <input type="text" class="form-control" ng-model="$ctrl.question.questionConsider.noteSquatter">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Повтор</label>
                    <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                        <label> <input type="checkbox" icheck ng-model="$ctrl.question.questionConsider.repeatSquatter">
                        </label>
                    </div>
                </div>

                <hr>

            </div>

            <h4>Заседание</h4>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Планируемая дата рассмотрения</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <date-selector-ss
                        ng-model="$ctrl.question.questionConsider.planDate"
                        validatable="false"
                        my-width="141"
                        disabled="true"
                        my-change="$ctrl.planDateChanged(value)"></date-selector-ss>
                </div>
                <label class="col-lg-1 col-md-1 col-sm-1 control-label" ng-if="$ctrl.question.questionConsider.planDateEditor">Изменил</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" class="form-control" ng-if="$ctrl.question.questionConsider.planDateEditor" ng-model="$ctrl.question.questionConsider.planDateEditor" disabled="disabled">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Докладчик</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div ng-show="$ctrl.question.questionConsider.speaker">
                        <label class="control-label">{{$ctrl.question.questionConsider.speaker.organizationShort}}</label>
                    </div>
                    <button ng-show="$ctrl.question.questionConsider.speaker" ng-click="$ctrl.clearSpeaker()" type="button" class="btn btn-w-m btn-primary">Очистить</button>
                    <button ng-show="!$ctrl.question.questionConsider.speaker" ng-click="$ctrl.chooseSpeaker()" type="button" class="btn btn-w-m btn-primary">
                        <i class="fa fa-bars"></i> &nbsp;Выбрать из справочника
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Содокладчики</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <ul type="square" style="padding-left: 16px; cursor: pointer;" ng-show="$ctrl.question.questionConsider.cospeaker" ui-sortable ng-model="$ctrl.question.questionConsider.cospeaker">
                        <li ng-repeat="item in $ctrl.question.questionConsider.cospeaker" style="white-space: pre-wrap;">{{item.organizationShort}}</li>
                    </ul>
                    <button ng-click="$ctrl.chooseCospeakers()" type="button" class="btn btn-w-m btn-primary">
                        <i class="fa fa-bars"></i> &nbsp;Выбрать из справочника
                    </button>
                </div>
            </div>

            <hr />

            <h4>Материалы</h4>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Ответственный за подготовку презентации</label>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <select
                        class="form-control our-select"
                        ng-model="$ctrl.question.questionConsider.presentationPrepare"
                        ng-options="item as item.fioFull for item in $ctrl.presentationResponsibles track by item.accountName">
                    </select>
                    <div class="pull-right">
                        <span class="caret our-caret"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Материалы проверены</label>
                <div class="col-lg-7 col-md-8 col-sm-9 m-t-8">
                    <label>
                        <input
                            type="checkbox"
                            icheck
                            ng-model="$ctrl.question.questionConsider.materialsChecked"> <i></i> Материалы проверены
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <button
                        ng-click="$ctrl.save()"
                        ng-disabled="!questionEditForm.$valid || !$ctrl.isHasPrefect()"
                        type="button"
                        class="btn btn-w-m btn-primary"
                    >Сохранить</button>
                    <button
                        ng-click="$ctrl.cancelHandler()"
                        type="button"
                        class="btn btn-w-m btn-default"
                    >Отмена</button>
                </div>
            </div>
        </form>
    </div>
</success> <error> <spam class="text-danger"> <span class="fa fa-times-circle"></span> <span> Ошибка при инициализации приложения</span> </spam> </error> </loading-block>
