<div class="animated fadeIn">
    <loading-block loading-status="$ctrl.loadingStatus">
        <success>
            <h2 class="semibold m-t-md">{{$ctrl.meetingType}} <span ng-bind="$ctrl.taskInfo.meetingDate | date: 'dd.MM.yyyy'"></span></h2>

            <div ng-if="$ctrl.taskInfo.description !== ''" uib-collapse="$ctrl.isCollapsed">
                <h4 style="margin-top: 0;">Описание задачи</h4>
                <div ng-bind-html="$ctrl.taskInfo.description"></div>
                <p>
                    <a ng-click="$ctrl.isCollapsed = true">
                        Скрыть описание
                    </a>
                </p>
                <hr>
            </div>
            <div style="margin-top: 20px;">
                <dl>
                    <dt class="registration-form_secretary-name_label">Секретарь ГК</dt>
                    <dd>{{$ctrl.taskInfo.secretaryName}}</dd>
                </dl>
            </div>
            <div style="margin: 20px 0;" class="pull-right">
                <button
                    class="btn btn-sm btn-primary"
                    ng-click="$ctrl.addQuestionHandler()"
                >Добавить вопрос</button>
                <button
                    title="Обновить список"
                    class="btn btn-sm btn-default"
                    ladda="$ctrl.updateInProgress"
                    data-style="slide-left"
                    data-spinner-size="18"
                    data-spinner-color="#FFFFFF"
                    ng-click="$ctrl.updateTableHandler()"
                ><i class="fa fa-refresh"></i></button>
            </div>
            <h3 style="margin: 30px 0;">Участники ГК</h3>
            <div ng-if="$ctrl.isQuorum" class="alert alert-success">Кворум набран <br/>
                <span class="m-r-md small">Зарегистрировано - {{$ctrl.countOfRegistered}}</span>
                <span class="small">Не зарегистрировано - {{$ctrl.rolesCount - $ctrl.countOfRegistered}}</span>
            </div>
            <div ng-if="!$ctrl.isQuorum" class="alert alert-warning">Кворум отсутствует <br/>
                <span class="m-r-md small">Зарегистрировано - {{$ctrl.countOfRegistered}}</span>
                <span class="small">Не зарегистрировано - {{$ctrl.rolesCount - $ctrl.countOfRegistered}}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style='width:40px;' class="center">№</th>
                            <th class="center">ФИО участника</th>
                            <th class="center">Роль</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="(key, tableElement) in $ctrl.tableData track by $index"
                            ng-class="{'semibold': tableElement.selectedParticipant.accountName, 'text-muted': !tableElement.selectedParticipant.accountName}"
                        >
                            <td>{{ $index + 1 }}</td>
                            <td class="center">
                                <select
                                    ng-model="tableElement.selectedParticipant"
                                    class="form-control our-select"
                                    ng-options="participant as participant.shortFullName for participant in tableElement.participantsList"
                                    ng-change="$ctrl.saveForm(); $ctrl.updateIsQuorum()"
                                >
                                </select>
                            </td>
                            <td class="left">{{tableElement.roleName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top: 30px;">
                <button
                    ladda="$ctrl.saveInProgress"
                    ng-click="$ctrl.saveHandler()"
                    style="margin-right: 5px;"
                    class="btn btn-sm btn-default"
                    data-style="slide-left"
                    data-spinner-size="18"
                    data-spinner-color="#FFFFFF"
                >Сохранить данные без завершения задачи</button>
                <button
                    ladda="$ctrl.submitInProgress"
                    ng-click="$ctrl.submitHandler()"
                    style="margin-left: 5px;"
                    class="btn btn-sm btn-primary"
                    data-style="slide-left"
                    data-spinner-size="18"
                    data-spinner-color="#FFFFFF"
                >Направить на голосование</button>
            </div>
        </success>
        <error>
            <div class="m-t-md">
                <span class="fa fa-times-circle text-danger"></span>
                <span> Ошибка при загрузке списка задач</span>
            </div>
        </error>
        <loading>
            <spinner type="'circle'"/>
        </loading>
    </loading-block>
</div>